 /*
  * This is a custom body background-color css file to help 
  * provide visual differentiation for each server environment
  * localhost : mistyrose #FFE4E1
  * dev: powderblue #B0E0E6
  * stage: burlywood #DEB887
  * prod: #F7F7F7
  *
  * You may change localhost to reflect your own personal preference or mood.
*/
body {
	background-color: powderblue;
	color:#4E5256;
}
.userProfile li > a,
.userProfile li > a:hover,
.userProfile li > a:focus{
  background-color: powderblue;
}
.userProfile .open > a,
.userProfile .open > a:hover,
.userProfile .open > a:focus{
  background-color: powderblue;
}

