.headerGradient{
  background-color: #232323;
}

.headerGradient h3{
	color:white;
  	padding: 5px;
  	margin: 5px;
}

.pagination {
  margin: 20px 0;
}

.merchantList li {
  list-style-type: none;
  margin-bottom: 1em;
}
.merchantList li a {
  color: #21a69e;
  margin-bottom: 1em;
}
.merchantList li a span{
  color: white;
}
.merchantList .btn.btn-primary {
  float: right;
  margin-right: 0.1em;
}
.redbalance{
    color: red;
}
.pagination ul {
  display: inline-block;
  display: inline;
  /*margin-bottom: 0;*/
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottom-left: 4px; /**/
  -moz-border-radius-top-left: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-top-right: 4px; /**/
  -moz-border-radius-bottom-right: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottom-left: 6px; /**/
  -moz-border-radius-top-left: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-top-right: 6px; /**/
  -moz-border-radius-bottom-right: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottom-left: 3px; /**/
  -moz-border-radius-top-left: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-top-right: 3px; /**/
  -moz-border-radius-bottom-right: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}
.tooltip-inner {
    white-space:pre;
    max-width:none;
}
.redStatus{
  color: red;
}
.greenStatus{
  color: #3FBAA8;
}
.orangeStatus{
  color: orange;
}
#nation-builder-button {
  margin-top: -35px;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 0;
	top:19px;
	pointer-events: auto;
	cursor: pointer;
}

/*Austin added this to widen the list that pops up with a type-a-ahead per AJ's request*/
.dropdown-menu {
   width: -moz-calc(100% - 28px);
   width: -webkit-calc(100% - 28px);
   width: calc(100% - 28px);
}

.product-dropdown {
    border: 1px solid #ccc;
    background: url(../img/caret.gif) no-repeat;
    background-position: 98% 50%;
    background-color:#fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.product-dropdown option {
    clear: both;
    background-color: #fff;
    color: #333;
    display: block;
    font-weight: normal;
    font-size:14px;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
select.product-dropdown::-ms-expand {
    display: none;
}
.caret {
    margin-top: 7px;
}