<div class="" data-ng-controller="HeaderController" data-ng-init="getVersion()" style="height: 100%;">
	<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<div class="collapse navbar-collapse" collapse="isCollapsed" role="navigation"  style="height: 100% !impoortant;">
		<div class="nav navbar-nav ">
			<a href="/#!/" class="img-responsive text-center"><img class='brandlogo' src="/modules/core/img/brand/whitelogo.png"></a>
		</div>
		<nav>
			<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
				<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
					<a  data-ng-if="item.extra === 'true'" ng-switch-when="dropdown" class="dropdown-toggle" href="/#!/{{item.link}}"><!--                     <span data-icon="{{item.icon}}" class="icon" id="{{item.icon}}"></span> -->
						 <span class="icon" id="{{item.icon}}">&nbsp;</span>
         				 <span data-ng-bind="item.title"></span>
					</a>
					<a  data-ng-if="item.extra === 'false'" ng-switch-when="dropdown" class="dropdown-toggle">
<!--						 <span data-icon="{{item.icon}}" class="icon" id="{{item.icon}}"></span> -->
						 <span class="icon" id="{{item.icon}}">&nbsp;</span>
         				 <span data-ng-bind="item.title"></span>
					</a>
					<ul ng-switch-when="dropdown" class="dropdown-menu">
						<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}" >
							<a href="/#!/{{subitem.link}}">
								<span data-ng-bind="subitem.title"></span>
							</a>
						</li>
					</ul>
					<a ng-switch-default href="/#!/{{item.link}}" >
<!--						<span data-icon="{{item.icon}}" class="icon" id="{{item.icon}}"></span> -->
						<span class="icon" id="{{item.icon}}">&nbsp;</span>
         				<span data-ng-bind="item.title"></span>
					</a>
				</li>
			</ul>
 		</nav>
        <div style="text-align:center;font-size:9pt;position: absolute; bottom: 0; height: 20px; padding-left:8px;" ><small>Ver: {{version}}</small>	</div>
    </div>
</div>
