<section data-ng-init="setTitle('')" data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="mojopay" class="img-responsive text-center" src="modules/core/img/brand/splash.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Start Selling Online Today
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://mojopay.com" target="_blank">Learn more</a>
			</p>
		</div>
	</div>

</section>
