<div class="" data-ng-controller="HeaderController">
	<nav>
		<ul class="nav navbar-nav userProfile" data-ng-hide="authentication.user">
			<li class="divider-vertical"></li>
			<li ui-route="/signin" class="userProfile" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav userProfile" data-ng-show="authentication.user">
			<li class="dropdown toplogin">
				<a class="userProfile dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-user-green"></span>&nbsp;
					<span data-ng-bind="authentication.user.Display_Name"></span> <b class="caret"></b>										
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/help">Help!</a>
					</li>
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<!--li data-ng-show="authentication.user.provider === 'local'"-->
					<li >
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li>
						<a href="/auth/signout" ng-click="outSsl()">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>