<section class="row" data-ng-init="setTitle('')" data-ng-controller="AuthenticationController">
	<div class="col-md-12 text-center">
			<img src="/modules/core/img/brand/logo.png">
	</div>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="Username">Username</label>
					<input type="text" id="Username" name="Username" class="form-control" data-ng-model="credentials.Username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" id="Password" name="Password" class="form-control" data-ng-model="credentials.Password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>				
				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>