<section class="row" data-ng-init="setTitle('')" data-ng-controller="AuthenticationController">
	<div class="col-md-12 text-center">
			<img src="/modules/core/img/brand/logo.png">
	</div>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" validate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="First_Name">First Name</label>
					<input type="text" id="First_Name" name="First_Name" class="form-control" data-ng-model="credentials.First_Name" placeholder="First Name" required>
				</div>
				<div class="form-group">
					<label for="Last_Name">Last Name</label>
					<input type="text" id="Last_Name" name="Last_Name" class="form-control" data-ng-model="credentials.Last_Name" placeholder="Last Name" required>
				</div>
				<div class="form-group">
					<label for="Email">Email</label>
					<input type="email" id="Email" name="Email" class="form-control" data-ng-model="credentials.Email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label for="Username">Username</label>
					<input type="text" id="Username" name="Username" class="form-control" data-ng-model="credentials.Username" placeholder="Username" required>
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" id="Password" name="Password" class="form-control" data-ng-model="credentials.Password" placeholder="Password" required>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
	
</section>