.brandlogo{
	width: auto;
	height: 100%;

}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.negativeNumber   {
	color: red;
}
h3 small {	
font-size: 50%;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a span.ng-binding {
    position: relative;
    top: 5px;
}
span.icon {
    height: 29px;
    width: 29px;
    display:inline-block;
}
#icon-home {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) 0 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-home, .navbar-inverse .navbar-nav > li > a:focus > #icon-home {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) 0 -29px;
}
#icon-virtual-terminal {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -29px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-virtual-terminal, .navbar-inverse .navbar-nav > li > a:focus > #icon-virtual-terminal {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -29px -29px;
}
#icon-customer-vault {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -58px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-customer-vault, .navbar-inverse .navbar-nav > li > #icon-customer-vault {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -58px -29px;
}
#icon-recurring-payments {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -87px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-recurring-payments, .navbar-inverse .navbar-nav > li > a:focus > #icon-recurring-payments {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -87px -29px;
}
#icon-integration {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -116px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-integration, .navbar-inverse .navbar-nav > li > a:focus > #icon-integration {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -116px -29px;
}
#icon-easy-buttons {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -145px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-easy-buttons, .navbar-inverse .navbar-nav > li > a:focus > #icon-easy-buttons {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -145px -29px;
}
#icon-merchant-accounts {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -174px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-merchant-accounts, .navbar-inverse .navbar-nav > li > a:focus > #icon-merchant-accounts {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -174px -29px;
}
#icon-super-admin {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -203px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-super-admin, .navbar-inverse .navbar-nav > li > a:focus > #icon-super-admin {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -203px -29px;
}
#icon-transaction-history {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -232px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-transaction-history, .navbar-inverse .navbar-nav > li > a:focus > #icon-transaction-history {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -232px -29px;
}
#icon-transaction-snapshot {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -261px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-transaction-snapshot, .navbar-inverse .navbar-nav > li > a:focus > #icon-transaction-snapshot {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -261px -29px;
}
#icon-advanced-reports {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -290px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-advanced-reports, .navbar-inverse .navbar-nav > li > a:focus > #icon-advanced-reports {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -290px -29px;
}
#icon-prepaid {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -319px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-prepaid, .navbar-inverse .navbar-nav > li > a:focus > #icon-prepaid {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -319px -29px;
}
#icon-export-button {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -349px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-export-button, .navbar-inverse .navbar-nav > li > a:focus > #icon-export-button {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -348px -29px;
}
#icon-edit {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -377px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-edit, .navbar-inverse .navbar-nav > li > a:focus > #icon-edit {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -377px -29px;
}
#icon-delete {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -406px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-delete, .navbar-inverse .navbar-nav > li > a:focus > #icon-delete {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -406px -29px;
}
#icon-user {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -435px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-user, .navbar-inverse .navbar-nav > li > a:focus > #icon-user {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -435px -29px;
}
#icon-menu {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -464px 0;
}
.navbar-inverse .navbar-nav > li > a:hover > #icon-menu, .navbar-inverse .navbar-nav > li > a:focus > #icon-menu {
    width: 29px;
    height: 29px;
    background: url(../img/icons.png) -464px -29px;
}
.icon-envelope-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) 0 0;
    display: inline-block;
}
.icon-envelope-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) 0 0;
    display: inline-block;
}

.icon-pencil-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -14px 0;
    display: inline-block;
}
.icon-pencil-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -14px 0;
    display: inline-block;
}
.icon-search-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -28px 0;
    display: inline-block;
}
.icon-search-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -28px 0;
    display: inline-block;
}
.icon-eye-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -42px 0;
    display: inline-block;
}
.icon-eye-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -42px 0;
    display: inline-block;
}
.icon-print-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -56px 0;
    display: inline-block;
}
.icon-print-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -56px 0;
    display: inline-block;
}
.icon-trash-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -70px 0;
    display: inline-block;
}
.icon-trash-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -70px 0;
    display: inline-block;
}
.icon-download-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -84px 0;
    display: inline-block;
}
.icon-download-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -84px 0;
    display: inline-block;
}
.icon-cog-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -98px 0;
    display: inline-block;
}
.icon-cog-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -98px 0;
    display: inline-block;
}
.icon-user-white {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-white.png) -112px 0;
    display: inline-block;
}
.icon-user-black {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-black.png) -112px 0;
    display: inline-block;
}
.icon-user-green {
    width: 14px;
    height: 14px;
    background: url(../img/small-icons-green.png) -112px 0;
    display: inline-block;
}

/* center eyeball in form */
div.controls i.icon-eye-black{
    margin: 9px;
}