<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
    <p>Dear {{name}},</p>
    <p></p>
    <p>Your MojoPay account has been created but you still need to confirm your account.</p>
    <p>Your username is: {{username}}</p>
    <p>Click on the link below to confirm your account and set your password:</p>
    <p>{{url}}</p>
    <br>
	<p>The MojoPay Support Team</p>
</body>

</html>
