<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p>Dear {{name}},</p>
	<br>
	<p>
		You have to set up your password for your account at {{appName}}
	</p>
	<p>Please visit this url to create your password:</p>
	<p>{{url}}</p>
	<br>
	<br>
	<p>The MojoPay Support Team</p>
</body>

</html>
