<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p>Dear {{name}},</p>
	<br>
	<p>
		You have requested to have your password reset for your account at {{appName}}
	</p>
	<p>Please visit this url to reset your password:</p>
	<p>{{url}}</p>
	<strong>If you didn't make this request, you can ignore this email.</strong>
	<br>
	<br>
	<p>The MojoPay Support Team</p>
</body>

</html>
