<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:auto; font-size:13px; color:#333;">
	<table align="center">
    	<tbody>
	    	<tr style="height:90px;">
            	<td width="30" rowspan="3"></td>
            	<td><img src="https://www.mojopay.com/wp-content/themes/mojopay/images/mojopay-logo.png" alt="MojoPay" style="display:block;" /></td>
            	<td width="30" rowspan="3"></td>
            </tr>
	    	<tr>
            	<td style="border:1px solid gray; padding:30px;">
                <table style="width:100%;" cellpadding="5" cellspacing="0">
            	<tbody>
            		<tr style="background-color: #f2f2f2;">
                    	<td style="font-size: 18px;" align="center" height="30">{{MOJOPAY_MERCHANT_NAME1}} Receipt</td>
                	</tr>
                </tbody>
            </table>
            <br />Date: {{DATE}}
            <br />
            <br />Hello {{FIRSTNAME}},
			<br />
			<br />This charge will appear on your credit card statement.
            <br />
            <br />
            <table style="width:100%;">
            	<tbody>
                	<tr style="width:50%;">
			            <td><strong>Billing information</strong></td>
			            <td><strong>{{SHIPPING_TITLE}}</strong></td>
                    </tr>
        		    <tr style="width:50%;">
                    	<td>{{BILLING_BLOCK}}</td>
                    	<td>{{SHIPPING_BLOCK}}</td>
                    </tr>
            	</tbody>
			</table>
            <br />&nbsp;
            <table style="width:100%;" cellpadding="5" cellspacing="0">
            	<tbody>
            		<tr style="background-color: #f2f2f2;">
                    	<td style="width:33%; border-bottom:3px solid white;">Transaction ID</td>
                    	<td style="width:33%; border-bottom:3px solid white;">Card Type</td>
                    	<td style="width:33%; border-bottom:3px solid white;">Amount</td>
                	</tr>
            		<tr>
                    	<td style="width:33%; border-bottom:3px solid white;">{{TRANSACTIONID}}</td>
                    	<td style="width:33%; border-bottom:3px solid white;">{{CARDTYPE}}</td>
                    	<td style="width:33%; border-bottom:3px solid white;">${{AMOUNT}}</td>
                	</tr>
                <tbody>
            </table>

            <br />Please keep this receipt number for future reference. You'll need it if you contact customer service at {{MOJOPAY_MERCHANT_NAME2}}.
                </td>
	    	</tr>
	    	<tr style="font-size: 11px;">
                <td align="center">
                    <br />
                    &copy; 2016 MojoPay, Inc. All rights reserved.
                    <br />26800 Aliso Viejo Parkway
                    <br />Suite 250
                    <br />Aliso Viejo CA, 92656
                    <br />
                    <br /><a href="https://www.mojopay.com/legal/">MojoPay Privacy Policy</a>
                    <br />
                </td>
	    	</tr>
        </tbody>
    </table>
</body>
</html>
