<section  data-ng-controller="SaleController" data-ng-init="setView('account_balance');config();setTitle('Advanced Reports')">
    <div class="col-md-12 container1">
         <div class="form-group">
            <h1>Account Balance Report</h1>
        </div>
        <form class="form-horizontal" data-ng-submit="AccountBalanceWrap()" novalidate>
            <fieldset>
                
                <div class="col-md-12">
                    
                    <div class="form-group">
                       <h3>Search Transactions  <!-- small>(This report reflects all data up to end of day yesterday - 11:59:59 PM)</small --></h3>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="oneDate">Date &nbsp; <span data-ng-show="date_error" class="text-danger">{{date_error}}</span></label>
                            <div class="controls">
                                <input type="date" data-ng-model="oneDate" id="oneDate" class="form-control" placeholder="Date" max="{{maxDate}}" ng-blur="DateChecker();">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-1">
                    </div>
                    
                    <!--
                    <div ng-show="!isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Product Filter</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown"><span style="float: left;">{{productId.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproductid"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProductId(c)" ng-repeat='c in sampleProductCategories[0].products| filter:queryproductid'> <a href=""> {{c.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                   
                   
                 <!-- Austin - new div only shows when the Merchant just has one product -->        
                 <!--<div ng-show="!isAdmin && merchantId.products.length == 2" class="col-md-5">
                     <div class="form-group">  
                        <label class="control-label">Product Name</label>      
                        <div ng-model="Product_NameABR_Merchant"
                             ng-click="Product_NameChangeABR_Merchant()"
                             class="form-control"> 
                             {{ sampleProductCategories[1].products }}                        
                         </div>
                     </div>    
                 </div>-->
                 
                 
                  <!--MERCHANT ACCOUNT ------------------------------------------------------------------------>                 
                    
                   <!-- Austin - new dropdown, simpler, more responsive with clicking in and out -->
                   <div ng-show="!isAdmin && sampleProductCategories[0].products.length > 2" class="col-md-5">                        
                        <div class="form-group">                            
                            <label class="control-label">Product Filter</label>                      
                             <select
                                  ng-model="Product_NameABR_Merchant"
                                  ng-options="c.name for c in sampleProductCategories[0].products"
                                  ng-change="Product_NameChangeABR_Merchant()"                                  
                                  class="form-control product-dropdown">
                             </select>                            
                        </div>                        
                    </div>                      

                    <div ng-show="!isAdmin && sampleProductCategories[0].products.length == 2" class="col-md-5">
                     <div class="form-group">  
                        <label class="control-label">Product Name</label>      
                        <div class="form-control"> 
                             {{ sampleProductCategories[0].products[1].name }}                                            
                         </div>
                     </div>    
                    </div>                      

                    <!--MERCHANT ACCOUNT ------------------------------------------------------------------------>


                    <div class="row"></div>
                    
                    
                    <!--ADMIN ACCOUNTS ------------------------------------------------------------------------>

                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Merchant Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown"><span style="float: left;">{{merchantId.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setMerchantId(c)" ng-repeat='c in sampleProductCategories| filter:query'> <a href=""> {{c.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                                           
                   <!-- Austin - new dropdown, simpler, more responsive with clicking in and out -->  
                   <div ng-show="isAdmin && merchantId.products.length > 2" class="col-md-5">                        
                        <div class="form-group">                            
                            <label class="control-label">Product Name</label>                      
                             <select
                                  ng-model="Product_NameABR"
                                  ng-options="p.name for p in merchantId.products"
                                  ng-change="Product_NameChangeABR()"                                  
                                  class="form-control product-dropdown">
                             </select>                            
                        </div>                        
                    </div>  
                    
                    
                  <!-- Austin - new div only shows when the Merchant just has one product -->        
                  <div ng-show="isAdmin && merchantId.products.length === 2" class="col-md-5">
                     <div class="form-group">  
                        <label class="control-label">Product Name</label>      
                        <div class="form-control"> 
                             {{ merchantId.products[1].name }}                                            
                         </div>
                     </div>    
                  </div>
                 
                 <!--ADMIN ACCOUNTS ------------------------------------------------------------------------>
                 
                                
                              
                 
                 
                    
                    <!--<div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Product Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu3" data-toggle="dropdown"><span style="float: left;">{{products.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproduct"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProducts(p)" ng-repeat='p in merchantId.products| filter:queryproduct'> <a href=""> {{p.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    
                    
                    <!--Austin - come back to this 7/29-->
                   <!--<div ng-show="isAdmin && merchantId.products.length == 2" class="col-md-5">
                     <div class="form-group">  
                        <label class="control-label">Product Name</label>      
                        <div ng-model="Product_NameABR"
                             ng-click="Product_NameChangeABR()"
                             class="form-control"> 
                             {{ merchantId.products[1].name }}                        
                         </div>
                     </div>    
                 </div> -->
                    
                    

                                

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" class="btn btn-primary btn-lg" value="Search">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
                
            </fieldset>
        </form>
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>

        <div class="col-md-12 table-responsive">
            
          <!--<table class="table table-striped" ng-show="itemsBalance.length > 0">-->
          <table class="table table-striped" ng-show="showReportABR">              
            <thead>
              <tr ng-show="itemsBalance.length>0">
                <th>Product</th>
                <th>Balance Date</th>
                <th ng-show="isAdmin">Merchant ID</th>
                <th ng-show="isAdmin">Merchant Name</th>
                <th style="text-align:right">Current Balance</th>
                <th style="text-align:right">Total Reserve Balance</th>
                <th style="text-align:right">Total Held for<br>
                or Due to Merchant</th>
              </tr>
            </thead>
            <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->

                <tr ng-repeat="item in itemsBalance | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;">

                    <td>{{item.Description}}</td>
                    <!-- T Date -->
                    <td>
                        {{item.Date | dateForHumanWithoutHour}}
                    </td>

                    <!-- Merchant ID -->
                    <td ng-show="isAdmin">
                        {{item.Merchant_ID}}
                    </td>

                    <!-- Merchant Name -->
                    <td ng-show="isAdmin">
                        {{item.Merchant_Name}}
                    </td>

                    <!-- Current Balance -->
                    <td ng-class="{'redbalance':item.Net_Amount < 0}" style="text-align:right">
                        {{item.Net_Amount | displaynullbalance}}
                    </td>

                    <!-- Total Reserve Balance item.reserveBalance -->
                    <td style="text-align:right">
                        {{item.Reserve_Amount | displaynullcurrency}}
                    </td>

                    <!-- Total Held for Merchant -->
                    <td ng-class="{'redbalance': (item.Current_Reserve_Amount + item.Net_Amount) < 0}" style="text-align:right">
                        {{item.Reserve_Amount + item.Net_Amount | displaynullbalance}}
                    </td>

                    <!-- File -->
                    <td style="text-align:right">

                    </td>

                </tr>
            </tbody>

            <tbody>
                <tr style="height:30px;">

                    <td ng-show="!isAdmin"></td>
                    <td ng-show="isAdmin"></td>
                    <td ng-show="isAdmin"></td>
                    <td ng-show="isAdmin"></td>
                    <td><strong>Totals</strong></td>
                    <!-- Current Balance -->
                    <td style="text-align:right">
                        <span ng-class="{'redbalance':accountBalanceCurrentBalance < 0}"><strong>{{accountBalanceCurrentBalance | displaynullbalance}}</strong></span>
                    </td>
                    <!-- Total Reserve Balance item.reserveBalance -->
                    <td style="text-align:right">
                        <span ng-class="{'redbalance':accountBalanceReserveBalance < 0}"><strong>{{accountBalanceReserveBalance | displaynullbalance}}</strong></span>
                    </td>
                    <!-- Total Held for Merchant -->
                    <td style="text-align:right">
                        <span ng-class="{'redbalance':accountBalanceHeld < 0}"><strong>{{accountBalanceHeld | displaynullbalance}}</strong></span>
                    </td>
                    <!-- File -->
                    <td style="text-align:right"></td>
                </tr>
            </tbody>

            <tfoot>
              <td style="text-align:center" colspan="12">
                <div class="pagination" ng-show="itemsBalance.length > itemsPerPage">
                  <ul>
                    <li>
                        <a>{{firstItem}} - {{lastItem}} of {{itemsBalance.length}}</a>
                    </li>
                    <li ng-class="startPageDisabled()">
                      <a href ng-click="startPage()">«« Start</a>
                    </li>
                    <li ng-class="prevPageDisabled()">
                      <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range()"
                      ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                      <a href="#">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()">
                      <a href ng-click="nextPage()">Next »</a>
                    </li>
                    <li ng-class="endPageDisabled()">
                      <a href ng-click="endPage()">End »»</a>
                    </li>
                    <li>
                        <a>
                        <form>
                            <select data-ng-model="pageSelected" ng-change="goToPage()">
                                <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                            </select>
                        </form>
                        </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <!--<div class="col-md-12 table-responsive" ng-show="itemsBalance.length > 0">-->
        <div class="col-md-12 table-responsive" ng-show="showReportABR">             

            <!-- Export button -->
            <a download="merchant_activity_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="merchant_activity_report.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="merchant_activity_report.tsv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            --> 
            <!-- a href="#" ng-show="isAdmin">
                <button class="btn btn-primary" ng-click="openFeeModal()" type="submit">
                    <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Add Line Item
                </button>
            </a -->

            <br /><br />
            
            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Merchant Activity Report</h1>
                  <table class="table table-striped" id="datatable">
                    <thead>
                      <tr ng-show="itemsBalance.length>0">
                        <th ng-show="!isAdmin">Product</th>
                        <th>Balance Date</th>
                        <th ng-show="isAdmin">Merchant ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th style="text-align:right">Current Balance</th>
                        <th style="text-align:right">Total Reserve Balance</th>
                        <th style="text-align:right">Total Held for<br>
                        or Due to Merchant</th>
                      </tr>
                   </thead>
                    <tbody>
                        <tr ng-repeat="item in itemsBalance" style="height:30px;">
                            <!-- Product -->
                            <td ng-show="!isAdmin">{{item.Description}}</td>

                            <!-- T Date -->
                            <td>
                                {{item.Date | dateForHumanWithoutHour}}
                            </td>

                            <!-- Merchant ID -->
                            <td ng-show="isAdmin">
                                {{item.Merchant_ID}}
                            </td>

                            <!-- Merchant Name -->
                            <td ng-show="isAdmin">
                                {{item.Merchant_Name}}
                            </td>

                            <!-- Current Balance -->
                            <td style="text-align:right">
                                {{item.Net_Amount | displaynullbalance}}
                            </td>

                            <!-- Total Reserve Balance item.reserveBalance -->
                            <td style="text-align:right">
                                {{item.Reserve_Amount | displaynullbalance}}
                            </td>

                            <!-- Total Held for Merchant -->
                            <td style="text-align:right">
                                {{item.Reserve_Amount + item.Net_Amount | displaynullbalance}}
                            </td>

                            <!-- File -->
                            <td style="text-align:right">

                            </td>


                        </tr>
                    </tbody>
                  </table>
                </table>
            </div>      
        </div>        
    </div>
</section>
