<section  data-ng-controller="SaleController" data-ng-init="setView('account_summary');config();setTitle('Advanced Reports');">
    <div class="container1 col-md-12">
         <div class="form-group">
            <h1>Account Summary</h1>
        </div>
        <form class="form-horizontal" data-ng-submit="AccountSummaryWrap()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                        <h3>Search Transactions</h3>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="startDate">Start Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="endDate">End Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="endDate" id="endDate" class="form-control" placeholder="End Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>

                    <!--
                    <div ng-show="!isAdmin" class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="productId">Product Name</label>
                                    <div class="controls">
                                        <select data-ng-model="productId" name="productId" id="productId" class="form-control" ng-options="c.name for c in sampleProductCategories[0].products track by c.Product_ID">
                                </select>                                        
                                    </div>
                                </div>
                            </div>
                    </div>
                    -->

                    <div ng-show="!isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" >Product Filter</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown"><span style="float: left;">{{productId.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproductid"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProductId(c)" ng-repeat='c in sampleProductCategories[1].products| filter:queryproductid'> <a href=""> {{c.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <!--
                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="merchantId">Merchant Name</label>
                            <div class="controls">
                                <select data-ng-model="merchantId" name="merchantId" id="merchantId" ng-options="c.name for c in sampleProductCategories track by c.value" class="form-control">
                                </select>

                            </div>
                        </div>
                    </div>
                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="products">Product Name</label>
                            <div class="controls">
                                <select data-ng-model="products" id="products" name="products" ng-options="p.name for p in merchantId.products" class="form-control">
                                    <option ng-selected=""
                                            ng-repeat="product in products"
                                            value="{{product.id}}">
                                      {{product.name}}
                                    </option>                                                                        
                                </select>   
                            </div>
                        </div>
                    </div>
                    -->

                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label>Merchant Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown"><span style="float: left;">{{merchantId.Name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setMerchantId(c)" ng-repeat='c in sampleProductCategories| filter:query'> <a href=""> {{c.Name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label>Product Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu3" data-toggle="dropdown"><span style="float: left;">{{products.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproduct"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProducts(p)" ng-repeat='p in merchantId.products| filter:queryproduct'> <a href=""> {{p.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-5">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-lg" value="Go">
                                </div>
                        </div>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
              
            </fieldset>
        </form>
         <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        <div ng-hide="reportProcesed">
            Processing {{reportProcessorCounter}} of {{reportProcessorTotal}} processor(s), Now processing: {{reportProcessorName}}
            <br />
            {{reportProcessorMessage}}
        </div>
        <fieldset ng-show="itemsAccountSummary.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th style="text-align:right">Count</th>
                        <th style="text-align:right">Debit</th>
                        <th style="text-align:right">Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ACH Credit</td>
                        <td style="text-align:right"></td><!--settleCount-->
                        <td style="text-align:right"></td>
                        <td style="text-align:right"></td><!--settleAmount-->
                    </tr>
                    <tr>
                        <td title="{{disbursementExplain}}">ACH Disbursement</td>
                        <td style="text-align:right">{{settleCount}}</td>
                        <td style="text-align:right">{{disbursement | displaynullcurrency}}</td>
                        <td style="text-align:right"></td>
                    </tr>
                    <tr>
                        <td>Credit (e.g. refunds)</td>
                        <td style="text-align:right">{{refundCount}}</td>
                        <td style="text-align:right">{{refundAmount | displaynullcurrency}}</td>
                        <td style="text-align:right"></td>
                    </tr>                    
                    <tr>
                        <td title="{{discountFeeExplain}}">Discounts Fees</td>
                        <td style="text-align:right">{{settleCount}}</td>
                        <td style="text-align:right">{{discountFee | displaynullcurrency}}</td>
                        <td style="text-align:right"></td>
                    </tr>
                    
                    <tr>
                        <td>Monthly Flat Fee</td>
                        <td style="text-align:right">{{month}}</td>
                        <td style="text-align:right">{{monthlyFee | displaynullcurrency}}</td>
                        <td style="text-align:right"></td>
                    </tr>
                    <tr>
                        <td>Settlement</td>
                        <td style="text-align:right">{{settleCount}}</td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right">{{settleAmount | displaynullcurrency}}</td>
                    </tr>
                    <tr>
                        <td>Transactions Fees</td>
                        <td style="text-align:right">{{transactionsCount}}</td>
                        <td style="text-align:right">{{transactionFeeTotal | displaynullcurrency}}</td>
                        <td style="text-align:right"></td>
                    </tr>
                    <tr>
                        <td>Auth</td>
                        <td style="text-align:right">{{authCount}}</td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right"></td>
                    </tr>                    
                    <tr>
                        <td>Voided</td>
                        <td style="text-align:right">{{voidCount}}</td>
                        <td style="text-align:right">{{voidAmount | displaynullcurrency}}</td>
                        <td style="text-align:right"></td>
                    </tr>                    
                    <tr>
                        <td>Failed/Declined Transactions</td>
                        <td style="text-align:right">{{failedCount}}</td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right"></td>
                    </tr>
                </tbody>
            <tbody>

        </fieldset>    
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-striped" ng-show="itemsAccountSummary.length > 0">
            <thead>
              <tr ng-show="itemsAccountSummary.length>0">
                <th ng-show="!isAdmin">Product</th>
                <th ng-show="isAdmin">Merchant ID</th>
                <th ng-show="isAdmin">Merchant Name</th>
                <th>Date</th>
                <th>Transaction Number</th>
                <th>Description</th>
                <th style="text-align:right">Debit</th>
                <th style="text-align:right">Credit</th>
                <th style="text-align:right">Balance</th>
              </tr>
            </thead>
            <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr ng-repeat="item in itemsAccountSummary | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;">

                    <td ng-show="!isAdmin">{{item.processor_id}}</td>

                    <!-- Merchant ID -->
                    <td ng-show="isAdmin">
                        {{item.merchant_id}}
                    </td>

                    <!-- Merchant Name -->
                    <td ng-show="isAdmin">
                        {{item.merchant_name}}
                    </td>

                    <!-- T Date -->
                    <td>
                        {{item.time | dateForHuman}}
                    </td>

                    <!-- T Number -->
                    <td>
                        {{item.transaction_id}}
                    </td>

                    <!-- Description -->
                    <td>
                        {{item.description}}
                    </td>

                    <!-- Debit -->
                    <td style="text-align:right">
                        {{item.debit | displaynullcurrency}}
                    </td>

                    <!-- Credit -->
                    <td style="text-align:right">
                        {{item.credit | displaynullcurrency}}
                    </td>

                    <!-- Balance -->
                    <td ng-class="{'redbalance':item.balance < 0}" style="text-align:right">
                        {{item.balance | displaynullbalance}}
                    </td>

                </tr>
            </tbody>
            <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr style="height:30px;">
                    <th ng-show="!isAdmin"></th>
                    <th ng-show="isAdmin"></th>
                    <th ng-show="isAdmin"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right"><strong>{{sumDebit | displaynullcurrency}}</strong></td>
                    <td style="text-align:right"><strong>{{sumCredit | displaynullcurrency}}</strong></td>
                    <td ng-class="{'redbalance':sumBalance < 0}" style="text-align:right"><strong>{{sumBalance | displaynullbalance}}</strong></td>
                </tr>
            </tbody>
            <tfoot>
              <td style="text-align:center" colspan="12">
                <div class="pagination" ng-show="itemsAccountSummary.length > itemsPerPage">
                  <ul>
                    <li>
                        <a>{{firstItem}} - {{lastItem}} of {{itemsAccountSummary.length}}</a>
                    </li>
                    <li ng-class="startPageDisabled()">
                      <a href ng-click="startPage()">«« Start</a>
                    </li>
                    <li ng-class="prevPageDisabled()">
                      <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range()"
                      ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                      <a href="">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()">
                      <a href ng-click="nextPage()">Next »</a>
                    </li>
                    <li ng-class="endPageDisabled()">
                      <a href ng-click="endPage()">End »»</a>
                    </li>
                    <li>
                        <a>
                        <form>
                            <select data-ng-model="pageSelected" ng-change="goToPage()">
                                <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                            </select>
                        </form>
                        </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="itemsAccountSummary.length > 0">

            <!-- Export button -->
            <a download="account_summary_report.xls" href="" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="account_summary_report.csv" href="" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>
            
            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="account_summary_report.tsv" href="" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->
            
            <a href="" ng-show="isAdmin">
                <button class="btn btn-primary" ng-click="openFeeModal()" type="submit">
                    <span class="icon-cog-white" aria-hidden="true"></span>
                    Add Line Item
                </button>
            </a>

            <br /><br />
            
            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Account Summary</h1>
                  <table class="table table-striped" id="datatable">
                    <thead>
                      <tr ng-show="itemsAccountSummary.length>0">
                        <th ng-show="isAdmin">Merchant ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th>Date</th>
                        <th>Transaction Number</th>
                        <th>Description</th>
                        <th style="text-align:right">Debit</th>
                        <th style="text-align:right">Credit</th>
                        <th style="text-align:right">Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemsAccountSummary" style="height:30px;">

                            <td ng-show="isAdmin">
                                {{item.merchant_id}}
                            </td>

                            <td ng-show="isAdmin">
                                {{item.merchant_name}}
                            </td>

                            <td>
                                {{item.time | dateForHuman}}
                            </td>

                            <td>
                                {{item.transaction_id}}
                            </td>

                            <td>
                                {{item.description}}
                            </td>

                            <td style="text-align:right">
                                {{item.debit | displaynullcurrency}}
                            </td>

                            <td style="text-align:right">
                                {{item.credit | displaynullcurrency}}
                            </td>

                            <td ng-class="{'redbalance':item.balance < 0}" style="text-align:right">
                                {{item.balance | displaynullbalance}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>      
        </div>        
    </div>
</section>
