<section  data-ng-controller="SaleController" data-ng-init="setView('ACH_activity');config();setTitle('Advanced Reports');">
    <div  ng-show="isAdmin" class="container1 col-md-12">
         <div class="form-group">
            <h1>ACH Report</h1>
        </div>
        <form class="form-horizontal" data-ng-submit="ACHActivityWrap()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                            <h3>Search Parameters</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="startDate">Start Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="endDate">End Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="endDate" id="endDate" class="form-control" placeholder="End Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Merchant Name</label>
                                <div class="dropdown dropdown-scroll">
                                    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown"><span style="float: left;">{{merchantId.name}}</span><span style="float:right;" class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                                <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                                            </div>
                                        </li>
                                        <li id="merchantId" role="presentation" ng-click="setMerchantId(c)" ng-repeat='c in sampleProductCategories| filter:query'> <a href=""> {{c.name}} </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    
                    <!--<div  class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Product Name</label>

                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu3" data-toggle="dropdown"><span style="float: left;">{{products.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproduct"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProducts(p)" ng-repeat='p in merchantId.products| filter:queryproduct'> <a href=""> {{p.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
                
                
              <!-- Austin - new dropdown, simpler, more responsive with sing clicking in and out -->
              <div ng-show="isAdmin && merchantId.products.length > 2" class="col-md-5">                        
                    <div class="form-group">                        
                        <label class="control-label">Product Name</label>                      
                         <select
                              ng-model="Product_NameACH"
                              ng-options="p.name for p in merchantId.products"                                  
                              ng-change="Product_NameChangeACH()"                                
                              class="form-control product-dropdown">
                         </select>                            
                    </div>                        
                </div>                
                
                
                  <!-- Austin - new div only shows when the Merchant just has one product -->        
                  <div ng-show="isAdmin && merchantId.products.length === 2" class="col-md-5">
                     <div class="form-group">  
                        <label class="control-label">Product Name</label>      
                        <div class="form-control"> 
                             {{ merchantId.products[1].name }}                                            
                         </div>
                     </div>    
                  </div>
                
                
                
                
                

                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" class="btn btn-primary btn-lg" value="Search">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>

        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>

        <div class="col-md-12 table-responsive" id="report-body">
          <!--<table class="table table-striped" ng-show="itemsACHActivity.length > 0">-->
          <table class="table table-striped" ng-show="showReportACH">
            <thead>
              <tr ng-show="itemsACHActivity.length>0">
                <th>Processor ID</th>
                <th>Merchant Name</th>
                <th>Date</th>
                <th>Description</th>
                <th style="text-align:right">Debit</th>
                <th style="text-align:right">Credit</th>
              </tr>
            </thead>
            <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr ng-repeat="item in itemsACHActivity | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;">
                    <!-- Merchant ID -->
                    <td>
                        {{item.processor}}
                    </td>

                    <!-- Merchant Name -->
                    <td>
                        {{item.merchantName}}
                    </td>

                    <!-- T Date -->
                    <td>
                        {{item.date | dateForHumanWithoutHour}}
                    </td>


                    <!-- Description -->
                    <td>
                        {{item.short_description}}
                    </td>

                    <!-- Debit -->
                    <td style="text-align:right">
                        {{item.debit | displaynullcurrency}}
                    </td>

                    <!-- Credit -->
                    <td style="text-align:right">
                        {{item.credit | displaynullcurrency}}
                    </td>

                </tr>
            </tbody>
            <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr style="height:30px;">
                    <th>REPORT TOTAL</th>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td style="text-align:right"><strong>{{sumDebit | displaynullcurrency}}</strong></td>
                    <td style="text-align:right"><strong>{{sumCredit | displaynullcurrency}}</strong></td>
                  
                </tr>
            </tbody>
            <tfoot>
              <td style="text-align:center" colspan="12">
                <div class="pagination" ng-show="itemsACHActivity.length > itemsPerPage">
                  <ul>
                    <li>
                        <a>{{firstItem}} -> {{lastItem}} of {{itemsACHActivity.length}}</a>
                    </li>
                    <li ng-class="startPageDisabled()">
                      <a href ng-click="startPage()">«« Start</a>
                    </li>
                    <li ng-class="prevPageDisabled()">
                      <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range()"
                      ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                      <a href="">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()">
                      <a href ng-click="nextPage()">Next »</a>
                    </li>
                    <li ng-class="endPageDisabled()">
                      <a href ng-click="endPage()">End »»</a>
                    </li>
                    <li>
                        <a>
                        <form>
                            <select data-ng-model="pageSelected" ng-change="goToPage()">
                                <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                            </select>
                        </form>
                        </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="showReportACH">

            <!-- Export button -->
            <a download="ach_activity_report.xls" href="" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="ach_activity_report.csv" href="" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="ach_activity_report.tsv" href="" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->

            <br /><br />
            <br /><br />

            <div id="exportable" ng-show="false">
                <h1>ACH Report</h1>
                  <table class="table table-striped" id="datatable">
                    <thead>
                      <tr ng-show="itemsACHActivity.length>0">
                        <th>Merchant ID</th>
                        <th>Merchant Name</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th style="text-align:right">Debit</th>
                        <th style="text-align:right">Credit</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemsACHActivity" style="height:30px;">

                            <!-- Merchant ID -->
                            <td>
                                {{item.processor}}
                            </td>

                            <!-- Merchant Name -->
                            <td>
                                {{item.merchantName}}
                            </td>
                            <!-- T Date -->
                            <td>
                                {{item.date | dateForHumanWithoutHour}}
                            </td>


                            <!-- Description -->
                            <td>
                                {{item.short_description}}
                            </td>

                            <!-- Debit -->
                            <td style="text-align:right">
                                <span ng-if="item.short_description == 'ACH Credit - Account Funding' || item.short_description == 'ACH Disbursement' || item.short_description == 'Reserve'">
                                    {{item.debit | displaynullcurrency}}
                                </span>
                                <span ng-if="item.short_description != 'ACH Credit - Account Funding' && item.short_description != 'ACH Disbursement' && item.short_description != 'Reserve'">
                                    <a href="{{item.link}}" target="blank">{{item.debit | displaynullcurrency}}</a>
                                </span>
                            </td>

                            <!-- Credit -->
                            <td style="text-align:right">
                                <a href="{{item.link}}" target="blank">{{item.credit | displaynullcurrency}}</a>
                            </td>

                        </tr>
                    </tbody>
                  </table>
                </table>
            </div>      
        </div>        
    </div>
</section>
