<section data-ng-controller="BoardingCrudController" data-ng-init="findAdmins();setTitle('Administrator List');">
	<ul class="merchantList container1">
		<li data-ng-repeat="administrator in administrators">
			<div class="row">
				<div class="col-md-4">
					<h3><a href="">{{administrator.Username}}</a></h3>
					<div>{{administrator.First_Name}}&nbsp;{{administrator.Last_Name}}</div>
					<div>{{administrator.Email}}</div>
				</div>
				<div class="col-md-offset-6">
					<div class="col-md-8">
					<div>
						 <label>Super Admin:</label>
						 <select  class="form-control" id="superadmin{{administrator.id}}" ng-model="administrator.Roles" ng-change="changeSelect(administrator)">
						  <option value="super">Yes</option>
		                  <option value="admin">No</option>
		                </select>
					</div>
					<div>
						 <label>Status:</label>
						 <select  class="form-control" id="isActive{{administrator.id}}" ng-model="administrator.Is_Active" ng-change="changeActiveSelect(administrator)">
		                  <option value="true">Active</option>
		                  <option value="false">Disabled</option>
		                </select>
					</div>
					<br>
					<div><input style="width:100%;"  ng-click="openAdmin('',{{administrator}})" type="submit" class="btn btn-primary" value="Reset Password"></div>
					<div>
				</div>
			</div>
			</div>
		</div>
			<hr style="margin:10px 10px 10px -20px;">
		</li>
	</ul>

	<h1 data-ng-hide="!administrators || administrators.length">No Administrators yet. <br> Why don't you <a href="/#!/admincreate">Create One</a>?</h1>
</section>