<section  data-ng-controller="SaleController" data-ng-init="setView('audit_recurr_plan_activity');Recurring_Changes_Detail_ActivityWrap();setTitle('Advanced Reports');">
    <div class="container1 col-md-12">
        <div class="form-group">
            <h1>Recurring Plan Changes Audit Detail</h1>
        </div>
        
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        
        <!--beginning of report display-->
        
        <div class="col-md-12 table-responsive">
            <table class="table table-striped" ng-show="showReport">
                <thead>
                    <tr ng-show="auditItems.length>0">
                        <th ng-show="isAdmin">Merchant ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th>Product</th>
                        <th>Plan Name</th>
                        <th>User Making Change</th>
                        <th>Date Changed</th>
                    </tr>
                </thead>
                <tbody><!--  | orderObjectBy : criteria : direction : auditItems : currentPage -->
                    <tr ng-repeat="item in auditItems" style="height:30px;">
                        <!-- Merchant ID -->
                        <td ng-show="isAdmin">
                            {{item.Boarding_ID}}
                        </td>
    
                        <!-- Merchant Name -->
                        <td ng-show="isAdmin">
                            {{item.Merchant_Name}}
                        </td>
                        
                        <!-- Product -->
                        <td>
                            {{item.Description}}
                        </td>
                        
                        <!-- Plan Name -->
                        <td>
                            {{item.Plan_Name}}
                        </td>
    
                        <!-- User Name -->
                        <td>
                            {{item.Display_Name}}
                        </td>
                        
                        <!-- Date Changed -->
                        <td>
                            {{item.createdAt | ccardToHumanDate}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td style="text-align:center" colspan="12"></td>
                </tfoot>
            </table>
            <h2>Changes</h2>
            <table class="table table-striped" ng-show="showReport">
                <thead>
                    <th>Field Name</th>
                    <th>Original Value</th>
                    <th>New Value</th>
                    <th>Details</th>
               </thead>
                <tbody ng-repeat="ditem in detailItems" style="height:30px;">
                    <!-- Field Name -->
                    <td>
                        {{ditem.Field_Name}}
                    </td>

                    <!-- Original Value -->
                    <td>
                        {{ditem.Old_Value}}
                    </td>

                    <!-- New Value -->
                    <td>
                        {{ditem.New_Value}}
                    </td>

                    <!-- New Value -->
                    <td>
                        {{ditem.Description}}
                    </td>

                </tbody>
                <tfoot>
                    <td style="text-align:center" colspan="12"></td>
                </tfoot>
            </table>
        </div>

        <!-- Export report -->
        
        <!--<div class="col-md-12 table-responsive" ng-show="auditItems.length > 0">-->
            
        <!--Austin -->
        <div class="col-md-12 table-responsive" ng-show="showReport && auditItems.length>0">            

            <!-- Export button -->
            <!-- a download="merchant_activity_report.xls" href="" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a -->
            <br /><br />
            <div id="exportable" ng-show="false">
                <h1></h1>
                <table class="table table-striped" id="datatable">
                    <thead>
                        <tr ng-show="auditItems.length>0">
                            <th ng-show="isAdmin">Merchant ID</th>
                            <th ng-show="isAdmin">Merchant Name</th>
                            <th>Product</th>
                            <th>Plan Name</th>
                            <th>User Making Change</th>
                            <th>Date Changed</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in auditItems | offset: currentPage*itemsPerPage | limitTo: itemsPerPage track by $index" style="height:30px;">
                        <!-- Merchant ID -->
                        <td ng-show="isAdmin">
                            {{item.Boarding_ID}}
                        </td>
    
                        <!-- Merchant Name -->
                        <td ng-show="isAdmin">
                            {{item.Merchant_Name}}
                        </td>
                        
                        <!-- Product -->
                        <td>
                            {{item.Description}}
                        </td>
                        
                        <!-- Plan Name -->
                        <td>
                            {{item.Plan_Name}}
                        </td>
    
                        <!-- User Name -->
                        <td>
                            {{item.Display_Name}}
                        </td>
                        
                        <!-- Date Changed -->
                        <td>
                            {{item.createdAt | ccardToHumanDate}}
                        </td>
                    </tr>
                </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>
</section>
