<section  data-ng-controller="SaleController" data-ng-init="setView('audit_recurr_plan_activity');config();setTitle('Advanced Reports');">
    <div class="container1 col-md-12">
        <div class="form-group">
            <h1>Recurring Plan Changes Audit Report</h1>
        </div>
        <form class="form-horizontal" data-ng-submit="Recurring_Changes_ActivityWrap()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                        <h3>Search Transactions</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="startDate">Start Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="endDate">End Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="endDate" id="endDate" class="form-control" placeholder="End Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>
                    <div ng-show="!isAdmin && sampleProductCategories[0].products.length == 2" class="col-md-5">
                        <div class="form-group">  
                            <label class="control-label">Product Name</label>      
                            <div class="form-control"> 
                                {{ sampleProductCategories[0].products[1].name }}                                            
                            </div>
                        </div>    
                    </div>                                 
                    <div ng-show="!isAdmin && sampleProductCategories[0].products.length > 2" class="col-md-5">
                        <div class="form-group">                            
                        <label class="control-label">Product Name</label>                      
                        <select
                              ng-model="Product_NameUserMAR"
                              ng-options="p.name for p in sampleProductCategories[0].products"                                  
                              ng-change="Product_NameChangeUserMAR()"                                
                            class="form-control product-dropdown">
                        </select>                            
                        </div>                        
                    </div>                    
                    <div ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Merchant Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown"><span style="float: left;">{{merchantId.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                                        </div>
                                    </li>
                                    <li id="Merchant_ID" role="presentation" 
                                        ng-click="setMerchantId(c)" 
                                        ng-repeat='c in sampleProductCategories| filter:query'> <a href=""> {{c.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isAdmin && merchantId.products.length == 2" class="col-md-5">
                        <div class="form-group">  
                            <label class="control-label">Product Name</label>      
                            <div class="form-control"> 
                                {{ merchantId.products[1].name }}                                            
                            </div>
                        </div>    
                    </div>
                    <div ng-show="isAdmin && merchantId.products.length > 2" class="col-md-5">                        
                        <div class="form-group">                            
                            <label class="control-label">Product Name</label>                      
                             <select
                                  ng-model="Product_NameMAR"
                                  ng-options="p.name for p in merchantId.products"                                  
                                  ng-change="Product_NameChangeMAR()"                                
                                  class="form-control product-dropdown">
                             </select>
                        </div>                        
                    </div>
                    <!-- div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="field_name">Field Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="field_name" id="field_name" class="form-control" placeholder="Field Name">
                            </div>
                        </div>
                    </div -->
                </div>
                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" id="submitButton" class="btn btn-primary btn-lg" value="Search">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
        
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        
        <!--beginning of report display-->
        
        <div class="col-md-12 table-responsive">
            <table class="table table-striped" ng-show="showReport">
                <thead>
                    <tr ng-show="auditItems.length>0">
                        <th ng-show="isAdmin">Merchant ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th>Product</th>
                        <th>Plan Name</th>
                        <th>User Making Change</th>
                        <th>Date Changed</th>
                        
                    </tr>
                </thead>
                <tbody><!--  | orderObjectBy : criteria : direction : auditItems : currentPage -->
                    <tr ng-repeat="item in auditItems | offset: currentPage*itemsPerPage | limitTo: itemsPerPage track by $index" style="height:30px;">
                        <!-- Merchant ID -->
                        <td ng-show="isAdmin">
                            {{item.Boarding_ID}}
                        </td>
    
                        <!-- Merchant Name -->
                        <td ng-show="isAdmin">
                            {{item.Merchant_Name}}
                        </td>
                        
                        <!-- Product -->
                        <td>
                            {{item.Description}}
                        </td>
                        
                        <!-- Plan Name -->
                        <td>
                            <a href="#!/reports/recurringplanauditdetails/{{item.id}}" target="blank">{{item.Plan_Name}}</a>
                        </td>
    
                        <!-- User Name -->
                        <td>
                            {{item.Display_Name}}
                        </td>
                        
                        <!-- Date Changed -->
                        <td>
                            {{item.createdAt | ccardToHumanDate}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <td style="text-align:center" colspan="12">
                    <div class="pagination" ng-show="auditItems.length > itemsPerPage && auditItems.length>0">
                        <ul>
                            <li>
                                <a>{{firstItem}} -> {{lastItem}} of {{auditItems.length}}</a>
                            </li>
                            <li ng-class="startPageDisabled()">
                                <a href ng-click="startPage()">«« Start</a>
                            </li>
                            <li ng-class="prevPageDisabled()">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range()"
                                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                <a href="">{{n+1}}</a>
                            </li>
                            <li ng-class="nextPageDisabled()">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                            <li ng-class="endPageDisabled()">
                                <a href ng-click="endPage()">End »»</a>
                            </li>
                            <li>
                                <a>
                                    <form>
                                        <select data-ng-model="pageSelected" ng-change="goToPage()">
                                            <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                                        </select>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>

        <!-- Export report -->
        
        <!--<div class="col-md-12 table-responsive" ng-show="auditItems.length > 0">-->
            
        <!--Austin -->
        <div class="col-md-12 table-responsive" ng-show="showReport && auditItems.length>0">            

            <!-- Export button -->
            <a download="merchant_activity_report.xls" href="" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>
            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Merchant Activity Report</h1>
                <table class="table table-striped" id="datatable">
                    <thead>
                        <tr ng-show="auditItems.length>0">
                            <th ng-show="isAdmin">Merchant ID</th>
                            <th ng-show="isAdmin">Merchant Name</th>
                            <th>Product</th>
                            <th>Plan Name</th>
                            <th>User Making Change</th>
                            <th>Date Changed</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in auditItems | offset: currentPage*itemsPerPage | limitTo: itemsPerPage track by $index" style="height:30px;">
                        <!-- Merchant ID -->
                        <td ng-show="isAdmin">
                            {{item.Boarding_ID}}
                        </td>
    
                        <!-- Merchant Name -->
                        <td ng-show="isAdmin">
                            {{item.Merchant_Name}}
                        </td>
                        
                        <!-- Product -->
                        <td>
                            {{item.Description}}
                        </td>
                        
                        <!-- Plan Name -->
                        <td>
                            {{item.Plan_Name}}
                        </td>
    
                        <!-- User Name -->
                        <td>
                            {{item.Display_Name}}
                        </td>
                        
                        <!-- Date Changed -->
                        <td>
                            {{item.createdAt | ccardToHumanDate}}
                        </td>
                    </tr>
                </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>
</section>
