<section data-ng-controller="BoardingCrudController" data-ng-init="find();setTitle('Merchant List');">
	<ul class="merchantList container1">
    <div class="col-md-offset-9">
      <h3>Search</h3>
      <input ng-model="searchText">
    </div>
     <hr style="margin:10px 10px 10px -20px;">
        <div ng-show="searchText.length == 0">
		<li data-ng-repeat="boarding in boardings | offsetBoardings: currentPage*itemsPerPage | limitTo: itemsPerPage| filter:searchText">
			<div class="row">
				<div class="col-md-2 vcenter">
					<h3><a data-ng-href="#!/boardingCreate/1/{{boarding.id}}">{{boarding.Merchant_Name}}</a></h3>
					<div>{{boarding.Address}}</div>
					<div>{{boarding.City}}</div>
					<div>{{boarding.State}}</div>
					<div>{{boarding.Zip}}</div>
				</div>
				<div class="col-md-7 vcenter">

          <div style="text-align:center" class="col-md-12"><span><b>Product</b><span data-ng-repeat="payment_plan in boarding.payment_plans"> 
           <span ng-show="payment_plan.Product_ID == '1'"> | MojoPay</span>
           <span ng-show="payment_plan.Product_ID == '2'"> | Twt2Pay</span>
           <span ng-show="payment_plan.Product_ID == '3'"> | VideoCheckout</span>
          </span></span></div>

          <div style="text-align:center" class="col-md-12"><span>Last Transaction: Some Date</span> | <span>Open Date: {{boarding.Date}}</span></div>
           <div style="text-align:center" class="col-md-3 vcenter">
          </div>
          <div style="text-align:right" class="col-md-2 vcenter">
            <label>Status:</label>
          </div>
  				<div style="text-align:left" class="col-md-4 vcenter">
               <select  ng-show="boarding.Status != 'pending'" class="form-control" id="status{{boarding.id}}" ng-model="merchantStatus" ng-change="changeStatusSelect(boarding);" ng-init="initSelect(boarding);">
                    <option value="active">Active</option>
                    <option value="achreject">ACH Reject</option>
                    <option value="restricted">Restricted</option>
                    <option value="suspended">Suspended</option>
                    <option value="closed">Closed</option>
               </select>
               <select  ng-show="boarding.Status == 'pending'" class="form-control" id="statuspending{{boarding.id}}" ng-model="merchantPending" ng-change="changePendingSelect(boarding)" ng-init="initPendingSelect(boarding);">
                  <option value="pending">Pending</option>
                  <option value="deleted">Delete</option>
               </select>
  				</div>

        </div>

				<div class="col-md-2 vcenter">
					 <div style="margin-bottom:3em;"><input ng-click="chameleonate('{{boarding.id}}')" style="width:100%;" type="submit" class="btn btn-primary" value="Merchant View"></div>
					 <div><input style="width:100%;"  ng-click="open('','{{boarding.id}}')" type="submit" class="btn btn-primary" value="Reset Password"></div>
				</div>
			</div>
			<hr style="margin:10px 10px 10px -20px;">
		</li>
        </div>
        <div  ng-hide="searchText.length == 0">
        <li data-ng-repeat="boarding in boardings | filter:searchText" >
			<div class="row">
				<div class="col-md-2 vcenter">
					<h3><a data-ng-href="#!/boardingCreate/1/{{boarding.id}}">{{boarding.Merchant_Name}}</a></h3>
					<div>{{boarding.Address}}</div>
					<div>{{boarding.City}}</div>
					<div>{{boarding.State}}</div>
					<div>{{boarding.Zip}}</div>
				</div>
				<div class="col-md-7 vcenter">

          <div style="text-align:center" class="col-md-12"><span><b>Product</b><span data-ng-repeat="payment_plan in boarding.payment_plans"> 
           <span ng-show="payment_plan.Product_ID == '1'"> | MojoPay</span>
           <span ng-show="payment_plan.Product_ID == '2'"> | Twt2Pay</span>
           <span ng-show="payment_plan.Product_ID == '3'"> | VideoCheckout</span>
          </span></span></div>

          <div style="text-align:center" class="col-md-12"><span>Last Transaction: Some Date</span> | <span>Open Date: {{boarding.Date}}</span></div>
           <div style="text-align:center" class="col-md-3 vcenter">
          </div>
          <div style="text-align:right" class="col-md-2 vcenter">
            <label>Status:</label>
          </div>
  				<div style="text-align:left" class="col-md-4 vcenter">
               <select  ng-show="boarding.Status != 'pending'" class="form-control" id="statusx{{boarding.id}}" ng-model="merchantStatus" ng-change="changeStatusSelectx(boarding);" ng-init="initSelectx(boarding);">
                    <option value="active">Active</option>
                    <option value="achreject">ACH Reject</option>
                    <option value="restricted">Restricted</option>
                    <option value="suspended">Suspended</option>
                    <option value="closed">Closed</option>
               </select>
               <select  ng-show="boarding.Status == 'pending'" class="form-control" id="statuspendingx{{boarding.id}}" ng-model="merchantPending" ng-change="changePendingSelectx(boarding)" ng-init="initPendingSelectx(boarding);">
                  <option value="pending">Pending</option>
                  <option value="deleted">Delete</option>
               </select>
  				</div>

        </div>

				<div class="col-md-2 vcenter">
					 <div style="margin-bottom:3em;"><input ng-click="chameleonate('{{boarding.id}}')" style="width:100%;" type="submit" class="btn btn-primary" value="Merchant View"></div>
					 <div><input style="width:100%;"  ng-click="open('','{{boarding.id}}')" type="submit" class="btn btn-primary" value="Reset Password"></div>
				</div>
			</div>
			<hr style="margin:10px 10px 10px -20px;">
		</li>
        </div>
	</ul>
    <div style="float:right;" class="pagination" ng-show="boardings.length > itemsPerPage && searchText.length == 0">
      <ul>
        <li>
            <a>{{firstItem}} - {{lastItem}} of {{boardings.length}}</a>
        </li>
        <li ng-class="startPageDisabled()">
          <a href ng-click="startPage()">«« Start</a>
        </li>
        <li ng-class="prevPageDisabled()">
          <a href ng-click="prevPage()">« Prev</a>
        </li>
        <li ng-repeat="n in range()"
          ng-class="{active: n == currentPage}" ng-click="setPage(n)">
          <a href="">{{n+1}}</a>
        </li>
        <li ng-class="nextPageDisabled()">
          <a href ng-click="nextPage()">Next »</a>
        </li>
        <li ng-class="endPageDisabled()">
          <a href ng-click="endPage()">End »»</a>
        </li>
        <li>
            <a>
            <form>
                <select data-ng-model="pageSelected" ng-change="goToPage()">
                    <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                </select>
            </form>
            </a>
        </li>
      </ul>
    </div>

	<h1 data-ng-hide="!boardings || boardings.length">No Merchants yet. <br> Why don't you <a href="/#!/boardingCreate/1/create">Create One</a>?</h1>
</section>