<section data-ng-controller="BoardingCrudController" data-ng-init="initialize();next();setTitle('Boarding Merchant');">
        <div class="col-md-9 zeropaddingleft toplevel">
            <ul ng-hide="checkCreate()" class="nav nav-tabs nav-justified">
                <li role="presentation" class="active firstTab" ><a data-ng-click="">STEP 1 - Create Account</a></li>
                <li role="presentation" class="middleTab" ><a data-ng-click="">STEP 2 - Processor Settings</a></li>
                <li role="presentation" class="lastTab"><a data-ng-click="">STEP 3 - Set Pricing Plan</a></li>
            </ul>
            <ul ng-show="checkCreate()" class="nav nav-tabs nav-justified">
               <li role="presentation" class="firstTab" ng-class="{true: 'active'}[page == 1]"><a href="/#!/boardingCreate/1{{theid}}" data-ng-click="">STEP 1 - Create Account</a></li>
                <li role="presentation" class="middleTab" ng-class="{true: 'active'}[page == 2]"><a href="/#!/boardingCreate/2{{theid}}" data-ng-click="">STEP 2 - Processor Settings</a></li>
                <li role="presentation" class="lastTab" ng-class="{true: 'active'}[page == 3]"><a href="/#!/boardingCreate/3{{theid}}" data-ng-click="">STEP 3 - Set Pricing Plan</a></li>
            </ul>
         </div>
         <div class="container2 col-md-12">
            <form id="fieldsForm" name="inputForm" class="form-horizontal" data-ng-submit="submit()" validate>
                  <div ng-include="templateurl"></div>
            </form>
         </div>
</section>