<fieldset>
    <div class="col-md-12">
        <div class="row">
            <div class="form-group">
                    <h4>Create Username</h4>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label" for="Username">Username</label>
                 <div class="controls">
                    <input type="text" id="Username" name="Username" class="form-control" data-ng-model="$parent.credentials.Username" placeholder="Required" required>
                 </div>
            </div>
        </div>
        <hr>
        <div class="row">
             <div class="form-group">
                    <h4>Merchant Information</h4>
             </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label" for="Merchant_Name">Doing Business as Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.boarding.Merchant_Name" id="Merchant_Name" class="form-control" placeholder="Required" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label" for="Address">Address</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.boarding.Address" id="Address" class="form-control" placeholder="Required" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label" for="City">City</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.boarding.City" id="City" class="form-control" placeholder="Required" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label" for="State">State</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.boarding.State" id="State" name="State" class="form-control" placeholder="State/Province" style="display: none;">
                    <select class="form-control" id="State" name="State" data-ng-model="$parent.boarding.State" ng-options="state.code as state.name for state in states"><br>
                        <option value="" selected>--Please Select a State--</option>
                     </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label" for="Zip">Zip</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.boarding.Zip" id="Zip" class="form-control" placeholder="Required" required>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="form-group">
                    <h4>Company Contact</h4>
            </div>
        </div>
        <div class="row">
             <div class="col-md-6 nopaddingleft">
                <div class="form-group nomarginleft">
                    <label class="control-label" for="First_Name">First Name</label>
                    <input type="text" id="First_Name" name="First_Name" class="form-control" data-ng-model="$parent.credentials.First_Name" placeholder="Required" required>
                </div>
            </div>
             <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="Last_Name">Last Name</label>
                    <input type="text" id="Last_Name" name="Last_Name" class="form-control" data-ng-model="$parent.credentials.Last_Name" placeholder="Required" required>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-md-6 nopaddingleft">
               <div class="form-group nomarginleft">
                    <label class="control-label" for="Email">Email</label>
                    <input type="email" id="Email" name="Email" class="form-control" data-ng-model="$parent.credentials.Email" placeholder="Required" required>
                </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                    <label class="control-label" for="Phone">Phone No/Fax</label>
                    <input type="text" data-ng-model="$parent.boarding.Phone" id="Phone" name="Phone" ng-pattern="/^\+?\d{3}[- ]?\d{3}[- ]?\d{4}$/" class="form-control" placeholder="Required" required>
                    <span class="required" ng-show="inputForm.phoneNumberCard.$error.minlength">Not less that 10 char</span>
                    <span class="required" ng-show="inputForm.phoneNumberCard.$error.maxlength">Not More than 11 char</span>
                    <span class="required" ng-show="inputForm.phoneNumberCard.$error.pattern">Please Match Pattern [+123-236-2365 or 123-236-2365]</span>
                </div>
            </div>
        </div>
  </div>
   
  <div class="col-md-12">
        <br/>
        <div class="form-group">
            <label class='explaintext'>Required fields must be complete to continue to Step 2 of the Boarding Process</label>
            <input style="float:right;white-space:pre-line;" type="submit" class="btn btn-primary" value="Save and Continue">
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
  </div>
</fieldset> 
