<fieldset>
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="form-group">
                <br>
                <input style="float:right;white-space:pre-line;" ng-click="showProductModal()" class="btn btn-primary" value="Add Product" />
            </div>
        </div>
        <div class="col-md-9">
           <div ng-repeat="product in payment_plans">
               <form id="fieldsForm" name="inputForm{{$index}}" class="form-horizontal" data-ng-submit="" validate>
                       <!--<div ng-include="step3template"></div>-->
                       <div>
                           <accordion close-others="oneAtATime">
                               <accordion-group is-open="isopen">
                                   <accordion-heading ng-click="isopen=!isopen">
                                       <h2>{{product.Name}}</h2>
                                   </accordion-heading>
                                   <fieldset>
                                       <div class="row">
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Discount_Rate">Discount Rate</label>
                                                   <div class="controls">
                                                       <input type="text" id="Discount_Rate" name="Discount_Rate" class="form-control" data-ng-model="product.Discount_Rate" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Sale_Fee">Sale</label>
                                                   <div class="controls">
                                                       <input type="text" id="Sale_Fee" name="Sale_Fee" class="form-control" data-ng-model="product.Sale_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Monthly_Fee">Monthly Fee</label>
                                                   <div class="controls">
                                                       <input type="text" id="Monthly_Fee" name="Monthly_Fee" class="form-control" data-ng-model="product.Monthly_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Authorization_Fee">Authorization</label>
                                                   <div class="controls">
                                                       <input type="text" id="Authorization_Fee" name="Authorization_Fee" class="form-control" data-ng-model="product.Authorization_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Setup_Fee">Set-Up Fee</label>
                                                   <div class="controls">
                                                       <input type="text" id="Setup_Fee" name="Setup_Fee" class="form-control" data-ng-model="product.Setup_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Capture_Fee">Capture</label>
                                                   <div class="controls">
                                                       <input type="text" id="Capture_Fee" name="Capture_Fee" class="form-control" data-ng-model="product.Capture_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Chargeback_Fee">Chargeback Fee</label>
                                                   <div class="controls">
                                                       <input type="text" id="Chargeback_Fee" name="Chargeback_Fee" class="form-control" data-ng-model="product.Chargeback_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Void_Fee">Void</label>
                                                   <div class="controls">
                                                       <input type="text" id="Void_Fee" name="Void_Fee" class="form-control" data-ng-model="product.Void_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Chargeback_Reversal_Fee">Chargeback Reversal Fee</label>
                                                   <div class="controls">
                                                       <input type="text" id="Chargeback_Reversal_Fee" name="Chargeback_Reversal_Fee" class="form-control" data-ng-model="product.Chargeback_Reversal_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Refund_Fee">Refund</label>
                                                   <div class="controls">
                                                       <input type="text" id="Refund_Fee" name="Refund_Fee" class="form-control" data-ng-model="product.Refund_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Retrieval_Fee">Retrieval Fee</label>
                                                   <div class="controls">
                                                       <input type="text" id="Retrieval_Fee" name="Retrieval_Fee" class="form-control" data-ng-model="product.Retrieval_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Credit_Fee">Credit</label>
                                                   <div class="controls">
                                                       <input type="text" id="Credit_Fee" name="Credit_Fee" class="form-control" data-ng-model="product.Credit_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Declined_Fee">Failed/Declined</label>
                                                   <div class="controls">
                                                       <input type="text" id="Declined_Fee" name="Declined_Fee" class="form-control" data-ng-model="product.Declined_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '4' && product.Marketplace != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="Ach_Reject_Fee">ACH Reject</label>
                                                   <div class="controls">
                                                       <input type="text" id="Ach_Reject_Fee" name="Ach_Reject_Fee" class="form-control" data-ng-model="product.Ach_Reject_Fee" placeholder="Required" required>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '1'" class="col-md-6">
                                               <div class="row">
                                                   <div class="form-group">
                                                       <label class="control-label normal" for="processor{{$index}}">Processor ID <span ng-show="processorError{{$index}}" class="text-danger">This Processor ID is already taken!</span></label>
                                                       <div class="controls">
                                                           <input type="text" data-ng-model="product.Processor_ID" name="Processor_ID" id="processor{{$index}}" class="form-control" placeholder="Required" ng-blur="onBlur($event,product,$index)">
                                                           <span ng-show="processorPending{{$index}}"class="text-warning">Checking if this processor ID is in use...</span>

                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Marketplace == '1'" class="col-md-6">
                                               <div class="row">
                                                   <div class="form-group">
                                                       <label class="control-label normal" for="Marketplace_Name">Marketplace Name</label>
                                                       <div class="controls">
                                                           <input type="text" data-ng-model="product.Marketplace_Name" name="Marketplace_Name" id="Marketplace_Name" class="form-control" placeholder="Optional">
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID != '1'" class="col-md-6">
                                               <div class="form-group">
                                                   <label class="control-label normal" for="username{{$index}}">Username  <span ng-show="nmiUsernameError{{$index}}" class="text-danger">This Username is already taken!</span></label>
                                                   <div class="controls">
                                                       <input type="text" id="username{{$index}}" name="Username" class="form-control" data-ng-model="product.Username" placeholder="Required" required ng-blur="onBlurNMIUsername($event,product,$index)">
                                                       <span ng-show="nmiUsernamePending{{$index}}"class="text-warning">Checking if this Username is in use...</span>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID == '2'" class="col-md-6">
                                               <div class="form-group has-feedback">
                                                   <label class="control-label normal" for="Password">Password</label>
                                                   <div class="controls">
                                                       <input type="password" id="Password" name="Password" class="form-control password2" data-ng-model="product.Password" placeholder="Required" required>
                                                       <i ng-mouseover="showPassword('password2');" ng-mouseleave ="hidePassword('password2');" class="form-control-feedback icon-eye-black"></i>
                                                   </div>
                                               </div>
                                           </div>
                                            <div ng-if="product.Product_ID == '3'" class="col-md-6">
                                               <div class="form-group has-feedback">
                                                   <label class="control-label normal" for="Password">Password</label>
                                                   <div class="controls">
                                                       <input type="password" id="Password" name="Password" class="form-control password3" data-ng-model="product.Password" placeholder="Required" required>
                                                       <i ng-mouseover="showPassword('form-control password3');" ng-mouseleave ="hidePassword('password3');" class="form-control-feedback icon-eye-black"></i>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID == '4'" class="col-md-6">
                                               <div class="form-group has-feedback">
                                                   <label class="control-label normal" for="Password">Password</label>
                                                   <div class="controls">
                                                       <input type="password" id="Password" name="Password" class="form-control password4" data-ng-model="product.Password" placeholder="Required" required>
                                                       <i ng-mouseover="showPassword('password4');" ng-mouseleave ="hidePassword('password4');" class="form-control-feedback icon-eye-black"></i>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Product_ID == '5'" class="col-md-6">
                                               <div class="form-group has-feedback">
                                                   <label class="control-label normal" for="Password">Password</label>
                                                   <div class="controls">
                                                       <input type="password" id="Password" name="Password" class="form-control password5" data-ng-model="product.Password" placeholder="Required" required>
                                                       <i ng-mouseover="showPassword('password5');" ng-mouseleave ="hidePassword('password5');" class="form-control-feedback icon-eye-black"></i>
                                                   </div>
                                               </div>
                                           </div>
                                           <div ng-if="product.Marketplace =='1'">
                                                <hr>
                                               <div class="col-md-12">
                                                   <div class="row">
                                                       <div class="form-group">
                                                           <label class="control-label normal">Commission Splits</label>
                                                       </div>
                                                   </div>
                                               </div>
                                                <div class="col-md-6">
                                                   <div class="row">
                                                       <div class="form-group">
                                                           <label class="control-label normal" for="Recipient">Recipient</label>
                                                           <div class="controls">
                                                               <input type="text" data-ng-model="product.Recipient" name="Recipient" id="Recipient" class="form-control" placeholder="Optional">
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="form-group">
                                                       <label class="control-label normal" for="Recipient_Type">Recipient Type</label>
                                                       <div class="controls">
                                                           <select  class="form-control" id="Recipient_Type" data-ng-model="product.Recipient_Type" ng-init="product.Recipient_Type">
                                                               <option value="AGENT">Agent</option>
                                                               <option value="MERCHANT">Merchant</option>
                                                           </select>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="row">
                                                       <div class="form-group">
                                                           <label class="control-label normal" for="Rate">Commission Rate</label>
                                                           <div class="controls">
                                                               <input type="text" data-ng-model="product.Rate" name="Rate" id="Rate" class="form-control" placeholder="Optional">
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="form-group">
                                                       <label class="control-label normal" for="Type">Commission Type</label>
                                                       <div class="controls">
                                                           <select  class="form-control" id="Type" data-ng-model="product.Type" ng-init="product.Type">
                                                               <option value="%">%</option>
                                                           </select>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <input type="button" ng-click="submit(product)" class="btn btn-primary" value="Save" />
                                           <input type="button" ng-if="product.Product_ID != '1'" ng-click="deactivatePayment(product)" class="btn btn-primary" value="Deactivate" />
                                       </div>
                                   </fieldset>
                               </accordion-group>
                           </accordion>
                       </div>
                       <div data-ng-show="error" class="text-danger">
                           <strong data-ng-bind="error"></strong>
                       </div>
               </form>
           </div>
         </div>
        <div class="col-md-3">
            <br>
            <b>Select Merchant Permissions:</b>
            <div class="checkbox">
                <label>
                    <input data-ng-model="$parent.credentials.Virtual_Terminal" id="Virtual_Terminal" type="checkbox"> Virtual Terminal
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Terminal_Sale" id="Terminal_Sale" type="checkbox"> Sale
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Terminal_Authorize" id="Terminal_Authorize" type="checkbox"> Authorize
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Terminal_Capture" id="Terminal_Capture" type="checkbox"> Capture
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Terminal_Void" id="Terminal_Void" type="checkbox"> Void
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Terminal_Refund" id="Terminal_Refund" type="checkbox"> Refund
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Terminal_Credit" id="Terminal_Credit" type="checkbox"> Credit
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input data-ng-model="$parent.credentials.Customer_Vault" id="Customer_Vault" type="checkbox"> Customer Vault
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Customer_Add" id="Customer_Add" type="checkbox"> Add Customer
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Customer_List" id="Customer_List" type="checkbox"> List Customer
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Customer_Expiry" id="Customer_Expiry" type="checkbox"> Customer Expiry Report
                </label>
            </div>
           <div class="checkbox">
                <label>
                    <input data-ng-model="$parent.credentials.Recurring_Payments" id="Recurring_Payments" type="checkbox"> Recurring Payments
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Plan_Add" id="Plan_Add" type="checkbox"> Add Plan
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Plan_List" id="Plan_List" type="checkbox"> List Plan
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Subscription_Add" id="Subscription_Add" type="checkbox"> Add Subscription
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Subscription_List" id="Subscription_List" type="checkbox"> List Subscription
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input data-ng-model="$parent.credentials.Transaction_Report" id="Transaction_Report" type="checkbox"> Transaction Reports
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input data-ng-model="$parent.credentials.Advanced_Report" id="Advanced_Report" type="checkbox"> Advanced Reports
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input data-ng-model="$parent.credentials.Integration" id="Integration" type="checkbox"> Integration
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Enable_Nation" id="enable_integration" type="checkbox">
NationBuilder </label>
            </div>
           <div class="checkbox">
                 <label>
                    <input data-ng-model="$parent.credentials.Easy_Buttons" id="Easy_Buttons" type="checkbox"> Easy Buttons
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Button_Add" id="Button_Add" type="checkbox"> Add Button
                </label>
            </div>
            <div class="checkbox textcheckboxalign">
                <label>
                    <input data-ng-model="$parent.credentials.Button_List" id="Button_List" type="checkbox"> List Button
                </label>
            </div>
           <div class="form-group">
                <input ng-click="updatePermissions()" class="btn btn-primary" value="Save" />
            </div>
        </div>
     </div>
  </div>
</fieldset> 
