<fieldset>
    <div class="col-md-12">
        <br>
        <div class="form-group">
          <div class="accordion_detail"><h4>Processor Information</h4></div>
          <div>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">
                    <accordion-heading ng-click="isopen=!isopen">Details +</accordion-heading>
                    Vantiv requires the following fields to identify the merchant. The merchant account provider will have this information provided to you.
               </accordion-group>
            </accordion>      
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label normal" for="Merchant_ID">Merchant Number</label>
                  <div class="controls">
                      <input type="text" data-ng-model="$parent.boarding.Merchant_ID" id="Merchant_ID" class="form-control" placeholder="Required" required>
                  </div>
                </div>
            </div>

            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label normal" for="Location_Number">Location Number</label>
                  <div class="controls">
                      <input type="text" data-ng-model="$parent.boarding.Location_Number" id="Location_Number" class="form-control" placeholder="Required" required>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label normal" for="Aquire_Bin">Acquire BIN</label>
                  <div class="controls">
                      <input type="text" data-ng-model="$parent.boarding.Aquire_Bin" id="Aquire_Bin" class="form-control" placeholder="Required" required>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label normal" for="Vital_Number">Vital Number</label>
                  <div class="controls">
                      <input type="text" data-ng-model="$parent.boarding.Vital_Number" id="Vital_Number" class="form-control" placeholder="Required" required>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label normal" for="Store_Number">Store Number</label>
                  <div class="controls">
                      <input type="text" data-ng-model="$parent.boarding.Store_Number" id="Store_Number" class="form-control" placeholder="Required" required>
                  </div>
                </div>
            </div>
             <div class="col-md-6">
                   <div class="form-group">
                         <label class="control-label normal" for="Bank_ID">Agent Bank</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.boarding.Bank_ID" id="Bank_ID" class="form-control" placeholder="Required" required>
                        </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label normal" for="Terminal_ID">Terminal Number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="$parent.boarding.Terminal_ID" id="Terminal_ID" class="form-control" placeholder="Required" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label normal" for="Agent_Chain">Agent Chain</label>
                    <div class="controls">
                        <input type="text" data-ng-model="$parent.boarding.Agent_Chain" id="Agent_Chain" class="form-control" placeholder="Required" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label normal" for="MCC">MCC</label>
                  <div class="controls">
                      <input type="text" data-ng-model="$parent.boarding.MCC" id="MCC" class="form-control" placeholder="Optional">
                  </div>
                </div>
            </div>
        </div>


        <hr>
        <div class="form-group">
            <h4>Disbursements</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                   <div class="controls">
                        <div class="col-md-2">
                          <label class="control-label" for="schedule">Schedule</label>
                           <div class="row">
                             <div>
                              <label class="control-label normal normalletter">
                                 <input type="radio" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.schedule.Weekly" name="weekly" value="0" ng-change="radiochange()" checked>&nbsp;Weekly
                               </label>
                            </div>
                           <!-- <div>
                               <label class="control-label normal normalletter">
                                 <input type="radio" ng-disabled="$parent.disableSchedule" data-ng-model="$parent.schedule.Weekly" name="weekly" value="1" ng-change="radiochange()" checked>&nbsp;Monthly
                               </label>
                            </div>-->
                           </div>
                        </div>
                        <div class="col-md-10">
                               <div ng-include="dynamicdate"></div>
                        </div>
                        <div style="padding-top:1em;" class="col-md-12 nopaddingleft">
                             <label class="control-label nopaddingleft" for="processing">Processing Queue</label>
                             <div class="controls">
                              <div class="row">
                                <div class="col-md-1 nopaddingleft">
                                  <input type="text" data-ng-model="$parent.schedule.Hold" id="dayhold" class="form-control">
                                </div>
                                <div class="col-md-5">
                                  <label class="control-label" for="processing">Days on Hold</label>
                                </div>
                              </div>
                            </div>
                        </div>
                   </div>
              </div>
          </div>
        </div>
        <hr>
        <div class="form-group">
            <h4>Reserves</h4>
        </div>
        <div class="row">
           <div class="col-md-6">
                   <div class="form-group">
                         <label class="control-label normal" for="Reserve_Rate">Reserve Rate</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.boarding.Reserve_Rate" id="Reserve_Rate" class="form-control" placeholder="Required" required>
                        </div>
                  </div>
            </div>
             <div class="col-md-6">
               <div class="form-group">
                 <label class="control-label normal" for="Reserve_Condition">Reserve Condition</label>
                  <div class="controls">
                      <select  class="form-control" id="Reserve_Condition" data-ng-model="$parent.boarding.Reserve_Condition" ng-init="$parent.boarding.reserveCondition">
                        <option value="0">Rolling 6 months</option>
                        <option value="1">Up to a cap</option>
                      </select>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label normal" for="Cap_Amount">Cap Amount</label>
                    <div class="controls">
                        <input ng-disabled="$parent.boarding.Reserve_Condition == 0||disabled" type="text" data-ng-model="$parent.boarding.Cap_Amount" id="Cap_Amount" class="form-control" placeholder="Only if Up to a Cap">
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="form-group">
                <h4>Account Classification</h4>
        </div>
      <div class="form-group">
            <div class="controls">
                <select  class="form-control" id="countryCard" data-ng-model="$parent.boarding.Classification" ng-init="$parent.boarding.Classification='0'">
                  <option value="0">E-Commerce</option>
                  <option value="1">Retail</option>
                  <option value="2">MOTO</option>
                </select>
            </div>
        </div>
        <hr>


        <div class="form-group">
          <div class="accordion_detail"><h4>Payment Types</h4></div>
          <div>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">
                    <accordion-heading ng-click="isopen=!isopen">Details +</accordion-heading>
                    Select the type(s) of card processors that have been setup by Vantiv for this merchant.<br />
                    <span class='accordion_warning'><firstletter>Warning:</firstletter> If you choose one of the cards processors below that has not been setup by Vantiv, the account processed will not be deposited to the merchants account.</span>
               </accordion-group>
            </accordion>      
          </div>
        </div>
        <div class="row">
           <div class="col-md-3">
            <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Visa" id="Visa" type="checkbox" ng-checked="$parent.boarding.Visa | isTrue"> Visa
                </label>
             </div>
            </div>
            <div class="col-md-3">
             <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Mastercard" id="Mastercard" type="checkbox" ng-checked="$parent.boarding.Mastercard | isTrue"> Mastercard
                </label>
             </div>
            </div>
             <div class="col-md-3">
             <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Discover" id="Discover" type="checkbox" ng-checked="$parent.boarding.Discover | isTrue"> Discover
                </label>
             </div>
            </div>
            <div class="col-md-3">
            <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.American_Express" id="American_Express" type="checkbox" ng-checked="$parent.boarding.American_Express | isTrue"> American Express
                </label>
             </div>
            </div>
            <div class="col-md-3">
             <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Diners_Club" id="Diners_Club" type="checkbox" ng-checked="$parent.boarding.Diners_Club | isTrue"> Diner's Club
                </label>
             </div>
            </div>
             <div class="col-md-3">
             <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.JCB" id="JCB" type="checkbox" ng-checked="$parent.boarding.JCB | isTrue"> JCB
                </label>
             </div>
            </div>
           <div class="col-md-3">
             <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Maestro" id="Maestro" type="checkbox" ng-checked="$parent.boarding.Maestro | isTrue"> Maestro
                </label>
             </div>
            </div>
        </div>
        <hr>

        <div class="form-group">
          <div class="accordion_detail"><h4>Account Limitations</h4></div>
          <div>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">
                    <accordion-heading ng-click="isopen=!isopen">Details +</accordion-heading>
                    Enter the maximum amounts for this merchant account.
                    <p class='accordion_warning'><firstletter>Note:</firstletter> These limits only apply to Visa / Mastercard.</p>
               </accordion-group>
            </accordion>      
          </div>
        </div>        

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                 <label class="control-label normal" for="Max_Ticket_Amount">Maximum Ticket Amount</label>
                <div class="controls">
                  <input type="text" data-ng-model="$parent.boarding.Max_Ticket_Amount" id="Max_Ticket_Amount" class="form-control" placeholder="Required" required>
                </div>
            </div>
          </div>
          <div class="col-md-6">
           <div class="form-group">
              <label class="control-label normal" for="Max_Monthly_Amount">Maximum Monthly Amount</label>
              <div class="controls">
                   <input type="text" data-ng-model="$parent.boarding.Max_Monthly_Amount" id="Max_Monthly_Amount" class="form-control" placeholder="Required" required>
                </div>
            </div>
           </div>
          </div>
        <hr>

        <div class="form-group">
          <div class="accordion_detail"><h4>AVS/CVV Pre-Check Method</h4></div>
          <div>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">
                    <accordion-heading ng-click="isopen=!isopen">Details +</accordion-heading>
                    <p>Your merchant will have the ability to set up rules that determine what to do when certain AVS or CVV response codes are returned</p>
                    <p>For example, your merchant may set up a rule to decline any transaction with a zip code mismatch response code.</p>
                    <p>While these rules can be quite useful, in order to obtain the AVS response codes, our system must first actually process transaction through the backend processor.</p>
                    <br />
                    <p>The option below determines which method to use to obtain the AVS and CVV response codes.</p>
                    <ul>
                      <li><strong>Separate Pre-Authorization Transaction:</strong><br />Our system processes an authorization for 1.00 to determine the AVS and CVV response codes. Once the codes have been obtained, they are checked against your merchants rules. If it passes, the real transaction is processed. Otherwise, the transaction is declined. The 1.00 authorization is never settled, so the cardholder never sees it.</li>
                      <li><strong>Void or Decline:</strong><br />Our system processes the requested transaction. If the AVS and CVV response codes pass the merchants rule sets, no further action is taken. If they do not pass the rule sets, the transaction is VOIDed, so the cardholder will never notice the change.</li>
                    </ul>
               </accordion-group>
            </accordion>      
          </div>
        </div>            


        <div class="form-group">
         <div class="row">
           <div class="col-md-3">
            <label class="control-label normal normalletter">
               <input type="radio" data-ng-model="$parent.boarding.Precheck" name="Precheck" value="preauth" checked>&nbsp;Separate preauth transaction
             </label>
          </div>
        <div class="col-md-3">
             <label class="control-label normal normalletter">
               <input type="radio" data-ng-model="$parent.boarding.Precheck" name="Precheck" value="nopreauth" checked>&nbsp;Void on Decline
             </label>
          </div>
         </div>
       </div>
        <hr>


        <div class="form-group">
          <div class="accordion_detail"><h4>Duplicate Velocity Controls</h4></div>
          <div>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">
                    <accordion-heading ng-click="isopen=!isopen">Details +</accordion-heading>
                    <p>Here you may set wheter transactions sent through this processor are checked for duplicates. Checking "Allow Merchant Override" lets merchants disable duplicate transaction checking by setting the Duplicate Threshold manually on a per-transaction basis.</p>
               </accordion-group>
            </accordion>      
          </div>
        </div>   

       <div class="row">
          <div class="col-md-3">
            <div class="checkbox">
                 <label class="control-label normalletter">
                   <input data-ng-model="$parent.boarding.Duplicate_Checking" id="Duplicate_Checking" type="checkbox" ng-checked="$parent.boarding.Duplicate_Checking | isTrue"> Enable Duplicate Checkings
                </label>
             </div>
            </div>
              <div class="col-md-3">
             <div class="checkbox">
                 <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Allow_Merchant" id="Allow_Merchant" type="checkbox" ng-checked="$parent.boarding.Allow_Merchant | isTrue"> Allow Merchant Override
                </label>
             </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                  <div class="form-group">
                    <div class="col-md-5">
                       <div class="textcheckboxalign">
                        <label class="control-label normal normalletter" for="Duplicate_Threshold"> Duplicate Threshold</label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="controls">
                         <input type="text" data-ng-model="$parent.boarding.Duplicate_Threshold" id="Duplicate_Threshold" class="form-control" placeholder="Required" required>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
         </div>

        <hr>

        <div class="form-group">
          <div class="accordion_detail"><h4>Required Fields</h4></div>
          <div>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">
                    <accordion-heading ng-click="isopen=!isopen">Details +</accordion-heading>
                    <p>Select fields that must be filled out by the merchant.</p>
                    <p class='accordion_warning'>Warnings: It is strongly recommended that you inform merchants before making fields required. This gives them the opportunity to make sure they are not passing the information. If you do not notify them and they are not passing the required information, transactions will be denied immediately.</p>
               </accordion-group>
            </accordion>      
          </div>
        </div>   
        <div class="row">
           <div class="col-md-4">
            <div class="checkbox">
                  <label  class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_Name" id="Required_Name" type="checkbox" ng-checked="$parent.boarding.Required_Name | isTrue"> Name 
                </label>
             </div>
            </div>
            <div class="col-md-4">
             <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_City" id="Required_City" type="checkbox" ng-checked="$parent.boarding.Required_City | isTrue"> City
                </label>
             </div>
            </div>
             <div class="col-md-4">
             <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_Country" id="Required_Country" type="checkbox" ng-checked="$parent.boarding.Required_Country | isTrue"> Country
                </label>
             </div>
            </div>
            <div class="col-md-4">
            <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_Company" id="Required_Company" type="checkbox" ng-checked="$parent.boarding.Required_Company | isTrue"> Company
                </label>
             </div>
            </div>
            <div class="col-md-4">
             <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_State" id="Required_State" type="checkbox" ng-checked="$parent.boarding.Required_State | isTrue"> State
                </label>
             </div>
            </div>
             <div class="col-md-4">
             <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_Phone" id="Required_Phone" type="checkbox" ng-checked="$parent.boarding.Required_Phone | isTrue"> Phone Number
                </label>
             </div>
            </div>
           <div class="col-md-4">
             <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_Address" id="Required_Address" type="checkbox" ng-checked="$parent.boarding.Required_Address | isTrue"> Address
                </label>
             </div>
            </div>
             <div class="col-md-4">
             <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_Zip" id="Required_Zip" type="checkbox" ng-checked="$parent.boarding.Required_Zip | isTrue"> Zip Code
                </label>
             </div>
            </div>
             <div class="col-md-4">
             <div class="checkbox">
                  <label class="control-label normalletter">
                  <input data-ng-model="$parent.boarding.Required_Email" id="Required_Email" type="checkbox" ng-checked="$parent.boarding.Required_Email | isTrue"> Email Address
                </label>
             </div>
            </div>
        </div>
  </div>
  <div class="col-md-12">
        <br/>
        <div class="form-group">
             <label class='explaintext'>Required fields must be complete to continue to Step 3 of the Boarding Process</label>
             <input style="float:right;white-space:pre-line;" type="submit" class="btn btn-primary" value="Save and Continue">
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
  </div>
</fieldset> 