<section data-ng-controller="ButtonController" data-ng-init="button_init();button_next();setTitle('Buttons');">
    <div class="col-md-9 zeropaddingleft toplevel">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active firstTab" ng-class="{true: 'active'}[page == 1]"><a href='' data-ng-click="button_next(1); $event.stopPropagation();">Product Button</a></li>
            <li role="presentation" class="lastTab" ng-class="{true: 'active'}[page == 2]"><a href='' data-ng-click="button_next(2); $event.stopPropagation();">Donation Button</a></li>
        </ul>
     </div>
    <div class="container1 col-md-12">
        <form id="inputForm" name="inputForm" class="form-horizontal" data-ng-submit="doCreate()" validate>
    
            <div ng-include="templateurl"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" class="btn btn-primary btn-lg" value="
                        {{page == 1 ? 'Add Product' : 'Add Donation'}}">
                    </div>
                    <div data-ng-show="donation_error && page == 2" class="text-danger">
                        <strong data-ng-bind="donation_error"></strong>
                    </div>
                    <div data-ng-show="product_error && page == 1" class="text-danger">
                        <strong data-ng-bind="product_error"></strong>
                    </div>
                    <span>&nbsp;</span>
                </div>
            </div>
        </form>
    </div>



</section>
