<section data-ng-controller="ButtonController" data-ng-init="setTitle('Buttons');">
    <div class="container1 col-md-12">
        <form class="form-horizontal" data-ng-submit="buttonWrap()" novalidate name="searchform">
            <fieldset>

                <div class="col-md-12"> 
                    <div class="form-group">
                       <h3>List Buttons</h3>
                    </div>
                   
                    <div class="row" container1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label normal" for="Button_Name">Button Name</label>
                                    <div class="controls">
                                        <input type="text" id="Button_Name" name="Button_Name" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label normal" for="Button_Type">Button Type</label>
                                    <div class="controls">
                                        <select type="text" id="Button_Type" name="Button_Type" class="form-control">
                                            <option value="all" selected>All Types</option>
                                            <option value="products">Products</option>
                                            <option value="donations">Donations</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" class="btn btn-primary btn-lg" value="Search">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>

            </fieldset>
        </form>
        
        <!--beginning of report-->
        
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        
        <br /><br />
              
        <div class="col-md-12 table-responsive" ng-show="buttonsShow" id="report-body">
          <table class="table table-striped">              
            <thead>
              <tr>
                <th style="text-align:left;">Button Name</th>
                <th style="text-align:left;">Button Type</th>
                <th style="text-align:left;">Button Size</th>
                <th style="text-align:center;" colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemButtons | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;text-align:right;">

                    <!-- Button Name -->
                    <td style="text-align:left;">
						<span ng-bind-html="item.Button_Name"></span>
					</td>
                    
                    <!-- Button Type -->
                    <td style="text-align:left;">
						{{item.Button_Type}}
					</td>
                    
                    <!-- Button Size -->
                    <td style="text-align:left;">
						{{item.Button_Size}}
					</td>

                    <td><a ng-click="displayConfirmation('', '{{item.Button_URL}}','{{item.Button_Name}}')"><b>&lt;/&gt;</b></a></td>
                    <td ng-show="{{item.Button_Type == 'Product'}}"><a ng-href="#!/productbuttonedit/{{item.Button_ID}}"><span class="icon-pencil-black" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a></td>
                    <td ng-show="{{item.Button_Type == 'Donation'}}"><a ng-href="#!/donationbuttonedit/{{item.Button_ID}}"><span class="icon-pencil-black" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a></td>
                    <td><a href="" ng-click="verifyDelete('{{item.Button_ID}}','{{item.Button_Type}}')"><span class="icon-trash-black" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                  <td style="text-align:center" colspan="15">
                    <div class="pagination" ng-show="itemsTransSnapshot.length > itemsPerPage">
                      <ul>
                        <li>
                            <a>{{firstItem}} - {{lastItem}} of {{items.length}}</a>
                        </li>
                        <li ng-class="startPageDisabled()">
                          <a href ng-click="startPage()">«« Start</a>
                        </li>
                        <li ng-class="prevPageDisabled()">
                          <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range()"
                          ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                          <a href="#">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()">
                          <a href ng-click="nextPage()">Next »</a>
                        </li>
                        <li ng-class="endPageDisabled()">
                          <a href ng-click="endPage()">End »»</a>
                        </li>
                        <li>
                            <a>
                            <form>
                                <select data-ng-model="pageSelected" ng-change="goToPage()">
                                    <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                                </select>
                            </form>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="transSnapshotShow" id="export-buttons">

            <!-- Export button -->
            <a download="transaction_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Button Report</h1>
                <table class="table table-striped" id="datatable">
                     <thead>
                        <tr>
                            <th style="text-align:center;">Button Name</th>
                            <th style="text-align:center;">Button Type</th>
                            <th style="text-align:center;">Button Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemButtons | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;text-align:right;">
        
                            <!-- Button Name -->
                            <td style="text-align:left;">
                                {{item.Button_Name}}
                            </td>
                            
                            <!-- Button Type -->
                            <td style="text-align:left;">
                                {{item.Button_Type}}
                            </td>
                            
                            <!-- Button Size -->
                            <td style="text-align:left;">
                                {{item.Button_Size}}
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>      
        </div>        
    </div>
</section>
