<section data-ng-controller="ButtonController" data-ng-init="button_edit_init();setTitle('Buttons');">
    <div class="container1 col-md-12">
        <form id="inputForm" name="inputForm" class="form-horizontal" data-ng-submit="doEdit()" validate>
    
            <div ng-include="templateurl"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" class="btn btn-primary btn-lg" value="
                        {{page == 1 ? 'Save Product' : 'Save Donation'}}">
                    </div>
                    <div data-ng-show="donation_error && page == 2" class="text-danger">
                        <strong data-ng-bind="donation_error"></strong>
                    </div>
                    <div data-ng-show="product_error && page == 1" class="text-danger">
                        <strong data-ng-bind="product_error"></strong>
                    </div>
                    <span>&nbsp;</span>
                </div>
            </div>

        </form>
    </div>
</section>
