<section  data-ng-controller="SaleController" data-ng-init="config();setTitle('Advanced Reports');ChargebackReversalDetails()">
    <div class="col-md-12">
        <div class="form-group">
            <h1>Chargeback Reversal Details</h1>
        </div>

        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped" ng-show="itemsChargebackReversalDetailByDate.length > 0">
                <thead>
                <tr ng-show="itemsChargebackReversalDetailByDate.length>0">
                    <th ng-show="isAdmin">Merchant ID</th>
                    <th ng-show="isAdmin">Merchant Name</th>
                    <th>Product</th>
                    <th>Transaction ID</th>
                    <th>Occurrence Date</th>
                    <th>Description</th>
                    <th style="text-align:right">Amount</th>
                </tr>
                </thead>
                <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr ng-repeat="item in itemsChargebackReversalDetailByDate" style="height:30px;">

                    <!-- Merchant ID -->
                    <td ng-show="isAdmin">
                        {{item.Merchant_ID}}
                    </td>

                    <!-- Merchant Name -->
                    <td ng-show="isAdmin">
                        {{item.Merchant_Name}}
                    </td>

                    <!-- Product Name -->
                    <td>{{item.productdescription}}</td>

                    <!-- Transaction ID -->
                    <td>{{item.Transaction_ID}}</td>

                    <!-- Postdate -->
                    <td>
                        {{item.occurrencedate | dateForHuman}}
                    </td>

                    <!-- Description -->
                    <td>
                        {{item.Description}}
                    </td>

                    <!-- Amount -->
                    <td style="text-align:right">
                        {{item.Amount | displaynullcurrency}}
                    </td>

                </tr>
                </tbody>
                <tbody>
                <tr style="height:30px;">
                    <th ng-show="isAdmin"></th>
                    <th ng-show="isAdmin"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right">
                        {{sumAmountTransactionFeeReport | currency}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <td style="text-align:center" colspan="12">
                    <div class="pagination" ng-show="itemsChargebackReversalDetailByDate.length > itemsPerPage">
                        <ul>
                            <li>
                                <a>{{firstItem}} - {{lastItem}} of {{itemsChargebackReversalDetailByDate.length}}</a>
                            </li>
                            <li ng-class="startPageDisabled()">
                                <a href ng-click="startPage()">«« Start</a>
                            </li>
                            <li ng-class="prevPageDisabled()">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range()"
                                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                <a href="">{{n+1}}</a>
                            </li>
                            <li ng-class="nextPageDisabled()">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                            <li ng-class="endPageDisabled()">
                                <a href ng-click="endPage()">End »»</a>
                            </li>
                            <li>
                                <a>
                                    <form>
                                        <select data-ng-model="pageSelected" ng-change="goToPage()">
                                            <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                                        </select>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="itemsChargebackReversalDetailByDate.length > 0">

            <!-- Export button -->
            <a download="transaction_fee_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="transaction_fee_report.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="transaction_fee_report.tsv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->

            <br /><br />

            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Merchant Activity Report</h1>
                <table class="table table-striped" id="datatable">
                    <thead>
                    <tr ng-show="itemsChargebackReversalDetailByDate.length>0">
                        <th ng-show="isAdmin">Merchant ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th>Product</th>
                        <th>Transaction ID</th>
                        <th>Occurrence Date</th>
                        <th>Description</th>
                        <th style="text-align:right">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in itemsChargebackReversalDetailByDate" style="height:30px;">

                        <!-- Merchant ID -->
                        <td ng-show="isAdmin">
                            {{item.Merchant_ID}}
                        </td>

                        <!-- Merchant Name -->
                        <td ng-show="isAdmin">
                            {{item.Merchant_Name}}
                        </td>

                        <!-- Product Name -->
                        <td>{{item.productdescription}}</td>

                        <!-- Transaction ID -->
                        <td>{{item.Transaction_ID}}</td>

                        <!-- Postdate -->
                        <td>
                            {{item.occurrencedate | dateForHuman}}
                        </td>

                        <!-- Description -->
                        <td>
                            {{item.Description}}
                        </td>

                        <!-- Amount -->
                        <td style="text-align:right">
                            {{item.Amount}}
                        </td>

                    </tr>
                    </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>
</section>
