<section data-ng-controller="SaleController" data-ng-init="custVaultInitialize();setTitle('Customer Vault');">
    <div class="container1 col-md-12">
         <div id="transactionCompleted" style="display:none;">
            <div class="slide-animate" ng-include="'modules/creditcard/views/transactioncompleted.client.view.html'"></div>
        </div>
        <form id="fieldsForm" name="inputForm" class="form-horizontal" data-ng-submit="doCreate()" validate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group" ng-show="checkVaultCreate()">
                        <h4>Add New Customer to Vault Records</h4>
                    </div>
                    <div class="form-group" ng-show="!checkVaultCreate()">
                        <h4>Modify a Customer Vault Record</h4>
                    </div>
                    <div class="row"  ng-show="!checkVaultCreate()">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="customerVaultId">Customer Vault ID</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="customerVaultId" id="customerVaultId" class="form-control" placeholder="Customer Vault ID" ng-disabled="!checkVaultCreate()">
                                </div>
                            </div>
                        </div>
                    </div>
              <div class="form-group">
                    <h4>Billing Information</h4>
              </div>
                <div class="row">
                    <!--div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="billingId">Billing ID</label>
                            <div class="controls">
                                <input type="text" data-ng-model="billingId" id="billingId" class="form-control" placeholder="Billing ID">
                            </div>
                        </div>
                     </div -->
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="creditCardNumber">Credit Card Number</label>
                            <div class="controls">
                                <input type="text" data-ng-model="creditCardNumber" id="creditCardNumber" class="form-control" placeholder="Required" required>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="expirationDate">Expiration Date</label>
                            <div class="controls">
                                <input type="text" data-ng-model="expirationDate" id="expirationDate" class="form-control" placeholder="Required" required>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="ccv">Card Security Code</label>
                            <div class="controls">
                                <input type="text" data-ng-model="ccv" id="ccv" class="form-control" placeholder="Required for new card">
                            </div>
                        </div>
                        <div style="color:red">{{ccvError}}</div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label" for="currency">Currency</label>
                            <div class="controls">
                                  <select class="form-control" id="currency" data-ng-model="currency" ng-init="currency='USD'"> 
                                     <option value="USD" selected>USD</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="firstNameCard">First Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="firstNameCard" id="firstNameCard" class="form-control" placeholder="Required" required>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="lastNameCard">Last Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="lastNameCard" id="lastNameCard" class="form-control" placeholder="Required" required>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="companyCard">Company</label>
                            <div class="controls">
                                <input type="text" data-ng-model="companyCard" id="companyCard" class="form-control" placeholder="Optional">
                            </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label" for="countryCard">Country</label>
                            <div class="controls">
                                <select  class="form-control" id="countryCard" data-ng-model="countryCard" ng-change="verifyCountryCard()" ng-options="country.code as country.name for country in countries" ng-init="countryCard='US'"></select>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="addressCard">Address</label>
                            <div class="controls">
                                <input type="text" data-ng-model="addressCard" id="addressCard" class="form-control" placeholder="Optional">
                            </div>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="addressContCard">Address (cont.)</label>
                            <div class="controls">
                                <input type="text" data-ng-model="addressContCard" id="addressContCard" class="form-control" placeholder="Optional">
                            </div>
                        </div>
                       </div>
                  </div>
                <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="cityCard">City</label>
                            <div class="controls">
                                <input type="text" data-ng-model="cityCard" id="cityCard" class="form-control" placeholder="Optional">
                            </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="stateProvinceCard">State/Province</label>
                            <div class="controls">
                                <input type="text" data-ng-model="stateProvinceCardText" id="stateProvinceCardText" class="form-control" placeholder="Optional" style="display: none;">
                                <select class="form-control" id="stateProvinceCard" data-ng-model="stateProvinceCard" ng-options="state.code as state.name for state in states">  <option value="" selected>--Please Select a State--</option>
                                 </select>
                            </div>
                        </div>
                       </div>
                  </div>
                <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label" for="zipPostalCodeCard">Zip/Postal Code</label>
                            <div class="controls">
                                <input type="text" data-ng-model="zipPostalCodeCard" ng-pattern="/^[0-9]{5}$/" id="zipPostalCodeCard" name="zipPostalCodeCard" class="form-control" placeholder="Required" required>
                                <span class="required" ng-show="inputForm.zipPostalCodeCard.$error.pattern">Not a valid Zip Code!</span>
                            </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="phoneNumberCard">Phone Number</label>
                            <div class="controls">
                                <input type="text" data-ng-model="phoneNumberCard" id="phoneNumberCard" name="phoneNumberCard" ng-pattern="/^\+?\d{3}[- ]?\d{3}[- ]?\d{4}$/" class="form-control" placeholder="Optional">
                                <span class="required" ng-show="inputForm.phoneNumberCard.$error.minlength">Not less that 10 char</span>
                                <span class="required" ng-show="inputForm.phoneNumberCard.$error.maxlength">Not More than 11 char</span>
                                <span class="required" ng-show="inputForm.phoneNumberCard.$error.pattern">Please Match Pattern [+123-236-2365 or 123-236-2365]</span>
                            </div>
                        </div>
                       </div>
                  </div>
                <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="faxNumberCard">Fax Number</label>
                            <div class="controls">
                                <input type="text" data-ng-model="faxNumberCard" id="faxNumberCard" name="faxNumberCard" class="form-control" ng-pattern="/^\+?\d{3}[- ]?\d{3}[- ]?\d{4}$/" placeholder="Optional">
                                <span class="required" ng-show="inputForm.faxNumberCard.$error.minlength">Not less that 10 char</span>
                                <span class="required" ng-show="inputForm.faxNumberCard.$error.maxlength">Not More than 11 char</span>
                                <span class="required" ng-show="inputForm.faxNumberCard.$error.pattern">Please Match Pattern [+123-236-2365 or 123-236-2365]</span>
                            </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                       <div class="form-group">
                            <label class="control-label" for="emailAddressCard">Email Address</label>
                            <div class="controls">
                                <input type="email" data-ng-model="emailAddressCard" id="emailAddressCard" name="emailAddressCard" class="form-control" placeholder="Optional">
                                <span class="required" ng-show="inputForm.emailAddressCard.$error.email">Not a valid Email!</span>
                            </div>
                      </div>
                    </div>
                 </div>
                <div class="form-group">
                    <h4>Shipping Address</h4>
                </div>
           
             <div class="form-group">
                 <div class="row">
                    <div class="col-md-2">
                        <label class="control-label" for="sameBilling">Same as Billing &nbsp; <input type="checkbox" ng-click="sameAsBilling()" data-ng-model="sameBilling" id="sameBilling"></label>
                    </div>
                    <div class="col-md-2">
                        <div class="controls">
                            
                        </div>
                    </div>
                 </div>
            </div>
             <div class="row">
                <!-- div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="shippingId">Shipping ID</label>
                        <div class="controls">
                            <input type="text" data-ng-model="shippingId" id="shippingId" class="form-control" placeholder="Shipping ID">
                        </div>
                   </div>
                </div -->
                <div class="col-md-6">
                   <div class="form-group">
                        <label class="control-label" for="firstNameShipping">First Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="firstNameShipping" id="firstNameShipping" class="form-control" placeholder="Optional">
                        </div>
                    </div>
               </div>
                <div class="col-md-6">
                   <div class="form-group">
                        <label class="control-label" for="lastNameShipping">Last Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="lastNameShipping" id="lastNameShipping" class="form-control" placeholder="Optional">
                        </div>
                    </div>
                </div>
           </div>
           <div class="row">
                <div class="col-md-6">
                   <div class="form-group">
                        <label class="control-label" for="companyShipping">Company</label>
                        <div class="controls">
                            <input type="text" data-ng-model="companyShipping" id="companyShipping" class="form-control" placeholder="Optional">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                          <label class="control-label" for="countryShipping">Country</label>
                          <div class="controls">
                            <select  ng-change="verifyCountryShipping()" class="form-control" id="countryShipping" data-ng-model="countryShipping" ng-options="country.code as country.name for country in countries" ng-init="countryShipping='US'"></select>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="addressShipping">Address</label>
                        <div class="controls">
                            <input type="text" data-ng-model="addressShipping" id="addressShipping" class="form-control" placeholder="Optional">
                        </div>
                    </div>
               </div>
                <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label" for="addressContShipping">Address (cont.)</label>
                        <div class="controls">
                            <input type="text" data-ng-model="addressContShipping" id="addressContShipping" class="form-control" placeholder="Optional">
                        </div>
                    </div>
                </div>
           </div>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="cityShipping">City</label>
                        <div class="controls">
                            <input type="text" data-ng-model="cityShipping" id="cityShipping" class="form-control" placeholder="Optional">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="stateProvinceShipping">State/Province</label>
                         <div class="controls">
                                <input type="text" data-ng-model="stateProvinceShippingText" id="stateProvinceShippingText" class="form-control" placeholder="State/Province" style="display: none;">
                                <select class="form-control" id="stateProvinceShipping" data-ng-model="stateProvinceShipping" ng-options="state.code as state.name for state in states">  <option value="" selected>--Please Select a State--</option>
                                 </select>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="zipPostalCodeShipping">Zip/Postal Code</label>
                        <div class="controls">
                            <input type="text" data-ng-model="zipPostalCodeShipping" ng-pattern="/^[0-9]{5}$/" id="zipPostalCodeShipping" name="zipPostalCodeShipping" class="form-control" placeholder="Optional">
                            <span class="required" ng-show="inputForm.zipPostalCodeShipping.$error.pattern">Not a valid Zip Code!</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                        <label class="control-label" for="emailAddressShipping">Email Address</label>
                        <div class="controls">
                            <input type="email" data-ng-model="emailAddressShipping" id="emailAddressShipping"  name="emailAddressShipping"class="form-control" placeholder="Optional">
                            <span class="required" ng-show="inputForm.emailAddressShipping.$error.email">Not a valid Email!</span>
                        </div>
                 </div>
                </div>
            </div>
         </div>
        <div class="col-md-12">
                <div class="form-group">
                    <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                    <input id="submitButton" type="submit" class="btn btn-primary btn-lg" value="{{checkVaultCreate() ? 'Create' : 'Update'}}">
                    <!-- input  ng-click="cleanUser()" id="resetButton"  type="reset" class="btn btn-primary btn-lg" value="Reset" -->
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
        </div>
            </fieldset>
        </form>
    </div>
</section>