<section data-ng-controller="BoardingCrudController" data-ng-init="setTitle('Create Admin Account');">
    <fieldset class="container1">
        <form id="fieldsForm" name="inputForm" class="form-horizontal" data-ng-submit="createmojoadmin()" validate>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label" for="Username">Username</label>
                     <div class="controls">
                        <input type="text" id="Username" name="Username" class="form-control" data-ng-model="$parent.credentials.Username" placeholder="Required" required>
                     </div>
                </div>
            </div>
                    <div class="form-group">
                        <label class="control-label" for="First_Name">First Name</label>
                        <input type="text" id="First_Name" name="First_Name" class="form-control" data-ng-model="$parent.credentials.First_Name" placeholder="Required" required>
                    </div>
                      <div class="form-group">
                        <label class="control-label" for="Last_Name">Last Name</label>
                        <input type="text" id="Last_Name" name="Last_Name" class="form-control" data-ng-model="$parent.credentials.Last_Name" placeholder="Required" required>
                    </div>
            
                   <div class="form-group">
                        <label class="control-label" for="Email">Email</label>
                        <input type="email" id="Email" name="Email" class="form-control" data-ng-model="$parent.credentials.Email" placeholder="Required" required>
                    </div>
                     <div class="checkbox">
                         <label class="control-label normalletter">
                          <input data-ng-model="checkboxdata" id="superadmin" type="checkbox" > Super Admin
                        </label>
                     </div>
            </div>
            <div class="col-md-12">
                <br/>
                 <div class="form-group">
                    <label class='explaintext'>Required fields must be complete to create user</label>
                </div>
                <div class="form-group">
                    <input style="float:right;white-space:pre-line;" type="submit" class="btn btn-primary" value="Save">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
           </div>
        </form>
    </fieldset> 
</section>