<section data-ng-controller="BoardingController" data-ng-init="customerExpiryWrap();setTitle('Customer Expiry Report');">
    <div class="container1 col-md-12">
        <div class="col-md-12">
            <div class="form-group">
                <h3>Customer Expiry Report</h3>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                </div>
            </div>
        </div>
                            
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
            
        <div class="col-md-12 table-responsive" ng-show="showSearchExpiry" id="report-body">
            <table class="table table-striped" ng-show="items.length > 0" width="100%">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Credit Card</th>
                        <th>Exp. Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items track by item.id" style="height:30px;">
                        <td><span data-ng-bind="item.first_name"></span> <span data-ng-bind="item.last_name"></span></td>
                        <td><span data-ng-bind="item.email"></span></td>
                        <td><span data-ng-bind="item.phone"></span></td>
                        <td><span data-ng-bind="item.cc_number"></span></td>
                        <td><span data-ng-bind="item.cc_exp"></span></td>
                        <td ng-show="item.email != null"><a href="mailto:{{item.email}}">Send Email</a></td>
                        <td ng-show="item.email == null">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="false">
            <div class="col-md-12">
                <div class="form-group">
                    <h1>Customer Export</h1>
                    <table id="exportable" class="table table-striped" ng-show="items.length > 0" width="100%">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th># Emails Sent</th>
                                <th>Last Email Sent</th>
                                <th>Last Call Made</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items track by item.id" style="height:30px;">
                                <td><span data-ng-bind="item.first_name"></span> <span data-ng-bind="item.last_name"></span></td>
                                <td><span data-ng-bind="item.email"></span></td>
                                <td><span data-ng-bind="item.phone"></span></td>
                                <td><span data-ng-bind="item.cc_number"></span></td>
                                <td><span data-ng-bind="item.cc_exp"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-12" ng-show="showSearchExpiry">
            <a download="customer_expiry_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportable', 'Export');">
                <button class="btn btn-primary btn-lg">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export
                </button>
            </a>
            <br /><br />
        </div>
    </div>
</section>