<section data-ng-controller="BoardingController" data-ng-init="initialize();setTitle('Customer Vault');">
    <div class="container1 col-md-12">
        <form class="form-horizontal" data-ng-submit="customerVaultWrap()" novalidate name="searchform">
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                        <h3>Search Customer Vault</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="firstName">Customer First Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="Customer First Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="lastName">Customer Last Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="Customer Last Name" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="email">Customer E-mail</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="email" id="email" class="form-control" placeholder="Customer E-mail" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="last4ofCC">Last 4 of CC</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="last4ofCC" name="last4ofCC" ng-pattern="/^[0-9]{4}$/" ng-minlength="4" ng-maxlength="4" class="form-control" placeholder="Last 4 of CC" />
                                    <p ng-show="searchform.last4ofCC.$error.pattern" style="color:red;">Field requires 4 digits only</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Search">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
                

            </fieldset>
        </form>
            
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
            
        <div class="col-md-12 table-responsive" ng-show="showSearchVault" id="report-body">
            <table class="table table-striped" ng-show="items.length > 0" width="100%">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Vault ID</th>
                        <th>Actions</th>
                        <th>Details</th>
                        <th>Entry Time</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items" style="height:30px;">
                        <td><span data-ng-bind="item.first_name"></span> <span data-ng-bind="item.last_name"></span></td>
                        <td><span data-ng-bind="item.customer_vault_id"></span></td>
                        <td>[<a href="{{root}}/#!/sale/{{item.customer_vault_id}}">Sale</a>] [<a href="{{root}}/#!/authorize/{{item.customer_vault_id}}">Authorize Only</a>] [<a href="{{root}}/#!/credit/{{item.customer_vault_id}}">Credit</a>] </td>
                        <td><span data-ng-bind="item.cc_number"></span></td>
                        <td><span data-ng-bind="item.createdAt | date:'medium'"></span></td>
                        <td><a href='#!/create/{{item.id}}'><span class="icon-pencil-black" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a></td>
                        <td><a href='' ng-click="verifyDelete({{item.id}},{{item.id}})"><span class="icon-trash-black" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="false">
            <div class="col-md-12">
                <div class="form-group">
                    <h1>Customer Export</h1>
                    <table id="exportableWithLinks" class="table table-striped" ng-show="items.length > 0" width="100%">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Vault ID</th>
                                <th>Actions</th>
                                <th>Details</th>
                                <th>Entry Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items" style="height:30px;">
                                <td><span data-ng-bind="item.first_name"></span> <span data-ng-bind="item.last_name"></span></td>
                                <td><span data-ng-bind="item.customer_vault_id"></span></td>
                                <td>Sale: {{root}}/#!/sale/{{item.customer_vault_id}}<br />
                                     Authorize Only: {{root}}/#!/authorize/{{item.customer_vault_id}}<br />
                                     Credit: {{root}}/#!/credit/{{item.customer_vault_id}} </td>
                                <td><span data-ng-bind="item.cc_number"></span></td>
                                <td><span data-ng-bind="item.createdAt | date:'medium'"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="false">
            <div class="col-md-12">
                <div class="form-group">
                    <h1>Customer Export</h1>
                    <table id="exportableWithoutLinks" class="table table-striped" ng-show="items.length > 0" width="100%">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Vault ID</th>
                                <th>Details</th>
                                <th>Entry Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items" style="height:30px;">
                                <td><span data-ng-bind="item.first_name"></span> <span data-ng-bind="item.last_name"></span></td>
                                <td><span data-ng-bind="item.customer_vault_id"></span></td>
                                <td><span data-ng-bind="item.cc_number"></span></td>
                                <td><span data-ng-bind="item.createdAt | date:'medium'"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-12" ng-show="showSearchVault">
            <a download="customer_vault_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportableWithLinks', 'Export');">
                <button class="btn btn-primary btn-lg">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export
                </button>
            </a>
            <br /><br />
            <!-- a download="transaction_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportableWithoutLinks', 'Export using actions links');">
                <button class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export hiding actions links
                </button>
            </a -->
        </div>
    </div>
</section>