<section data-ng-controller="SaleController" data-ng-init="initialize();setTitle('Dashboard');getDashboard();">
  {{setTitle('Welcome')}}
  <!--div class="container1 col-md-12" -->
  <div class="col-md-12 btn-group" ng-hide="hideNationBuilderAlert" id="nation-builder-button">
      <button ng-click="hideNationBuilderButton();" class="btn pull-right"><sup>x</sup></span></button>
      <button class="btn pull-right" ng-click="NationBuilderButtonPressed();">Integrate NationBuilder</button>
  </div>
  <div class="col-md-12">
    <div ng-show="theAdmin" class="form-group">
      <p>ADMIN DASHBOARD</p>
    </div>
    <div ng-hide="theAdmin" class="form-group" style="//padding-bottom:7em;">
      <div ng-show="itemsBalance.length > 0">
        <div ng-repeat="item in itemsBalance">
          <div class="col-md-3">
            <h4>{{item.merchant_name}}</h4>
            <h4>Status:
              <span class="redStatus" ng-show="item.merchant_status == 'restricted'"> Restricted</span>
              <span class="redStatus" ng-show="item.merchant_status == 'achreject'"> ACH Reject</span>
              <span class="redStatus" ng-show="item.merchant_status == 'suspended'"> Suspended</span>
              <span class="redStatus" ng-show="item.merchant_status == 'closed'"> Closed</span>
              <span class="greenStatus" ng-show="item.merchant_status == 'active'"> Active</span>
              <span class="orangeStatus" ng-show="item.merchant_status == 'pending'"> Pending</span>&nbsp;<span ng-click="openHelpModal()" class="smicon-information"></span></h4>
          </div>
          <div class="col-md-3">
            <h4>Current Balance:</h4>
            <div class="thewindow">
              <h3>{{item.currentBalance | displaynullbalance}}</h3>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Total Reserve Balance:</h4>
            <div class="thewindow">
              <h3>{{item.reserveBalance | displaynullbalance}}</h3>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Total Held for Merchant:</h4>
            <div class="thewindow">
              <h3>{{item.held | displaynullbalance}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div>
      <div ng-show="!theAdmin">
        <div class="dashboard-container">
          <div class="row">
            <div class="col-md-3">
                <div class="thewindow">
                  <h3>{{dashboardData[productIndex].data.Net_Amount | displaynullbalance}}</h3>
                  <h4>Current Balance</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thewindow">
                    <h3>{{dashboardData[productIndex].data.Reserve_Amount | displaynullbalance}}</h3>
                    <h4>Reserve Balance</h4>
                </div>
            </div>
            <div class="col-md-3">
              <div class="thewindow">
                  <h3>{{dashboardData[productIndex].disbursement_schedule | date:"MM/dd/yyyy"}}</h3>
                  <h4>Next Disbursement Date</h4>
              </div>
            </div>
            
            <div ng-show="dashboardData.length !== 2" class="col-md-3 dashboard-products" id="dropdownMenu8">
               <select
                    ng-model="Product_NameDASH"
                    ng-options="c.productName for c in dashboardData"                                  
                    ng-change="Product_NameChangeDASH()"                                
                    class="form-control product-dropdown">
               </select>           
            </div>
            <div ng-show="dashboardData.length == 2" class="col-md-3 dashboard-products" id="dropdownMenu8">
                <div class="form-control"> 
                    {{ dashboardData[1].productName }}
                </div>
            </div>
              
              <!--<div class="dropdown dropdown-scroll">
                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu8" data-toggle="dropdown"><span style="float: left;">{{dashboardData[productIndex].Product_ID}}</span><span style="float:right;" class="caret"></span>
                </button>
                
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu8">
                  
                  <li role="presentation">
                    <div class="input-group input-group-sm search-control">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Query" ng-model="queryproductid"></input>
                    </div>
                  </li>
                  
                  <li role="presentation" ng-click="setProductId8(c.productId)" ng-repeat='c in dashboardData| filter:queryproductid'> <a href=""> {{c.Product_ID}} </a></li>
                  
                </ul>
                
                </div>-->
                
                
              </div>
            </div>
          </div>
        </div>
        
        
        <!-- Austin - new dropdown for more than one product, simpler, more responsive with clicking in and out -->  
        <!--<div ng-show="" class="">                        
              <div class="form-group">   
                   <select
                        ng-model="Product_NameMAR"
                        ng-options="c.name for c in dashboardData"                                  
                        ng-change="Product_NameChangeMAR()"                                
                        class="form-control">
                   </select>                            
              </div>                        
         </div>-->

        <div class="dashboard-bottom">
          <div class="row dashboard-merchant ">
            <div class="col-md-4">
                <h4>{{dashboardMerchant_name}}</h4>
                <!-- <h4>Processor ID: {{item.Processor_ID}}</h4> -->
            </div>
            <div class="col-md-4 text-center">
                <h4>Status:
                    <span class="redStatus" ng-show="dashboardMerchant_status == 'restricted'"> Restricted</span>
                    <span class="redStatus" ng-show="dashboardMerchant_status == 'achreject'"> ACH Reject</span>
                    <span class="redStatus" ng-show="dashboardMerchant_status == 'suspended'"> Suspended</span>
                    <span class="redStatus" ng-show="dashboardMerchant_status == 'closed'"> Closed</span>
                    <span class="greenStatus" ng-show="dashboardMerchant_status == 'active'"> Active</span>
                    <span class="orangeStatus" ng-show="dashboardMerchant_status == 'pending'"> Pending</span>&nbsp;<span ng-click="openHelpModal()" class="smicon-information"></span></h4>
            </div>
            <div class="col-md-4">
              <div class="btn-group btn-group-xs pull-right">
                <button id="dayButton" class="btn btn-default" ng-click="DashboardActivityWrap('day')">Day</button>
                <button id="weekButton" class="btn btn-default" ng-click="DashboardActivityWrap('week')">Week</button>
                <button id="monthButton" class="btn btn-default" ng-click="DashboardActivityWrap('month')">Month</button>
                <button id="yearButton" class="btn btn-default" ng-click="DashboardActivityWrap('year')">Year</button>
              </div>
            </div>
          </div>
          <img id="loadingImg" style="height:40px;display:none; margin:100px auto;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
          <div id="report-body" style="min-height:449px;">
            <div class="row">
              <div class="col-md-12">
                <h4><strong>Sales Volume</strong></h4>
              </div>
            <div class="row" style="height:100%">
              <div class="col-md-12">
                <div class="sales-volume" style="width:100%; height:200px;">
                  <canvas id="sales-chart" class="chart chart-line" data="salesData"  colours="salesColours" labels="salesLabels" legend="false" series="salesSeries" options="salesOptions" style="width:100%; height:200px;"></canvas> 
                </div>
              </div>
            </div>

            <div class="row">&nbsp;</div>
            
            
            <div class="row" style="height:100%">
              <div class="col-md-3">
                <h4><strong>Transactions Processed</strong></h4>
              </div>
              <div class="col-md-9">
                <h4><strong>Successful Transactions</strong></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 col-xs-12 transactions-graph pull-right" style="height:84px;">
                  <canvas id="transactions-chart" width="100%" height="84" class="chart chart-line" data="transactionsData" colours="transactionsColours" labels="transactionsLabels" legend="false" series="transactionsSeries" options="transactionsOptions" style="width:100%; height:84px"></canvas> 
              </div>
              <div class="col-md-1 transactions-processed">
                <span>Approved</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                <span>{{ transApproved }}</span>
              </div>
              <div class="col-md-1 transactions-processed">
                <span>Refunded</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                <span>{{ transRefunded }}</span>
              </div>
              <div class="col-md-1 transactions-">
                <span>Declined</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                <span>{{ transDeclined }}</span>
              </div>


            </div>

            <div class="row">&nbsp;</div>
<!--
            <div class="row">
              <div class="col-md-12">
                <div class="risk-assessment">
                  <h4><strong>Risk Assessment</strong></h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>Chargeback Count</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                </span>0</span>
              </div>
              <div class="col-md-3 risk-col-2 col-md-offset-1">
                <span>Chargeback Amount (%)</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                </span>0.00%</span>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 risk-col-1">
                <span>Chargeback Count (%)</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                <span>0.00%</span>
              </div>
              <div class="col-md-3 risk-col-2 col-md-offset-1">
                <span>Decline Count</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                <span>0</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 risk-col-1">
                <span>Chargeback Amount</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                <span>$0.00</span>
              </div>
              <div class="col-md-3  risk-col-2 col-md-offset-1">
                <span>Decline Count (%)</span>
              </div>
              <div class="col-md-2 dashboard-outline">
                <span>0.00</span>
              </div>
            </div>
-->
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
