<div class="col-md-12">
    <div class="form-group">
            <h4>Billing Information</h4>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="amount">Amount</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.amount" id="amount" name="amount" class="form-control" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" placeholder="Required" required>
                    <span ng-show="inputForm.amount.$error.pattern">Not valid number!</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="creditCardNumber">Credit Card Number</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.creditCardNumber" id="creditCardNumber" name="creditCardNumber" class="form-control" placeholder="Required" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label" for="expirationDate">Expiration Date</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.expirationDate" id="expirationDate" name="expirationDate" class="form-control" placeholder="Required" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
             <div class="form-group">
                <label class="control-label" for="cardSecurityCode" id="cardSecurityCodeLabel" name="cardSecurityCodeLabel">Card Security Code</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.cardSecurityCode" id="cardSecurityCode" name="cardSecurityCode" class="form-control" placeholder="Required" ng-required="ccvRequired">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <label class="control-label" for="addCustomerVault">Add to Customer Vault</label>
                    </div>
                    <div class="col-md-2">
                        <div class="controls">
                            <input style="display:none;" type="checkbox" id="checked" name="checked" class="form-control" checked>
                            <input type="checkbox" data-ng-model="$parent.addCustomerVault" id="addCustomerVault" name="addCustomerVault" class="form-control">
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="currency">Currency</label>
                <div class="controls">
                     <select class="form-control" id="currency" name="currency" data-ng-model="$parent.currency" ng-init="$parent.currency='USD'"> 
                         <option value="USD" selected>USD</option>
                     </select>
                </div>
            </div>
        </div>
     </div>
    <div class="form-group">
        <h4>Order Information</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="orderId">Order ID</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.orderId" id="orderId" name="orderId" class="form-control" placeholder="Optional">
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
                <label class="control-label" for="orderDescription">Order Description</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.orderDescription" id="orderDescription" name="orderDescription" class="form-control" placeholder="Optional">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             <div class="form-group">
                <label class="control-label" for="poNumber">PO Number</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.poNumber" id="poNumber" name="poNumber" class="form-control" placeholder="Optional">
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
                <label class="control-label" for="shipping">Shipping Amount</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.shipping" id="shipping" name="shipping" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" class="form-control" placeholder="Optional">
                    <span  ng-show="inputForm.shipping.$error.pattern">Not valid number!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-md-6">
             <div class="form-group">
                <label class="control-label" for="tax">Tax</label>
                <div class="controls">
                    <input type="text" data-ng-model="$parent.tax" id="tax"  name="tax" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/" class="form-control" placeholder="Optional">
                     <span ng-show="inputForm.tax.$error.pattern">Not valid number!</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <label class="control-label" for="taxExempt">Tax Exempt</label>
                    </div>
                    <div class="col-md-2">
                        <div class="controls">
                            <input type="checkbox" data-ng-model="$parent.taxExempt" id="taxExempt" name="taxExempt" class="form-control">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
<div ng-show="itemsView" class="col-md-12">
    <div class="form-group">
        <h4>Products<span style="float:right;"><a style="color:white;" ng-click="addRow()">Add Row</a> | <a style="color:white;" ng-click="removeRow()">Remove Row</a></span></h4>
    </div>
  <div class="col-md-12 table-responsive">
      <table style="min-width:800px;" class="table table-striped">
        <thead>
          <tr>
            <th scope="col" ng-repeat="title in humanTitles">{{title}}</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itemList">
                <td width="10%" ng-repeat="title in itemTitles">
                    <input type="text" ng-change="updateItemTotal(item,title)" ng-blur="roundNumbers(item,title)" class="form-control" data-ng-model="$parent.item[title]" value="{{item[title]}}">
                </td>
            </tr>
        </tbody>
        <tfoot>
             <td style="text-align:center;" colspan="12">
                <span style="float:left;">(Item Description/Code/Qty/Cost are required!)</span>
                <a style="float:right;" ng-click="setAmount()"><span>Click to Set Amount <label>{{totalCostTransaction | currency}}</label></span></a>
             </td>
        </tfoot>
     </table>
   </div>
</div>

<div class="form-group">
     <h4>Card Billing Address</h4>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="firstNameCard">First Name</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.firstNameCard" id="firstNameCard" name="firstNameCard" class="form-control" placeholder="Required" data-ng-required="true">
                <span ng-show="inputForm.firstNameCard.$error.pattern">First Name is Required!</span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="lastNameCard">Last Name</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.lastNameCard" id="lastNameCard" name="lastNameCard" class="form-control" placeholder="Required" data-ng-required="true">
                <span ng-show="inputForm.lastNameCard.$error.pattern">Last Name is Required!</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="companyCard">Company</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.companyCard" id="companyCard" name="companyCard" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="phoneNumberCard">Phone Number</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.phoneNumberCard" id="phoneNumberCard" name="phoneNumberCard" ng-pattern="/^\+?\d{3}[- ]?\d{3}[- ]?\d{4}$/" class="form-control" placeholder="Optional">
                <span ng-show="inputForm.phoneNumberCard.$error.minlength">Not less that 10 char!</span>
                <span ng-show="inputForm.phoneNumberCard.$error.maxlength">Not More than 11 char!</span>
                <span ng-show="inputForm.phoneNumberCard.$error.pattern">Please Match Pattern [+123-236-2365 or 123-236-2365]</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="addressCard">Address</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.addressCard" id="addressCard" name="addressCard" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
         <div class="form-group">
            <label class="control-label" for="faxNumberCard">Fax Number</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.faxNumberCard" id="faxNumberCard" name="faxNumberCard" class="form-control" ng-pattern="/^\+?\d{3}[- ]?\d{3}[- ]?\d{4}$/" placeholder="Optional">
                <span ng-show="inputForm.faxNumberCard.$error.minlength">Not less that 10 char!</span>
                <span ng-show="inputForm.faxNumberCard.$error.maxlength">Not More than 11 char!</span>
                <span ng-show="inputForm.faxNumberCard.$error.pattern">Please Match Pattern [+123-236-2365 or 123-236-2365]</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="addressContCard">Address (cont.)</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.addressContCard" id="addressContCard" name="addressContCard" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="emailAddressCard">Email Address</label>
            <div class="controls">
                <input type="email" data-ng-model="$parent.emailAddressCard" id="emailAddressCard" name="emailAddressCard" class="form-control" placeholder="Optional">
                <span ng-show="inputForm.emailAddressCard.$error.email">Not a valid Email!</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="cityCard">City</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.cityCard" id="cityCard" name="cityCard" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
         <div class="form-group">
            <label class="control-label" for="countryCard">Country</label>
            <div class="controls">
                <select  class="form-control" id="countryCard" name="countryCard" data-ng-model="$parent.countryCard" ng-change="verifyCountryCard()" ng-options="country.code as country.name for country in countries" ng-init="$parent.countryCard='US'"></select>
            </div>
        </div>
    </div>
 </div>
 <div class="row">
    <div class="col-md-6">
       <div class="form-group">
            <label class="control-label" for="zipPostalCodeCard">Zip/Postal Code</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.zipPostalCodeCard" id="zipPostalCodeCard" name="zipPostalCodeCard" class="form-control" placeholder="Required" data-ng-required="true">
                <span ng-show="inputForm.zipPostalCodeCard.$error.pattern">Not a valid Zip Code!</span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="stateProvinceCard">State/Province</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.stateProvinceCardText" id="stateProvinceCardText" name="stateProvinceCardText" class="form-control" placeholder="State/Province" style="display: none;">
                <select class="form-control" id="stateProvinceCard" name="stateProvinceCard" data-ng-model="$parent.stateProvinceCard" ng-options="state.code as state.name for state in states">  <option value="" selected>--Please Select a State--</option>
                 </select>
            </div>
        </div>
    </div>
 </div>
 <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="websiteAddressCard">Website Address</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.websiteAddressCard" id="websiteAddressCard" name="websiteAddressCard" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <h4>Shipping Address</h4>
</div>
 <div class="row">
   <div class="form-group">
        <div class="col-md-2">
            <label class="control-label" for="sameBilling">Same as Billing</label>
        </div>
         <div class="col-md-2">
            <div class="controls">
                <input type="checkbox" ng-click="sameAsBilling()" data-ng-model="$parent.sameBilling" id="sameBilling"  name="sameBilling" class="form-control">
            </div>
        </div>
    </div>
</div>
 <div class="row">
    <div class="col-md-6">
       <div class="form-group">
            <label class="control-label" for="firstNameShipping">First Name</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.firstNameShipping" id="firstNameShipping" name="firstNameShipping" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
       <div class="form-group">
            <label class="control-label" for="lastNameShipping">Last Name</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.lastNameShipping" id="lastNameShipping" name="lastNameShipping" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
</div>
 <div class="row">
    <div class="col-md-6">
       <div class="form-group">
            <label class="control-label" for="companyShipping">Company</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.companyShipping" id="companyShipping" name="companyShipping" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
         <div class="form-group">
            <label class="control-label" for="emailAddressShipping">Email Address</label>
            <div class="controls">
                <input type="email" data-ng-model="$parent.emailAddressShipping" id="emailAddressShipping"  name="emailAddressShipping" class="form-control" placeholder="Optional">
                <span ng-show="inputForm.emailAddressShipping.$error.email">Not a valid Email!</span>
            </div>
        </div>
    </div>
</div>
 <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="addressShipping">Address</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.addressShipping" id="addressShipping" name="addressShipping" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
       <div class="form-group">
             <label class="control-label" for="countryShipping">Country</label>
              <div class="controls">
                <select  ng-change="verifyCountryShipping()" class="form-control" id="countryShipping" name="countryShipping" data-ng-model="$parent.countryShipping" ng-options="country.code as country.name for country in countries" ng-init="$parent.countryShipping='US'"></select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
         <div class="form-group">
            <label class="control-label" for="addressContShipping">Address (cont.)</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.addressContShipping" id="addressContShipping" name="addressContShipping" class="form-control" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="cityShipping">City</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.cityShipping" id="cityShipping" name="cityShipping" class="form-control" placeholder="Optional" >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
         <div class="form-group">
            <label class="control-label" for="stateProvinceShipping">State/Province</label>
             <div class="controls">
                    <input type="text" data-ng-model="$parent.stateProvinceShippingText" id="stateProvinceShippingText" name="stateProvinceShippingText" class="form-control" placeholder="State/Province" style="display: none;">
                    <select class="form-control" id="stateProvinceShipping" name="stateProvinceShipping" data-ng-model="$parent.stateProvinceShipping" ng-options="state.code as state.name for state in states">  <option value="" selected>--Please Select a State--</option>
                     </select>
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="zipPostalCodeShipping">Zip/Postal Code</label>
            <div class="controls">
                <input type="text" data-ng-model="$parent.zipPostalCodeShipping" ng-pattern="/^[0-9]{5}$/" id="zipPostalCodeShipping" name="zipPostalCodeShipping" class="form-control" placeholder="Optional">
                <span ng-show="inputForm.zipPostalCodeShipping.$error.pattern">Not a valid Zip Code!</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
     <div class="form-group">
        <div class="col-md-2">
            <label class="control-label" for="sendReceiptEmail">Send Receipt Email</label>
        </div>
        <div class="col-md-2">
            <div class="controls">
                <input type="checkbox" data-ng-model="$parent.sendReceiptEmail" id="sendReceiptEmail" name="sendReceiptEmail" class="form-control">
            </div>
        </div>
     </div>
</div>
</div>
