<section data-ng-controller="SaleController" data-ng-init="initialize();setTitle('Dashboard');">
    <div class="container1 col-md-12">
        <div class="form-group">
            <p>If you have any questions, please contact your MojoPay Account Manager, or call our customer service line at: 1-855-MojoPay (665-6729).</p>
            <input id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Download">
        </div>
    </div>
</section>