<p align=center style='text-align:center'><b><span
style='font-size:18.0pt'><br>
  MojoPay API: Recurring Plan Variables</span></b><b><span
style='font-size:18.0pt'>&nbsp;</span></b></p>

<p>GET URL: https://devcore.mojopay.com:3000/merchantapi?</p>

<p>*are required fields</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Add Recurring Plan</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed<br>
    <br>
  <span style='font-size:10.0pt'>Values: 'add_plan'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*amount</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan amount to be charged each billing cycle.<br>
    <br>
  <span style='font-size:10.0pt'>Format: x.xx</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The unique plan ID that references only this recurring
  plan</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planPayments</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The number of payments before the recurring plan is
  complete.<br>
  <br>
  <span class=allowed><span style='font-size:10.0pt'>Notes: '0' for until
  canceled</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>** dayFrequency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>How often, in days, to charge the customer. Cannot be set
  with 'month_frequency' or 'day_of_month'.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*** monthFrequency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>How often, in months, to charge the customer. Cannot be
  set with 'day_frequency'. Must be set with 'day_of_month'.<br>
  <br>
  <span class=allowed><span style='font-size:10.0pt'>Values: 1 through 24</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*** dayOfMonth</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The day that the customer will be charged. Cannot be set
  with 'day_frequency'. Must be set with 'month_frequency'.<br>
  <br>
  <span class=allowed><span style='font-size:10.0pt'>Values: 1 through 31 - for
  months without 29, 30, or 31 days, the charge will be on the first day of
  next month</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planName</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The display name of the plan.</p>
  </td>
 </tr>
</table>
<table border=0 cellpadding=0 style="width:442px";>
  <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>**</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless 'month_frequency' and 'day_of_month' is set.</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>***</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless 'day_frequency' is set</span></p>
  </td>
 </tr>
</table>

<p><b>&nbsp;</b><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=add_plan&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;amount=<span
style='color:red'>[insert amount]</span>&amp;planId=<span style='color:red'>[insert
a unique plan ID]</span>&amp;planName=<span style='color:red'>[insert a plan
name]</span>&amp;monthFrequency=<span style='color:red'>[insert month
frequency]</span>&amp;dayOfMonth=<span style='color:red'>[insert day of month]</span></p>


<p align=center style='margin-left:.25in;text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>


<pre>{&quot;Response&quot;:&quot;Plan <span style='color:red'>[planId]</span> added successfully&quot;}</pre>


<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>


<p>If planName is blank, it will be given the name: api<span
style='color:red'>[lastNameCard]</span>YYYYMMDDHHMMSS<span
style='color:red'>[random
token]</span> i,e, apiSmith20151225115806kh3s4qnfcf53766r.</p>
<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>


<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p>If any of the other mandatory fields are missing, the following
response is returned:</p>

<pre>{&quot;Response&quot;:&quot;Api Missing Data&quot;}</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Delete Recurring Plan</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
  <span style='font-size:10.0pt'>Values: 'delete_plan'</span></p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The unique plan ID that references only this recurring
  plan</p>
  </td>
 </tr>
</table>
<p><b><br>
Example:</b></p>
<p>https://devcore.mojopay.com:3000/merchantapi?type=delete_plan&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;planId=<span
style='color:red'>[insert a unique plan ID]</span></p>
<p align=center style='margin-left:.25in;text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>
<pre>{&quot;Response&quot;:&quot;Plan <span style='color:red'>[planId]</span> deleted successfully&quot;}</pre>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>

<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>
<p>If any of the other mandatory fields are missing, the following
response is returned:</p>

<pre>{&quot;Response&quot;:&quot;Api Missing Data&quot;}
</pre>
<p>If you try to delete a plan that has customers subscribed to it,
you will get the following message:</p>

<pre>{&quot;Response&quot;:&quot;A customer is associated with this plan. You can not delete the plan.&quot;}</pre>
<p>If you try to delete a plan that does not exist, you will get the
following message:</p>

<pre>{&quot;Response&quot;:&quot;This plan does not exist.&quot;}</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Update Recurring Plan</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<span style="font-size: 10.0pt"><br>
  </span><br>
  <span style='font-size:10.0pt'>Values: 'update_plan'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The unique plan ID that references only this recurring
  plan</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*amount</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan amount to be charged each billing cycle.<br>
    <br>
  <span style='font-size:10.0pt'>Format: x.xx</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planPayments</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The number of payments before the recurring plan is
  complete<br>
  .<br>
  <span class=allowed><span style='font-size:10.0pt'>Notes: '0' for until
  canceled</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>** dayFrequency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>How often, in days, to charge the customer. Cannot be set
  with 'month_frequency' or 'day_of_month'.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*** monthFrequency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>How often, in months, to charge the customer. Cannot be
  set with 'day_frequency'. Must be set with 'day_of_month'.<br>
  <br>
  <span class=allowed><span style='font-size:10.0pt'>Values: 1 through 24</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*** dayOfMonth</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The day that the customer will be charged. Cannot be set
  with 'day_frequency'. Must be set with 'month_frequency'.<br>
  <br>
  <span class=allowed><span style='font-size:10.0pt'>Values: 1 through 31 - for
  months without 29, 30, or 31 days, the charge will be on the first day of
  next month</span></span></p>
  </td>
 </tr>
</table>
<table border=0 cellpadding=0 style="width:442px";>
  <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>**</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless 'month_frequency' and 'day_of_month' is set.</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>***</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless 'day_frequency' is set</span></p>
  </td>
 </tr>
</table>
<p><b>Example</b></p>
<p>https://devcore.mojopay.com:3000/merchantapi?type=update_plan&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;planId=<span
style='color:red'>[insert a unique plan ID]</span>&amp;amount=<span
style='color:red'>[insert amount]</span>&amp;dayFrequency=<span
style='color:red'>[insert day frequency month]</span></p>
<p align=center style='margin-left:.25in;text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>
<pre>{&quot;Response&quot;:&quot;Plan <span style='color:red'>[planId]</span> updated successfully&quot;}</pre>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>

<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>
<p>If any of the other mandatory fields are missing, the following
response is returned:</p>

<pre>{&quot;Response&quot;:&quot;Api Missing Data&quot;}
</pre>
<p>If you try to update a plan that does not exist, you will get the
following message:</p>

<pre>{&quot;Response&quot;:&quot;This plan does not exist.&quot;}</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>List Plans</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<span style="font-size: 10.0pt"><br>
  </span><br>
  <span style='font-size:10.0pt'>Values: 'list_plan'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan ID of the subscription you want to filter the
  search on.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planName</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The display name of the plan you want to filter the search
  on.<br>
  <br>
  <span style='font-size:10.0pt'>Can search within the name</span></p>
  </td>
 </tr>
</table>
<table border=0 cellpadding=0 style='width:442px;margin-left: auto;margin-right: auto;'>
  <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
</table>
<p><b>Example:</b></p>
<p>https://devcore.mojopay.com:3000/merchantapi?type=list_plan&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span></p>
<p align=center style='margin-left:.25in;text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>
<pre>{&quot;Response&quot;:[{plan data 1} , {plan data 2} , ... , {plan data n}]</pre>
<p>Plan Data</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:220.25pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>planId</p>
  </td>
  <td valign=top style='width:220.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>The unique identifier for this plan</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.25pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planName</p>
  </td>
  <td valign=top style='width:220.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.25pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>amount</p>
  </td>
  <td valign=top style='width:220.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total amount to be charged</p>
  <p><span style='font-size:10.0pt'>Format: x.xx</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.25pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>billingCycle</p>
  </td>
  <td valign=top style='width:220.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>A description of how often and the number of times the
  plan will bill</p>
  </td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>
Notes</span></b></p>

<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>
