<p align=center style='text-align:center'><b><span
style='font-size:18.0pt'><br>
      MojoPay API: Customer Vault Variables</span></b><b><span
style='font-size:18.0pt'>&nbsp;</span></b></p>

<p>GET URL: https://devcore.mojopay.com:3000/merchantapi?</p>

<p>*are required fields</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Create/Update Customer Record</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>*type</p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>Create/Update a secure customer vault record.<br><br>
  <span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Values: 'create' and 'update'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*firstNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*lastNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's last name.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*creditCardNumber</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*expirationDate</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card expiration<br>
<br>
<span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Format: MMYY</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>currency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Set transaction currency (USD)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>billingId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing id to be assigned or updated. If none is provided,
  one will be created or the billing id with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's company.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing country code (US)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shippingId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping entry id. If none is provided, one will be
  created or the billing id with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>firstNameShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>lastNameShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping company</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping country code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping email address</p>
  </td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>
Response</span></b></p>

<p>The call will return all records that match the supplied
criteria in the form:</p>

<pre>{&quot;Response&quot;:{transaction data}}
</pre>
<p>Transaction Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>response</span></td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>1 = Transaction Approved<br>
2 = Transaction Declined<br>
3 = Error in transaction data or system error</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>responsetext</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Textual response</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>authcode</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Transaction authorization code</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>transactionid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Payment gateway transaction id</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>avsresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>AVS response code(See Appendix 1)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>cvvresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>CVV response code(See Appendix 2)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>orderid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The original order id passed in the transaction request</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>type</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The type of transaction that was processed</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>response_code</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Numeric mapping of processor responses (See Appendix 3)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>customer_hash</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The hash to identify the customer in the vault</span></td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>
Notes</span></b></p>
<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Add a Customer to the Vault while Initiating a
Sale/Authorization/Credit/Validate Transaction</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>*customerVault</p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>To add the customer to the vault or update a customer
  record while initiating a transaction.</p>
  <p><span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Value: 'add_customer' or 'update_customer'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br><br>

  <span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Values: 'sale', 'auth', 'credit', or 'validate'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*firstNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*lastNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's last name.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*creditCardNumber</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*expirationDate</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card expiration<br>
    <br>
    <span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Format: MMYY</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*cardSecurityCode</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The card security code. Required on first transaction.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*amount</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total amount to be charged. For validate, the amount must
  be omitted or set to 0.00.<br><br>

  <span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Format: x.xx</span></p>
  </td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>
Response</span></b></p>

<p>The call will return all records that match the supplied
criteria in the form:</p>

<pre>{&quot;Response&quot;:{transaction data}}</pre>
<p>Transaction Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>response</span></td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>1 = Transaction Approved<br>
2 = Transaction Declined<br>
3 = Error in transaction data or system error</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>responsetext</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Textual response</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>authcode</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Transaction authorization code</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>transactionid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Payment gateway transaction id</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>avsresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>AVS response code(See Appendix 1)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>cvvresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>CVV response code(See Appendix 2)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>orderid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The original order id passed in the transaction request</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>type</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The type of transaction that was processed</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>response_code</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Numeric mapping of processor responses (See Appendix 3)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>customer_hash</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The hash to identify the customer in the vault</span></td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>
Notes</span></b></p>
<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Sale/Authorization/Credit/Validate for Existing
Customer </span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
  <span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Values: 'sale', 'auth', 'credit', or 'validate'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id </p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*customerHash</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The hash to identify the customer in the vault</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*amount</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total amount to be charged. For validate, the amount must
  be omitted or set to 0.00.<br>
  <br>
  <span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Format: x.xx</span></p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cardSecurityCode</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The card security code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderDescription</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Description</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>poNumber</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Original purchase order</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total shipping amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>Tax</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total tax amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>customerReceipt</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>If set to true, when the customer is charged, they will be
  sent a transaction receipt.<br>
  <br>
  <span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Values: 'true' or 'false'</span></p>
  </td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>
Response</span></b></p>

<p>The call will return all records that match the supplied
criteria in the form:</p>

<pre>{&quot;Response&quot;:{transaction data}}</pre>
<p>Transaction Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>response</span></td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>1 = Transaction Approved<br>
2 = Transaction Declined<br>
3 = Error in transaction data or system error</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>responsetext</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Textual response</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>authcode</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Transaction authorization code</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>transactionid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Payment gateway transaction id</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>avsresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>AVS response code(See Appendix 1)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>cvvresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>CVV response code(See Appendix 2)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>orderid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The original order id passed in the transaction request</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>type</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The type of transaction that was processed</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>response_code</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Numeric mapping of processor responses (See Appendix 3)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>customer_hash</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The hash to identify the customer in the vault</span></td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>
Notes</span></b></p>
<p><span style='font:7.0pt "Times New Roman"'></span>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Delete Customer Record</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>'delete'</p>
  <p>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id </p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*customerHash</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The hash to identify the customer in the vault</p>
  </td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>Response</span></b></p>

<p>The call will return true if successful:</p>

<pre>{&quot;Response&quot;:true}
</pre>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>
<p><span style='font:7.0pt "Times New Roman"'></span>If the token is incorrect or missing, following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrongor Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>List Customer Records</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>'list_customer'</p>
  <p>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id </p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>customerHash</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The hash to identify the customer in the vault</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>firstName</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Portion of cardholder's first name.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>lastName</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Portion of cardholder's last name.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>email</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Portion of billing email address.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>last4cc</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Last 4 digits of credit card number.</p>
  </td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>Response</span></b></p>

<p>The call will return all records that match the supplied
criteria in the form:</p>

<pre>{&quot;Response&quot;:[{vault data 1} , {vault data 2} , ... ,  {vault data n}]
</pre>
<p>Vault Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>customerHash</p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>The hash to identify the customer in the vault</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>first_name</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's first name.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>last_name</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's last name.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>address_1</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>address_2</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>company</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's company.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>city</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>state</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>postal_code</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>country</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing country code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>email</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phone</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>fax</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>website</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing website</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_first_name</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_last_name</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_address_1</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_address_2</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_company</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping company</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_city</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_state</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_postal_code</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_country</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping country code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_email</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cc_number</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Masked credit card number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cc_exp</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card expiration</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cc_bin</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>First 6 digits of credit card number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>check_account</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer's bank account number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>check_aba</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer's bank routing number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>check_name</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The name on the customer's ACH account</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>account_holder_type</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><p><span style='<span style=:"Times New Roman",serif'>The
    customer's ACH account entity</span></p>
    <p><span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Values:
    'personal' or 'business'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>account_type</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer's ACH account type</p>
  <p><span class=allowed><span style='font-size:10.0pt'>Values:
  'checking' or 'savings'</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>currency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Transaction currency.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_1</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_2</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_3</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_4</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_5</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_6</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_7</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_8</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_9</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_10</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_11</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_12</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_13</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_14</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_15</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_16</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_17</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_18</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_19</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_20</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>amount</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><p><span style='<span style=:"Times New Roman",serif'>Total
    amount to be charged. For validate, the amount must be omitted or set to
    0.00</span></p>
    <p><span style='font-size:10.0pt;<span style=:"Times New Roman",serif'>Format:
      x.xx</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total shipping amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>tax</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total tax amount</p>
  <p><span class=allowed><span style='font-size:10.0pt'>Format:
  x.xx</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>tax_exempt</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Whether cardholder is tax exempt</p>
  <p><span class=allowed><span style='font-size:10.0pt'>Values:
  'true' or 'false'</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>order_description</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Description</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>order_id</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>po_number</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's purchase order number</p>
  </td>
 </tr>
</table>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'><br>Notes</span></b></p>
<p><span style='font:7.0pt "Times New Roman"'></span>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>
<p><span style='font:7.0pt "Times New Roman"'></span>If the customerHash, firstName, lastName, email, or last4cc does
not exist in the database, the following response is returned:</p>

<pre>{&quot;Response&quot;:[]}</pre>
