<section data-ng-controller="IntegrationController" data-ng-init="initialize();setTitle('Integration');">
    <div class="container1 col-md-12">
        <h2>Direct Post API</h2>
        <form id="fieldsForm" name="inputForm" class="form-horizontal" >
          <fieldset>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                         <div class="form-group">
                            <div class="controls">
                                <label class="control-label" for="Processor_ID">MojoPay Processor ID</label>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <input readonly type="text" data-ng-model="Processor_ID" id="Processor_ID" class="form-control" placeholder="No Processor ID - E-Commerce Account Not Activated">
                                <div id="themessageP" style="display:none" class="control-label">
                                    <strong>Please press Ctrl + C</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                             <input style="padding:8px 16px;" ng-click="copyProcessor()" id="copyButton1" type="submit" class="btn btn-primary" value="Copy">
                             <!-- JIRA MC-171 ISSUE
                             <input style="padding:8px 20px;" ng-click="refreshApi()" id="refreshButton" type="submit" class="btn btn-primary" value="Refresh">
                                  JIRA MC-171 ISSUE -->
                        </div>
                    </div>
                    <div class="col-md-12">
                         <div class="form-group">
                            <div class="controls">
                                <label class="control-label" for="Token">API Token Key</label>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <input readonly type="text" data-ng-model="apikeys.Token" id="Token" class="form-control" placeholder="Token">
                                <div id="themessageA" style="display:none" class="control-label">
                                    <strong>Please press Ctrl + C</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                             <input style="padding:8px 16px;" ng-click="copyApi()" id="copyButton2" type="submit" class="btn btn-primary" value="Copy">
                             <!-- JIRA MC-171 ISSUE
                             <input style="padding:8px 20px;" ng-click="refreshApi()" id="refreshButton" type="submit" class="btn btn-primary" value="Refresh">
                                  JIRA MC-171 ISSUE -->
                        </div>

                    </div>
                    </div>
                    <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <select ng-change="changeDocument()" data-ng-model="pagenumber" class="form-control">
                                  <option value="1" selected>Transaction Variables</option>
                                  <option value="2" selected>Customer Vault Variables</option>
                                  <option value="3" selected>Recurring Plan Variables</option>
                                  <option value="4" selected>Subscription Variables</option>
                                  <option value="5" selected>Appendicies</option>
                                 </select>
                            </div>
                        </div>
                     </div>
                      <div class="col-md-6">
                        <div class="form-group">
                             <a href="/modules/creditcard/document/{{documentpdf}}" target="_blank"><input  type="button" style="padding:8px 12px;" id="downloadButton" class="btn btn-primary btn-sm" value="Download"></a>
                        </div>
                       </div>
                    </div>
                </div>
                <div class="col-md-12" ng-include="integrationdocument"></div>
            </div>
          </fieldset>
        </form>
    </div>
</section>