<section data-ng-controller="IntegrationController" data-ng-init="integration_init();integration_next();setTitle('Integration');">
        <div class="col-md-9 zeropaddingleft toplevel">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active firstTab" ng-class="{true: 'active'}[page == 1]"><a href='' data-ng-click="integration_next(1); $event.stopPropagation();">DirectPost API</a></li>
                <li role="presentation" class="middleTab" ng-show="showNationBuilderTab" ng-class="{true: 'active'}[page == 2]"><a href='' data-ng-click="integration_next(2); $event.stopPropagation();">NationBuilder </a></li>
            </ul>
         </div>
         <div ng-include="templateurl"></div>
</section>