<p align=center style='text-align:center'><b><span
style='font-size:18.0pt'><br>
  MojoPay API: Subscription Variables</span></b><b><span
style='font-size:18.0pt'>&nbsp;</span></b></p>

<p>GET URL: https://devcore.mojopay.com:3000/merchantapi?</p>

<p>*are required fields</p>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Add Custom Subscription</span></b></p>
<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
</tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
  <span style='font-size:10.0pt'>Values: 'customsubscribe'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor ID</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*amount</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan amount to be charged each billing cycle.<br>
    <br>
  <span style='font-size:10.0pt'>Format: x.xx</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*firstNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*lastNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*creditCardNumber</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*expirationDate</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card expiration </p>
  <p><span style='font-size:10.0pt'>Format: MMYY</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*cardSecurityCode</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The card security code.</p>
  </td>

 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*currency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Set transaction currency (USD)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planPayments</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The number of payments before the recurring plan is complete.<br>
    <br>
  <span class=allowed><span style='font-size:10.0pt'>Notes: '0' for until
  canceled</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>** dayFrequency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>How often, in days, to charge the customer. Cannot be set
  with 'month_frequency' or 'day_of_month'.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*** monthFrequency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>How often, in months, to charge the customer. Cannot be
  set with 'day_frequency'. Must be set with 'day_of_month'.<br>
  <br>
  <span class=allowed><span style='font-size:10.0pt'>Values: 1 through 24</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*** dayOfMonth</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The day that the customer will be charged. Cannot be set
  with 'day_frequency'. Must be set with 'month_frequency'.<br>
  <br>
  <span class=allowed><span style='font-size:10.0pt'>Values: 1 through 31 - for
  months without 29, 30, or 31 days, the charge will be on the first day of
  next month</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planName</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The display name of the plan.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>startDate</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The first day that the customer will be charged.<br>
    <br>
  <span class=allowed><span style='font-size:10.0pt'>Format: YYYYMMDD</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>billingId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing ID to be assigned or updated. If none is provided,
  one will be created or the Billing ID with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's company.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing country code (US)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shippingId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping entry ID. If none is provided, one will be
  created or the billing id with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>firstNameShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>lastNameShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping company</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping country code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order ID</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderDescription</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Description</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>poNumber</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Original purchase order</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total shipping amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>tax</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total tax amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>customerReceipt</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>If set to true, when the customer is charged, they will be
  sent a transaction receipt.</p>
  <p><span style='font-size:10.0pt'>Values: 'true' or 'false'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchantMDF#</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant can pass custom information in up to 5 fields.<span
  style='font-size:10.5pt;font-family:"Lucida Grande";color:black'><br><br>
  </span><span style='font-size:10.0pt'>Format: merchantMDF1=Value</span>  </p></td>
 </tr>
</table>

<table style="width:442px" border=0 cellpadding=0>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>**</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless '</span>monthFrequency<span style='font-family:"Times New Roman",serif'>'
  and '</span>dayOfMonth'<span style='font-family:"Times New Roman",serif'> is
  set.</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>***</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless '</span>dayFrequency'<span style='font-family:"Times New Roman",serif'>
  is set</span></p>
  </td>
 </tr>
</table>
<p><b>Example:</b></p>
<p>https://devcore.mojopay.com:3000/merchantapi?type=customsubscribe&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;amount=<span
style='color:red'>[insert amount]</span>&amp;firstNameCard=<span
style='color:red'>[insert first name]</span>&amp;lastNameCard=<span
style='color:red'>[insert last name]</span>&amp;zipPostalCodeCard=<span
style='color:red'>[insert billing zip code]</span>&amp;creditCardNumber=<span
style='color:red'>[insert credit card number]</span>&amp;expirationDate=<span
style='color:red'>[insert expiration date MMYY]</span>&amp;cardSecurityCode=<span
style='color:red'>[insert card security code]</span>&amp;currency=USD&amp;planPayments=<span
style='color:red'>[insert plan payments]</span>&amp;monthFrequency=<span
style='color:red'>[insert month frequency]</span>&amp;dayOfMonth=<span
style='color:red'>[insert day of month]</span></p>



<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<pre>{&quot;Response&quot;:&quot;Subscription successfully added&quot;}</pre>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>

<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>

<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>
<p>If planName is blank, it will given the name: api<span
style='color:red'>[lastNameCard]</span>YYYYMMDDHHMMSS<span
style='color:red'>[random
    token]</span> i.e., apiSmith20151225115806kh3s4qnfcf53766r.</p>
<p>planId will always be the same value as the customer hash.</p>
<p>If startDate is blank, it will be set to the date the
    subscription was sent to the API.</p>
<p>If startDate is blank or startDate is today or earlier, the
  subscription will charge the first month and the &quot;next charge date&quot; will be 1
  month after the startDate.</p>
<p>If startDate is later than today, the subscription will not be
    charged, and the next charge date will be the start date.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
    
    
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Add Subscription</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:219.95pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<span style="font-size: 10.0pt"><br>
  </span><br>
  <span style='font-size:10.0pt'>Values: 'add_sub'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor ID</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan ID of the subscription you want to add</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*customerHash</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer hash of the subscription you want to add</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*startDate</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The first day that the customer will be charged.<br>
    <br>
  <span class=allowed><span style='font-size:10.0pt'>Format: YYYYMMDD</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order ID</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderDescription</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Description</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>poNumber</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Original purchase order</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total shipping amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>tax</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total tax amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>taxExempt</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>If the charge is exempt from taxes<br>
    <br>
    <span style='font-size:10.0pt'>Values: true|false</span></p>
  </td>
 </tr>
</table>
<table style="width:442px" border=0 cellpadding=0>
  <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
</table>

<p><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=add_sub&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;planId=<span
style='color:red'>[insert a plan ID]</span>&amp;customerHash=<span
style='color:red'>[insert a customer Hash]</span>&amp;startDate=<span
style='color:red'>[Insert Start Date YYYYMMDD]</span></p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<pre>{&quot;Response&quot;:&quot;Subscription successfully added&quot;}</pre>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>
<p>If the token is incorrect or missing, the following response is
    returned:</p>
<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
    returned:</p>
<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Add Subscription and Customer</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:219.95pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
  <span style='font-size:10.0pt'>Values: 'add_cust_sub'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor ID</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*firstNameCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*lastNameCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*creditCardNumber</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*expirationDate</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card expiration </p>
  <p><span style='font-size:10.0pt'>Format: MMYY</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*cardSecurityCode</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The card security code.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*currency</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Set transaction currency (USD)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*planId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan ID of the subscription you want to add</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>startDate</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The first day that the customer will be charged.<br>
    <br>
  <span class=allowed><span style='font-size:10.0pt'>Format: YYYYMMDD</span></span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>billingId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing ID to be assigned or updated. If none is provided,
  one will be created or the Billing ID with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's company.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing country code (US)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressCard</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shippingId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping entry ID. If none is provided, one will be
  created or the billing id with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>firstNameShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>lastNameShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping company</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping country code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressShipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order ID</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderDescription</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Description</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>poNumber</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Original purchase order</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total shipping amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>tax</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total tax amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>customerReceipt</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>If set to true, when the customer is charged, they will be
  sent a transaction receipt.</p>
  <p><span style='font-size:10.0pt'>Values: 'true' or 'false'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchantMDF#</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant can pass custom information in up to 5 fields.<br>
    <br>
  <span style='font-size:10.0pt'>Format: merchantMDF1=Value</span>  </p></td>
 </tr>
</table>


<table style="width:442px" border=0 cellpadding=0>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
</table>

<p><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=add_cust_sub&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;planId=<span
style='color:red'>[insert plan ID]</span>&amp;amount=<span style='color:red'>[insert
amount]</span>&amp;firstNameCard=<span style='color:red'>[insert first name]</span>&amp;lastNameCard=<span
style='color:red'>[insert last name]</span> &amp;zipPostalCodeCard=<span
style='color:red'>[insert billing zip code]</span>&amp;creditCardNumber=<span
style='color:red'>[insert credit card number]</span>&amp;expirationDate=<span
style='color:red'>[insert expiration date MMYY]</span>&amp;cardSecurityCode=<span
style='color:red'>[insert card security code]</span>&amp;currency=USD</p>



<p><b>Notes:</b></p>
<pCxSpFirst >
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<pre>{&quot;Response&quot;:&quot;Subscription successfully added&quot;}</pre>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>
<p>If the token is incorrect or missing, the following response is
    returned:</p>
<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
    returned:</p>
<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>


<p></span>If startDate is blank, it will be set to the date the
subscription was sent to the API.</p>
<p></span>If startDate is blank or startDate is today or earlier, the
  subscription will charge the first month and the &quot;next charge date&quot; will be 1
  month after the startDate.</p>
<p></span>If startDate is later than today, the subscription will not be
charged, and the next charge date will be the start date.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Delete Subscription</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:219.95pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
  <span style='font-size:10.0pt'>Values: 'delete_sub'</span>  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor ID</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>**subscriptionId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The record ID for the subscription you want to delete</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>***planId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan ID of the subscription you want to delete</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>***customerHash</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer hash of the subscription you want to delete</p>
  </td>
 </tr>
</table>


<table style="width:442px" border=0 cellpadding=0>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>**</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless 'planId' and 'customerHash' is set.</span></p>
  </td>
 </tr>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>***</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Required
  unless '</span> subscriptionId'<span style='font-family:"Times New Roman",serif'>
  is set</span></p>
  </td>
 </tr>
</table>
<p><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=delete_sub&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;subscriptionId=<span
style='color:red'>[insert a subscription ID]</span></p>

<p>or</p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=delete_sub&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;planId=<span
style='color:red'>[insert a plan ID]</span>&amp;customerHash=<span
style='color:red'>[insert a customer Hash]</span></p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<pre>{&quot;Response&quot;:&quot;Subscription successfully deleted&quot;}</pre>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>

<p >If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>

<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p >If an incorrect subscrriptionId, or other parameters are not
found, the following response is returned:</p>

<pre>{&quot;Response&quot;:&quot;Could not find a subscription with those parameters.&quot;}
</pre>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>List Subscriptions</span></b><b><span
style='font-size:14.0pt'>&nbsp;</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
  <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:219.95pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
  <span style='font-size:10.0pt'>Values: 'list_sub</span>'  </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor ID.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planId</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The plan ID of the subscription you want to filter the
  search on.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planName</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The display name of the plan you want to filter the search
  on.<br>
  <span style='font-size:10.0pt'>Can search within the name</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>customerHash</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer hash of the subscription you want to filter
  the search on.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>firstName</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>First Name of the customer you want to filter the search
  on.</p>
  <p><span style='font-size:10.0pt'>Can search within the name</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>lastName</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Last Name of the customer you want to filter the search
  on.<br>
  <span style='font-size:10.0pt'>Can search within the name</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>email</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The e-mail address to filter the search on.</p>
  <p><span style='font-size:10.0pt'>Can search within the email
  address</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>last4cc</p>
  </td>
  <td valign=top style='width:219.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Filter the search on the last 4 digits of the credit card
  number.</p>
  </td>
 </tr>
</table>

<table style="width:442px" border=0 cellpadding=0>
 <tr>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>*</span></p>
  </td>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <p><span style='font-family:"Times New Roman",serif'>Always
  required</span></p>
  </td>
 </tr>
</table>

<p><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=list_sub&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span></p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<pre>{&quot;Response&quot;:[{subscription data 1} , { subscription data 2} , ... , { subscription data n}]}</pre>

<p>Subscription Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>subscriptionId</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>The unique identifier for this subscription</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>billingCycle</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>A description of how often and the number of times the
  plan will charge</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>startDate</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The date to begin charging this </p>
  </td>
 </tr>
 <tr>
  <td width=302 valign=top style='width:226.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderID</p>
  </td>
  <td width=287 valign=top style='width:215.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order id</p>
  </td>
 </tr>
 <tr>
  <td width=302 valign=top style='width:226.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderDescription</p>
  </td>
  <td width=287 valign=top style='width:215.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Description</p>
  </td>
 </tr>
 <tr>
  <td width=302 valign=top style='width:226.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>poNumber</p>
  </td>
  <td width=287 valign=top style='width:215.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's purchase order number</p>
  </td>
 </tr>
 <tr>
  <td width=302 valign=top style='width:226.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>amount</p>
  </td>
  <td width=287 valign=top style='width:215.1pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total amount to be charged. </p>
  <p><span style='font-size:10.0pt'>Format: x.xx</span></p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total shipping amount</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>tax</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total tax amount</p>
  <p><span class=allowed><span style='font-size:10.0pt'>Format:
  x.xx</span></span></p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>taxExempt</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Whether cardholder is tax exempt</p>
  <p><span class=allowed><span style='font-size:10.0pt'>Values:
  'true' or 'false'</span></span></p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>completedPayments</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The number of successfully completed charges</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>attemptedPayments</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The number of attempted charges</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countFailed</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The number of unsuccessfully completed payments</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>nextChargeDate</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The next date to charge this plan</p>
  <p><span style='font-size:10.0pt'>Format: YYYYMMDD</span></p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planName</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The display name for the plan.</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>planId</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The unique plan ID that references only this recurring
  plan</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>customerHash</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The hash to identify the customer in the vault</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cc_number</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Masked credit card number</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cc_exp</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card expiration</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cc_bin</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>First 6 digits of credit card number</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>check_account</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer's bank account number</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>check_aba</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer's bank routing number</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>check_name</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The name on the customer's ACH account</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>account_holder_type</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer's ACH account entity</p>
  <p><span style='font-size:10.0pt'>Values: 'personal' or
  'business'</span></p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>account_type</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The customer's ACH account type</p>
  <p><span class=allowed><span style='font-size:10.0pt'>Values:
  'checking' or 'savings'</span></span></p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>currency</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Transaction currency</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>first_name</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's first name.</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>last_name</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's last name.</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>address_1</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address.</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>address_2</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address, line 2</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>company</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's company.</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>city</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing city</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>state</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing state</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>postal_code</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>country</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing country code</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>email</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing email address</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phone</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing phone number</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>fax</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing fax number</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>website</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing website</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_first_name</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping first name</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_last_name</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping last name</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_address_1</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_address_2</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address, line 2</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_company</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping company</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_city</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping city</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_state</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping state</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_postal_code</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping postal code</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_country</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping country code</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping_email</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping email address</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_1</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_2</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_3</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_4</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_5</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_6</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_7</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_8</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_9</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_10</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_11</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_12</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_13</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_14</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_15</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_16</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_17</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_18</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_19</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
 <tr>
  <td width=304 valign=top style='width:227.7pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchant_defined_field_20</p>
  </td>
  <td width=285 valign=top style='width:213.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant Defined Field</p>
  </td>
 </tr>
</table>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>
<p>If the token is incorrect or missing, the following response is
    returned:</p>
<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>
<p>If the processorId is incorrect or missing, the following response is
    returned:</p>
<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>
