<p align=center style='text-align:center'><b><span
style='font-size:18.0pt'><br>MojoPay API: Transaction Variables</span></b></p>

<p>GET URL: https://devcore.mojopay.com:3000/merchantapi?</p>

<p>*are required fields</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Sale/Authorization/Credit/Validate</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type </p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
    <span style='font-size:10.0pt'>Values: 'sale', 'auth', 'credit', or 'validate'</span> </p></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*amount</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total amount to be charged. For validate, the amount must
  be omitted or set to 0.00.<br>
  <br>
  <span style='font-size:10.0pt'>Format: x.xx</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*firstNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*lastNameCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*creditCardNumber</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*expirationDate</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Credit card expiration </p>
  <p><span style='font-size:10.0pt'>Format: MMYY</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*cardSecurityCode</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The card security code.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>currency</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Set transaction currency (USD)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>billingId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing id to be assigned or updated. If none is provided,
  one will be created or the billing id with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Cardholder's company.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing country code (US)</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Card billing postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressCard</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Billing email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shippingId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping entry id. If none is provided, one will be
  created or the billing id with priority '1' will be updated.</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>firstNameShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping first name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>lastNameShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping last name</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>companyShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping company</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>countryShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping country code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>addressContShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping address, line 2</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>cityShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping city</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>stateProvinceShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping state</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>zipPostalCodeShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping postal code</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>phoneNumberShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping phone number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>faxNumberShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping fax number</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>emailAddressShipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Shipping email address</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderId</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>orderDescription</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Order Description</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>poNumber</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Original purchase order</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>shipping</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total shipping amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>tax</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total tax amount</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>customerReceipt</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>If set to true, when the customer is charged, they will be
  sent a transaction receipt.</p>
  <p><span style='font-size:10.0pt'>Values: 'true' or 'false'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>merchantMDF#</p>
  </td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Merchant can pass custom information in up to 5 fields.<span
  style='font-size:10.5pt;color:black'><br>
  </span><span style='font-size:10.0pt'>Format: merchantMDF1=Value</span>  </p></td>
 </tr>
</table>

<p><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=<span
style='color:red'>[insert transaction type: sale, auth, credit, or validate]</span>&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;amount=<span
style='color:red'>[insert amount]</span>&amp;firstNameCard=<span
style='color:red'>[insert first name]</span>&amp;lastNameCard=<span
style='color:red'>[insert last name]</span>&amp;creditCardNumber=<span
style='color:red'>[insert credit card number]</span>&amp;expirationDate=<span
style='color:red'>[insert expiration date MMYY]</span>&amp;cardSecurityCode=<span
style='color:red'>[insert card security code]</span>&amp;zipPostalCodeCard=<span
style='color:red'>[insert billing zip code]</span></p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<p>The call will return all records that match the supplied
criteria in the form:</p>

<pre>{&quot;Response&quot;:{transaction data}}</pre>

<p>Transaction Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>response</span></td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>1 = Transaction Approved<br>
2 = Transaction Declined<br>
3 = Error in transaction data or system error</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>responsetext</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Textual response</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>authcode</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Transaction authorization code</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>transactionid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Payment gateway transaction id</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>avsresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>AVS response code(See Appendix 1)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>cvvresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>CVV response code(See Appendix 2)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>orderid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The original order id passed in the transaction request</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>type</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The type of transaction that was processed</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>response_code</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Numeric mapping of processor responses (See Appendix 3)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>customer_hash</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The hash to identify the customer in the vault</span></td>
 </tr>
</table>

<p>&nbsp;</p>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>

<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</span></pre>

<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p style='text-autospace:none'>&nbsp;</p>
<p style='text-autospace:none'>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Capture/Refund</span></b></p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:220.8pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Variable Name</b></p>
  </td>
  <td valign=top style='width:220.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p align=center style='text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.8pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*type</p>
  </td>
  <td valign=top style='width:220.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The type of transaction to be processed.<br>
    <br>
  <span style='font-size:10.0pt'>Values: 'capture' or 'refund'</span></p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.8pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td valign=top style='width:220.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.8pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td valign=top style='width:220.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id </p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.8pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*transactionId</p>
  </td>
  <td valign=top style='width:220.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Original payment gateway transaction Id</p>
  </td>
 </tr>
 <tr>
  <td valign=top style='width:220.8pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*amount</p>
  </td>
  <td valign=top style='width:220.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Total amount to be refunded. This amount may be equal to
  or less than the settled amount<br>
  <br>
  <span style='font-size:10.0pt'>Format: x.xx</span></p>
  </td></p>
  </td>
 </tr>
</table>

<p><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=<span
style='color:red'>[insert transaction type: capture or refund]</span>&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span> &amp;transactionId=<span
style='color:red'>[insert transactionId]</span>&amp;amount=<span
style='color:red'>[insert amount]</span> </p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<p>The call will return all records that match the supplied criteria
in the form:</p>

<pre>{&quot;Response&quot;:{transaction data}}</pre>

<p>Transaction Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>response</span></td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>1 = Transaction Approved<br>
2 = Transaction Declined<br>
3 = Error in transaction data or system error</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>responsetext</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Textual response</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>authcode</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Transaction authorization code</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>transactionid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Payment gateway transaction id</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>avsresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>AVS response code(See Appendix 1)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>cvvresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>CVV response code(See Appendix 2)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>orderid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The original order id passed in the transaction request</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>type</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The type of transaction that was processed</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>response_code</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Numeric mapping of processor responses (See Appendix 3)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>customer_hash</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The hash to identify the customer in the vault</span></td>
 </tr>
</table>

<p>&nbsp;</p>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>

<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>

<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>

<p style='text-autospace:none'>&nbsp;</p>
<p style='text-autospace:none'>&nbsp;</p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Void</span></b></p>



<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td width=299 valign=top style='width:224.45pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>*type</p>
  </td>
  <td width=299 valign=top style='width:224.45pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>Type of transaction to be processed.</p>
  <p>Value: 'void'</p>
  </td>
 </tr>
 <tr>
  <td width=299 valign=top style='width:224.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*token</p>
  </td>
  <td width=299 valign=top style='width:224.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's API Token Key</p>
  </td>
 </tr>
 <tr>
  <td width=299 valign=top style='width:224.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*processorId</p>
  </td>
  <td width=299 valign=top style='width:224.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>The Merchant's processor Id </p>
  </td>
 </tr>
 <tr>
  <td width=299 valign=top style='width:224.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p>*transactionId</p>
  </td>
  <td width=299 valign=top style='width:224.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p>Original payment gateway transaction id</p>
  </td>
 </tr>
</table>

<p><b>Example:</b></p>

<p>https://devcore.mojopay.com:3000/merchantapi?type=<span
style='color:red'>[insert transaction type: void]</span>transactionId=<span
style='color:red'>[insert transactionId]</span>&amp;token=<span
style='color:red'>[insert API token key]</span>&amp;processorId=<span
style='color:red'>[insert processor ID]</span>&amp;amount=<span
style='color:red'>[insert amount]</span> </p>

<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Response</span></b></p>

<p>The call will return all records that match the supplied
criteria in the form:</p>

<pre>{&quot;Response&quot;:{transaction data}}</pre>

<p>Transaction Data:</p>

<table border=1 cellspacing=0 cellpadding=0
 style='width:442px;margin-left: auto;margin-right: auto;border-collapse:collapse;border:none'>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>response</span></td>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>1 = Transaction Approved<br>
2 = Transaction Declined<br>
3 = Error in transaction data or system error</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>responsetext</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Textual response</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>authcode</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Transaction authorization code</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>transactionid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Payment gateway transaction id</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>avsresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>AVS response code(See Appendix 1)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>cvvresponse</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>CVV response code(See Appendix 2)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>orderid</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The original order id passed in the transaction request</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>type</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The type of transaction that was processed</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>response_code</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>Numeric mapping of processor responses (See Appendix 3)</span></td>
 </tr>
 <tr>
  <td valign=top style='width:50%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'><span style='font-size:
  10.5pt;'>customer_hash</span></td>
  <td valign=top style='width:50%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><span style='font-size:10.5pt;'>The hash to identify the customer in the vault</span></td>
 </tr>
</table>

<p>&nbsp;</p>
<p align=center style='text-align:center'><b><span
style='font-size:14.0pt'>Notes</span></b></p>

<p>If the token is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Wrong or Inactive Api Token&quot;}</pre>

<p>If the processorId is incorrect or missing, the following response is
returned:</p>

<pre>{&quot;Response&quot;:&quot;Processor not Found&quot;}</pre>
