            <div class="form-group">
                <h3>Donation Button</h3>
            </div>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label normal" for="Donation_Name">Donation Name *</label>
                            <div class="controls">
                                <input type="text" id="Donation_Name" name="Donation_Name" class="form-control" data-ng-model="$parent.Donation_Name" placeholder="Required" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label normal" for="Donation_Description">Donation Description *</label>
                            <div class="controls">
                                <textarea type="text" id="Donation_Description" name="Donation_Description" class="form-control" data-ng-model="$parent.Donation_Description" placeholder="Required" required ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="currency">Currency</label>
                            <div class="controls">
                                 <select class="form-control" id="Donation_Currency" name="Donation_Currency" data-ng-model="$parent.Donation_Currency" ng-init="$parent.Donation_Currency='USD'"> 
                                     <option value="USD" selected>USD</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label normal" for="Donation_Amount_1">Donation Amount 1 *</label>
                            <div class="controls">
                                <input type="number" id="Donation_Amount_1" name="Donation_Amount_1" class="form-control" data-ng-model="$parent.Donation_Amount_1"step='0.01' value='5.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label normal" for="Donation_Amount_2">Donation Amount 2</label>
                            <div class="controls">
                                <input type="number" id="Donation_Amount_2" name="Donation_Amount_2" class="form-control" data-ng-model="$parent.Donation_Amount_2" step='0.01' value='10.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label normal" for="Donation_Amount_3">Donation Amount 3</label>
                            <div class="controls">
                                <input type="number" id="Donation_Amount_3" name="Donation_Amount_3" class="form-control" data-ng-model="$parent.Donation_Amount_3" step='0.01' value='25.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label normal" for="Donation_Amount_4">Donation Amount 4</label>
                            <div class="controls">
                                <input type="number" id="Donation_Amount_4" name="Donation_Amount_4" class="form-control" data-ng-model="$parent.Donation_Amount_4" step='0.01' value='50.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"><input type="checkbox" id="Allow_Custom_Donations" name="Allow_Custom_Donations" class="pull-left" data-ng-model="$parent.Allow_Custom_Donations" />&nbsp;Allow Custom Donations *</label>
                            
                        </div>
                    </div>
                    <div class="col-md-6">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"><input type="checkbox" id="Allow_Recurring_Donation" name="Allow_Recurring_Donation" class="pull-left" data-ng-model="$parent.Allow_Recurring_Donation" />&nbsp;Allow Recurring Donations **</label>                            
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Display Options *</label>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="dButtonType" value="donate150" ng_model="dButtonType"/>
                                    <img src="https://secure.mojopay.com/img/donate150px.png"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="dButtonType" value="donate150cc" ng_model="dButtonType"/>
                                    <img src="https://secure.mojopay.com/img/donate150pxcc.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="dButtonType" value="donate250" ng_model="dButtonType"/>
                                    <img src="https://secure.mojopay.com/img/donate250px.png"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="dButtonType" value="donate250cc" ng_model="dButtonType"/>
                                    <img src="https://secure.mojopay.com/img/donate250pxcc.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">* Indicates Required Field</label>
                            <label class="control-label">SKU, Tax and Shipping will not display if left blank</label>
                            <label class="control-label">** Recurring donations will occur monthly on the day that the donation is created by the customer</label>
                        </div>
                    </div>
                </div>
            </fieldset>
