<section  data-ng-controller="SaleController" data-ng-init="setView('merchant_activity');config();setTitle('Advanced Reports');">
    <div class="container1 col-md-12">
        <div class="form-group">
            <h1>Merchant Activity Report</h1>
        </div>
        <form class="form-horizontal" data-ng-submit="MerchantActivityWrap()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                        <h3>Search Transactions</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="startDate">Start Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="endDate">End Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="endDateYesterday" id="endDate" class="form-control" placeholder="End Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>
                    
                     <!-- Austin - new div only shows when the Merchant just has one product -->       
                    <div ng-show="!isAdmin && sampleProductCategories[0].products.length == 2" class="col-md-5">
                        <div class="form-group">  
                            <label class="control-label">Product Name</label>      
                            <div class="form-control"> 
                                {{ sampleProductCategories[0].products[1].name }}                                            
                            </div>
                        </div>    
                    </div>                                 
                                                
                    <!-- Austin - new dropdown for more than one product, simpler, more responsive with clicking in and out -->  
                    <div ng-show="!isAdmin && sampleProductCategories[0].products.length > 2" class="col-md-5">
                        <div class="form-group">                            
                        <label class="control-label">Product Name</label>                      
                        <select
                              ng-model="Product_NameUserMAR"
                              ng-options="p.name for p in sampleProductCategories[0].products"                                  
                              ng-change="Product_NameChangeUserMAR()"                                
                            class="form-control product-dropdown">
                        </select>                            
                        </div>                        
                    </div>                    
                    
                    <!--Merchant Name Dropdown-->
                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Merchant Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown"><span style="float: left;">{{merchantId.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                                        </div>
                                    </li>
                                    <li id="Merchant_ID" role="presentation" 
                                        ng-click="setMerchantId(c)" 
                                        ng-repeat='c in sampleProductCategories| filter:query'> <a href=""> {{c.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    
                    <!-- Product Name Dropdown Backup -->
                    <!--<div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Product Name</label>

                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu3" data-toggle="dropdown"><span style="float: left;">{{products.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproduct"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProducts(p)" ng-repeat='p in merchantId.products| filter:queryproduct'> <a href=""> {{p.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>-->

                  <!-- Austin - new div only shows when the Merchant just has one product -->      
                 <div ng-show="isAdmin && merchantId.products.length == 2" class="col-md-5">
                     <div class="form-group">  
                        <label class="control-label">Product Name</label>      
                        <div class="form-control"> 
                             {{ merchantId.products[1].name }}                                            
                         </div>
                     </div>    
                 </div>
                                 
                                                
                   <!-- Austin - new dropdown for more than one product, simpler, more responsive with clicking in and out -->
                  <div ng-show="isAdmin && merchantId.products.length > 2" class="col-md-5">                        
                        <div class="form-group">                            
                            <label class="control-label">Product Name</label>                      
                             <select
                                  ng-model="Product_NameMAR"
                                  ng-options="p.name for p in merchantId.products"                                  
                                  ng-change="Product_NameChangeMAR()"                                
                                  class="form-control product-dropdown">
                             </select>
                        </div>                        
                    </div>

                </div>

                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" class="btn btn-primary btn-lg" value="Search">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
        
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        
        <!--beginning of report display-->
        
        <div class="col-md-12 table-responsive">
            <!--<table class="table table-striped" ng-show="itemsMerchantActivity.length > 0">-->
            <table class="table table-striped" ng-show="showReportMAR">
                <thead>
                <tr ng-show="itemsMerchantActivity.length>0">
                    <th ng-show="isAdmin">Merchant ID</th>
                    <th ng-show="isAdmin">Merchant Name</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th ng-show="isAdmin && products.productName == 'all'">Product</th>
                    <th style="text-align:right">Debit</th>
                    <th style="text-align:right">Credit</th>
                    <th style="text-align:right">Balance</th>
                </tr>
                </thead>
                <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr ng-repeat="item in itemsMerchantActivity | offset: currentPage*itemsPerPage | limitTo: itemsPerPage track by $index" style="height:30px;">
                    <!-- Merchant ID -->
                    <td ng-show="isAdmin">
                        {{item.merchantId}}
                    </td>

                    <!-- Merchant Name -->
                    <td ng-show="isAdmin">
                        {{item.merchantName}}
                    </td>
                    
                    <!-- T Date -->
                    <td>
                        {{item.time | dateForHumanWithoutHour}}
                    </td>


                    <!-- Description -->
                    <td>
                        {{item.short_description}}
                    </td>

                    <!-- Product -->
                    <td ng-show="isAdmin && products.productName == 'all'">
                        {{item.productName}}
                    </td>

                    <!-- Debit -->
                    <td style="text-align:right">
                        <span ng-if="item.short_description != 'Chargeback Reversal Fee ' && item.short_description != 'Monthly Fee ' && item.short_description != 'ACH Reject Fee ' && item.short_description != 'Chargeback Fee ' && item.short_description != 'ACH Credit - Account Funding' && item.short_description != 'ACH Disbursement' && item.short_description != 'Reserve' && item.short_description != 'Reserve Increase ' && item.short_description != 'Commission ' && item.short_description != 'Retrieval Fee' && item.short_description != 'Other ' && item.short_description != 'ACH Reject ' || ( item.short_description == 'Misc. Fee ' && item.debit != '' ) ">
                            <a href="{{item.link}}" target="blank">{{item.debit | displaynullcurrency}}</a>
                        </span>
                        <span ng-if="item.short_description == 'Chargeback Reversal Fee ' || item.short_description == 'Monthly Fee ' || item.short_description == 'ACH Reject Fee ' || item.short_description == 'Chargeback Fee ' || item.short_description == 'ACH Credit - Account Funding' || item.short_description == 'ACH Disbursement' || item.short_description == 'Reserve' || item.short_description == 'Reserve Increase ' || item.short_description == 'Commission ' || item.short_description == 'Retrieval Fee' || item.short_description == 'Other ' || (item.short_description == 'ACH Reject '  && item.debit != '' )|| ( item.short_description == 'Misc. Fee ' && item.debit == '' )">
                            {{item.debit | displaynullcurrency}}
                        </span>
                    </td>

                    <!-- Credit -->
                    <td style="text-align:right">
                        <span ng-if="item.short_description != 'Additional Charges ' && item.short_description != 'ACH Credit - Account Funding' && item.short_description != 'Reserve Release ' && item.short_description != 'Other ' && item.short_description != 'Commission ' && item.short_description != 'Retrieval Fee' && item.short_description != 'Other ' && item.short_description != 'ACH Reject ' || ( item.short_description == 'Misc. Fee ' && item.credit !=='' )">
                        <a href="{{item.link}}" target="blank">{{item.credit | displaynullcurrency}}</a>
                        </span>
                        <span ng-if="item.short_description == 'ACH Credit - Account Funding' || item.short_description == 'Additional Charges ' || item.short_description == 'Reserve Release ' || item.short_description == 'Other ' || (item.short_description == 'ACH Reject '  && item.credit != '' ) || ( item.short_description == 'Misc. Fee ' && item.credit == '' ) ">
                            {{item.credit | displaynullcurrency}}
                        </span>
                    </td>

                    <!-- Balance -->
                    <td ng-class="{'redbalance':item.balance < -0.005}" style="text-align:right">
                        {{item.balance | displaynullbalance}}
                    </td>

                </tr>
                </tbody>
                <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr style="height:30px;" ng-show="false">
                    <th ng-show="isAdmin"></th>
                    <th ng-show="isAdmin"></th>
                    <td ng-show="isAdmin && merchantId.id=='all'"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right"><strong>{{sumDebit | displaynullcurrency}}</strong></td>
                    <td style="text-align:right"><strong>{{sumCredit | displaynullcurrency}}</strong></td>
                    <td ng-class="{'redbalance':sumBalance < -0.005}" style="text-align:right"><strong>{{sumBalance | displaynullbalance}}</strong></td>
                </tr>
                </tbody>
                <tfoot>
                <td style="text-align:center" colspan="12">
                    <div class="pagination" ng-show="itemsMerchantActivity.length > itemsPerPage && itemsMerchantActivity.length>0">
                        <ul>
                            <li>
                                <a>{{firstItem}} -> {{lastItem}} of {{itemsMerchantActivity.length}}</a>
                            </li>
                            <li ng-class="startPageDisabled()">
                                <a href ng-click="startPage()">«« Start</a>
                            </li>
                            <li ng-class="prevPageDisabled()">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range()"
                                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                <a href="">{{n+1}}</a>
                            </li>
                            <li ng-class="nextPageDisabled()">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                            <li ng-class="endPageDisabled()">
                                <a href ng-click="endPage()">End »»</a>
                            </li>
                            <li>
                                <a>
                                    <form>
                                        <select data-ng-model="pageSelected" ng-change="goToPage()">
                                            <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                                        </select>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>

        <!-- Export report -->
        
        <!--<div class="col-md-12 table-responsive" ng-show="itemsMerchantActivity.length > 0">-->
            
        <!--Austin -->
        <div class="col-md-12 table-responsive" ng-show="showReportMAR && itemsMerchantActivity.length>0">            

            <!-- Export button -->
            <a download="merchant_activity_report.xls" href="" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="merchant_activity_report.csv" href="" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="merchant_activity_report.tsv" href="" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            --> 

            <a href="" style="float:right">
                <button class="btn btn-primary" ng-click="openFeeModal()" type="submit">
                    <span class="icon-cog-white" aria-hidden="true"></span>
                    <span ng-show="isAdmin">Add Line Item</span>
                    <span ng-show="!isAdmin">View Pending Line Items</span>
                </button>
            </a>

            <br /><br />

            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Merchant Activity Report</h1>
                <table class="table table-striped" id="datatable">
                    <thead>
                    <tr ng-show="itemsMerchantActivity.length>0">
                        <th ng-show="isAdmin">Merchant ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th ng-show="isAdmin && products.productName == 'all'">Product</th>
                        <th style="text-align:right">Debit</th>
                        <th style="text-align:right">Credit</th>
                        <th style="text-align:right">Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in itemsMerchantActivity track by $index" style="height:30px;">

                        <!-- Merchant ID -->
                        <td ng-show="isAdmin">
                            {{item.merchantId}}
                        </td>

                        <!-- Merchant Name -->
                        <td ng-show="isAdmin">
                            {{item.merchantName}}
                        </td>

                        <!-- T Date -->
                        <td>
                            {{item.time | dateForHumanWithoutHour}}
                        </td>


                        <!-- Description -->
                        <td>
                            {{item.short_description}}
                        </td>

                        <!-- Product -->
                        <td ng-show="isAdmin && products.productName == 'all'">
                            {{item.productName}}
                        </td>
    
                        <!-- Debit -->
                        <td style="text-align:right">

                        <span ng-if="item.short_description != 'Chargeback Reversal Fee ' && item.short_description != 'Monthly Fee ' && item.short_description != 'ACH Reject Fee ' && item.short_description != 'Chargeback Fee ' && item.short_description != 'ACH Credit - Account Funding' && item.short_description != 'ACH Disbursement' && item.short_description != 'Reserve' && item.short_description != 'Commission ' && item.short_description != 'Retrieval Fee' || ( item.short_description === 'Misc. ' && item.debit !== '' ) ">
                            <a href="{{item.link}}" target="blank">{{item.debit | displaynullcurrency}}</a>
                        </span>
                        <span ng-if="item.short_description == 'Chargeback Reversal Fee ' || item.short_description == 'Monthly Fee ' || item.short_description == 'ACH Reject Fee ' || item.short_description == 'Chargeback Fee ' || item.short_description == 'ACH Credit - Account Funding' || item.short_description == 'ACH Disbursement' || item.short_description == 'Reserve' || item.short_description == 'Commission ' || item.short_description == 'Retrieval Fee' || ( item.short_description === 'Misc. ' && item.debit === '' )">
                            {{item.debit | displaynullcurrency}}
                        </span>

                        </td>

                        <!-- Credit -->
                        <td style="text-align:right">
                        <span ng-if="item.short_description != 'Additional Charges ' && item.short_description != 'ACH Credit - Account Funding' || ( item.short_description === 'Misc. ' && item.credit !== '' )">
                        <a href="{{item.link}}" target="blank">{{item.credit | displaynullcurrency}}</a>
                        </span>
                        <span ng-if="item.short_description == 'ACH Credit - Account Funding' || item.short_description == 'Additional Charges ' || ( item.short_description === 'Misc. ' && item.credit === '' ) ">
                            {{item.credit | displaynullcurrency}}
                        </span>

                        </td>

                        <!-- Balance -->
                        <td ng-class="{'redbalance':item.balance < 0}" style="text-align:right">
                            {{item.balance | displaynullbalance}}
                        </td>

                    </tr>
                    </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>
</section>
