<section data-ng-controller="SaleController" >
<div class="modal-header" data-ng-init="getInformation();">
     <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body col-md-12">
    <form class="form-horizontal" validate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="emailAddressModal">Email to: (Up to 10 Addresses, seperated by semi-colons)</label>
                    <div class="controls">
                        <textarea data-ng-model="$parent.emailAddressModal" id="emailAddressModal" name="emailAddressModal"  class="form-control"  >{{emailAddressModal}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-error col-md-12" style="color:red;" ng-hide="error.length < 1">{{error}}</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>

</div>
</section>