<section data-ng-controller="BoardingCrudController" >
<div class="modal-header" data-ng-init="getEmailAdmin();">
     <h3 class="modal-title">Reset Password</h3>
</div>
<div class="modal-body">
  Email: <b>{{ email }}</b>
  <p class="text-success">{{ success }}</p>
</div>
<div class="modal-footer" ng-show="success == null || success == undefined">
  <button class="btn btn-primary" ng-click="ok()">Send Email</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
<div class="modal-footer" ng-show="success != null && success != undefined">
  <button class="btn btn-primary" ng-click="cancel()">Ok</button>
</div>
</section>