<section data-ng-controller="BoardingCrudController" >
<div class="modal-header">
     <h3 class="modal-title">Descriptions of Account Statuses</h3>
</div>
<div class="modal-body">
  <p>Active – Your account can actively process transactions.<br>
	<br>ACH Rejected – There is an issue depositing funds or debiting fees from your bank account on file. Please contact your MojoPay Account Manager.<br>
	<br>Restricted – Your account is restricted from processing transactions; however, it will remain open for any trailing activity (e.g. chargebacks and reserve releases).<br>
	<br>Suspended – Your account is suspended from processing transactions; however, it will remain open for any trailing activity (e.g. chargebacks). All future disbursements and reserve releases will also be on hold until the matter has been resolved.<br>
	<br>Closed – Your account is no longer active and no activity will occur.<br>
	<br>If you have any questions on the status of your account, please contact your MojoPay Account Manager, or call our customer service line at: 1-855-MojoPay (665-6729).</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="cancel()">Ok</button>
</div>
</section>