<section data-ng-controller="BoardingCrudController" >
<div class="modal-header" data-ng-init="addProduct();">
     <h3 class="modal-title">Add a Product</h3>
</div>
<div class="modal-body">
    <div style="margin-top:1em;text-align:center;" class="row">
      Select a new product to add to the boarding sheet:
    </div>
    <div style="margin-top:1em;text-align:center;" class="row">
        <button ng-repeat="product in products" ng-if="product.id != '1'" type="button" ng-click="createPayment(product)" class="btn btn-primary">{{product.Name}}</button>
    </div>
    <div style="margin-top:1em;text-align:center;" class="row">
        <button class="btn btn-primary" ng-click="cancel()">Close</button>
    </div>
  <p class="text-success">{{ success }}</p>
</div>
</section>
