<section data-ng-controller="SaleController" >
<div class="modal-header" data-ng-init="getMerchant();">
    <h3 class="modal-title">
        <span ng-show="isAdmin">Add a Line Item</span>
        <span ng-show="!isAdmin">View Pending Line Items</span>
    </h3>
</div>
<div class="modal-body">
<form class="form-horizontal" validate><!-- data-ng-submit="create()" -->
    <div ng-show="isAdmin" class="col-md-5">
        <div class="form-group">
            <label class="control-label" for="merchantIdModal">Select Merchant </label>
            <div class="controls">
                <select data-ng-model="merchantIdModal" id="merchantIdModal" name="merchantIdModal"  ng-options="c.name for c in modalMerchantsProducts track by c.value" class="form-control"
                        ng-init="merchantIdModal=arrayMerchantSelected" ng-change="changeMerchants()">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label" for="products">Select Product</label>
            <div class="controls">
                <select data-ng-model="products" id="products" ng-options="p.name for p in merchantIdModal.products" class="form-control" ng-change="getLineItems()">
                    <option ng-selected=""
                            ng-repeat="product in products"
                            ng-init="productIdModal=arrayProductSelected"
                            value="{{product.id}}">

                      {{product.name}}
                    </option>                                                                        
                </select>
            </div>
        </div>
    </div>

    <!-- -->

    <div ng-show="isAdmin" class="col-md-5">
        <div class="form-group">
            <label class="control-label" for="itemType">Select Item Type</label>
            <div class="controls">
                <select data-ng-model="itemType" name="itemType" ng-change="changeItemType()" id="itemType" class="form-control" required>
                    <option value="ach_reject">ACH Reject</option>
                    <option value="chargeback">Chargeback</option>
                    <option value="chargeback_reversal">Chargeback reversal</option>
                    <option value="misc">Misc. Fee</option>
                    <option value="other">Other</option>
                    <option value="retrieval_fee">Retrieval Fee</option>
                    <option value="reserve_increase">Reserve Increase</option>
                    <option value="reserve_adjustment">Reserve Release</option>
                    </select>
            </div> 
        </div>
    </div>
    <div ng-show="isAdmin" class="col-md-1">
    </div>
    <div ng-show="isAdmin" class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="feeAmount">Amount</label>
            <div class="controls">
                <input type="number" step='0.01' value='0.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-ng-model="feeAmount" name="feeAmount" id="feeAmount" class="form-control" required />
            </div>
        </div>
    </div>
    <div ng-show="isAdmin" class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="payment">Dr/Cr</label>
            <div class="controls">
                <select data-ng-model="payment" name="payment" id="payment" class="form-control" required>
                    <option value="credit">Credit</option>
                    <option value="debit">Debit</option>
                </select>
            </div>
        </div>
    </div>


	<!-- -->

    <div ng-show="isAdmin" class="col-md-1">
    </div>
    <div ng-show="isAdmin" class="col-md-5">
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input type="text" data-ng-model="description" id="description" maxlength="150" class="form-control" placeholder="Description" required>
            </div>
        </div>
    </div>

    <div ng-show="isAdmin" class="col-md-1">
    </div>
    <div ng-show="isAdmin" class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="transaction_id">Transaction ID</label>
            <div class="controls">
                <input type="text" data-ng-model="transaction_id" name="transaction_id" id="transaction_id" class="form-control" required />
            </div>
        </div>
    </div>
    <div ng-show="isAdmin" class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="date">Occurrence Date</label>
            <div class="controls">
                <input type="date" data-ng-model="date" id="date" class="form-control" placeholder="mm/dd/yyyy" required  model-view-value="true">
            </div>
        </div>
    </div>

    <!-- -->

</div>

<div style="clear:both"></div>

<div class="col-md-12">
	<br />
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <!-- MC-645 - Show pending line items - 2015-12-03 - pjf -->
    <div style="overflow:scroll; height:300px" ng-show="pendingLineItems.length > 0">
        <h3>Pending Line Items</h3>
        <div class="col-md-12 table-responsive" id="report-body">
          <table class="table table-striped">              
            <thead>
              <tr>
                <th>Item Type</th>
                <th style="text-align:center">Transaction ID</th>
                <th>Description</th>
                <th style="text-align:center">Dr/Cr</th>
                <th style="text-align:right">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in pendingLineItems">
                <td>{{item.Fee_Name | displayFeeName}}</td>
                <td style="text-align:center">{{item.Transaction_ID}}</td>
                <td>{{item.Description}}</td>
                <td style="text-align:center">{{item.Debit_Credit  | firstUpper}}</td>
                <td ng-if="item.Debit_Credit == 'debit'" style="text-align:right"><span style="color:red;">{{item.Fee_Amount | displaynullcurrency}}</span></td>
                <td ng-if="item.Debit_Credit != 'debit'" style="text-align:right">{{item.Fee_Amount | displaynullcurrency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <!-- end MC-645 -->
</div>

<div class="modal-footer">
  <button ng-show="isAdmin" class="btn btn-primary" ng-click="itemFeeRecord();">Submit</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>

</form>
</section>
