<section data-ng-controller="SaleController" >
<div class="modal-header" data-ng-init="getInformation();">
     <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <p><b><span ng-bind-html="message"></span></b></p>
  <p><b ng-show="message2">{{message2}}</b></p>
  <div ng-hide="code == '' || code == undefined || code == null"><p><pre><b >{{code}}</b></pre></p></div>
</div>
<div class="modal-footer">
  <button ng-show="accept != '' && accept != undefined" class="btn btn-primary" ng-click="ok()">{{accept}}</button>
  <button class="btn btn-primary" ng-click="cancel()">{{deny}}</button>
</div>
</section>
