<section data-ng-controller="BoardingCrudController" >
<div class="modal-header" data-ng-init="getInformation();">
     <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <b>{{message}}</b>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-hide="accept==undefined || accept==null || accept==''">{{accept}}</button>
  <button class="btn btn-primary" ng-click="cancel()" ng-hide="deny==undefined || deny==null || deny==''">{{deny}}</button>
</div>
</section>