<section data-ng-controller="SaleController" >
<div class="modal-header" data-ng-init="getMerchant();">
     <h3 class="modal-title">{{modalDescription}}</h3>
</div>

<div style="clear:both; text-align:center;">
    <br /><br />
    This fee is associated with following transaction ID: <br /><br /> <strong>{{modalTransactionId}}</strong>
    <br /><br />
    Occurrence Date: {{occurrenceDateModal | date}}
    <br /><br />
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="cancel()">Ok</button>
</div>

</form>
</section>