<section data-ng-controller="NationBuilderIntegrationController" >
<div class="modal-header" data-ng-init="getInformation();">
     <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <b>{{message}}</b>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{accept}}</button>
  <button class="btn btn-primary" ng-click="cancel()">{{deny}}</button>
</div>
</section>