            <div class="form-group">
                <h3>Product Button</h3>
            </div>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label normal" for="Product_Name">Product Name *</label>
                            <div class="controls">
                                <input type="text" id="Product_Name" name="Product_Name" class="form-control" data-ng-model="$parent.Product_Name" placeholder="Required" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label normal" for="Product_Description">Product Description *</label>
                            <div class="controls">
                                <textarea type="text" id="Product_Description" name="Product_Description" class="form-control" data-ng-model="$parent.Product_Description" placeholder="Required" required ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label normal" for="Product_SKU">Product SKU</label>
                            <div class="controls">
                                <input type="text" id="Product_SKU" name="Product_SKU" class="form-control" data-ng-model="$parent.Product_SKU" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="currency">Currency</label>
                            <div class="controls">
                                 <select class="form-control" id="Product_Currency" name="Product_Currency" data-ng-model="$parent.Product_Currency" ng-init="$parent.Product_Currency='USD'"> 
                                     <option value="USD" selected>USD</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label normal" for="Product_Price">Product Price *</label>
                            <div class="controls">
                                <input type="number" id="Product_Price" name="Product_Price" class="form-control" data-ng-model="$parent.Product_Price" placeholder="Required" required step='0.01' value='0.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label normal" for="Tax">Tax</label>
                            <div class="controls">
                                <input type="number" id="Tax" name="Tax" class="form-control" data-ng-model="$parent.Tax" step='0.01' value='0.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label normal" for="Shipping">Shipping</label>
                            <div class="controls">
                                <input type="number" id="Shipping" name="Shipping" class="form-control" data-ng-model="$parent.Shipping" step='0.01' value='0.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Display Options *</label>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="pButtonType" value="buynow150" ng-model="pButtonType"/>
                                    <img src="https://secure.mojopay.com/img/buynow150px.png"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="pButtonType" value="buynow150cc" ng-model="pButtonType"/>
                                    <img src="https://secure.mojopay.com/img/buynow150pxcc.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="pButtonType" value="buynow250" ng-model="pButtonType"/>
                                    <img src="https://secure.mojopay.com/img/buynow250px.png"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="radio" name="pButtonType" value="buynow250cc" ng-model="pButtonType"/>
                                    <img src="https://secure.mojopay.com/img/buynow250pxcc.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">* Indicates Required Field</label>
                            <label class="control-label">SKU will not display if blank. Tax and Shipping will not display if zero.</label>
                        </div>
                    </div>
                </div>
            </fieldset>
