<section data-ng-controller="SaleController" data-ng-init="recurringPlansQueryInitialize(); setTitle('Recurring Plans'); setView('Transaction Report');">
	<div class="container1 col-md-12">
                <form class="form-horizontal" data-ng-submit="recurringPlansWrap()" novalidate name="searchform">
                    <fieldset>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h3>Search Recurring  Plans</h3>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div style="margin-bottom: 8px;">
                                            <label class="control-label">Product Name</label>
                                            <select
                                                    ng-model="Product_NameSearchTransactions"
                                                    ng-options="c.name for c in sampleProductCategories[0].products"
                                                    ng-change="Product_NameChangeSearchTransactions()"
                                                    class="form-control product-dropdown">
                                            </select>
                                        </div>
                                    </div>
                                </div>                           
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div style="margin-bottom: 8px;">
                                            <label class="control-label" for="plan">Plan Name</label>
                                         <div class="controls">
                                            <input type="text" data-ng-model="plan" id="plan" class="form-control" />
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-12">
                            <br />
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                        </div>
        
                        <div class="col-md-12">
                            <div class="form-group">
                                <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                                <input id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Search">
                            </div>
                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
        
                    </fieldset>
                </form>
                
                <div ng-show="noResults" class="col-md-12">
                    <h2>No Results</h2>
                </div>

            <div class="col-md-12 table-responsive" ng-show="showRecurringPlans" id="report-body">
				<table class="table table-striped" ng-show="items.length > 0" width="100%">
					<thead>
						<tr>
							<th>Product Name</th>
							<th>Plan Name</th>
							<th>Plan ID</th>
							<th>Billing Cycle</th>
							<th>Frequency</th>
							<th>Amount</th>
                            <th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items" style="height:30px;">
							<td><span data-ng-bind="item.Product_Description"></span></td>
							<td><span data-ng-bind="item.Plan_Name"></span></td>
							<td><span data-ng-bind="item.Plan_ID"></span></td>
							<td><span data-ng-bind="item.description"></span></td>
							<td><span data-ng-bind="item.frequency"></span></td>
                            <td><span data-ng-bind="item.Plan_Amount | currency "></span></td>
                            <td><a ng-click="verifyEdit({{item.Recurr_ID}})"><span class="icon-pencil-black" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a></td>
                            <td><a href='' ng-click="verifyDelete({{item.Plan_ID}},{{item.Recurr_ID}})"><span class="icon-trash-black" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a></td>
						</tr>
					</tbody>
                    <tfoot>
                        <td style="text-align:center" colspan="7"></td>
                    </tfoot>
				</table>

               <div ng-show="showRecurringPlans">
                    <a download="recurring_plan_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportableWithLinks', 'Export');">
                        <button class="btn btn-primary btn-lg">
                            <span class="icon-download-white" aria-hidden="true"></span>
                            Export
                        </button>
                    </a>
                </div>
                <br />
            </div>

    </div>
	<div ng-show="false">
	    <div class="col-md-12">
	        <div class="form-group">
	            <h1>Customer Export</h1>
				<table id="exportableWithLinks" class="table table-striped" ng-show="items.length > 0" width="100%">
					<thead>
						<tr>
							<th>Product Name</th>
							<th>Plan Name</th>
							<th>Plan ID</th>
							<th>Billing Cycle</th>
							<th>Frequency</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items" style="height:30px;">
							<td><span data-ng-bind="item.Product_Description"></span></td>
							<td><span data-ng-bind="item.Plan_Name"></span></span></td>
							<td><span data-ng-bind="item.Plan_ID"></span></td>
							<td><span data-ng-bind="item.description"></span></td>
							<td><span data-ng-bind="item.frequency"></span></td>
							<td><span data-ng-bind="item.Plan_Amount | currency "></span></td>
						</tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
				</table>
	        </div>
	    </div>
    </div>
    
</section>
