<section data-ng-controller="SaleController" data-ng-init="recurringInitialize();setTitle('Recurring Payment Plans');">
    <div class="container1 col-md-12">
        <div id="transactionCompleted" style="display:none;">
            <div class="slide-animate" ng-include="'modules/creditcard/views/transactioncompleted.client.view.html'"></div>
        </div>
        <form id="fieldsForm" name="fieldsForm" class="form-horizontal" data-ng-submit="submitRecurringPlan()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div ng-show="checkCreate()" class="form-group">
                        <h4>Add New Recurring Plan</h4>
                    </div>
                    <div ng-hide="checkCreate()" class="form-group">
                        <h4>Edit Recurring Plan</h4>
                    </div>
                    <input type="hidden" data-ng-model="id" id="id" name="id" />
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Product Name</label>
                            <div class="dropdown dropdown-scroll" >
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown" ng-disabled="{{!checkCreate()}}"><span id="productControl" style="float: left;">{{productId.Name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproductid"></input>
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProductId(c)" ng-repeat='c in sampleProductCategories[0].products| filter:queryproductid'> <a href=""> {{c.Name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="plan_name">Plan Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="plan_name" id="plan_name" name="plan_name" class="form-control" placeholder="Plan Name / Description" required="" />
                                </div>
                                <div ng-show="fieldsForm.plan_name.$dirty && fieldsForm.plan_name.$error.required">
                                    <span ng-show="fieldsForm.plan_name.$error.required" style="color:red;">Please enter the Plan Name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="plan_id">Plan ID</label>
                                <div class="controls">
                                    <input type="number" data-ng-model="plan_id" id="plan_id" name="plan_id" class="form-control" placeholder="Plan ID (For use with QuickClick and API)" required ng-disabled="!checkCreate()"/>
                                </div>
                                <div ng-show="fieldsForm.plan_id.$dirty && (fieldsForm.plan_id.$error.required || fieldsForm.plan_id.$error.number)">
                                    <span ng-show="fieldsForm.plan_id.$error.required" style="color:red;">This is not a valid Plan ID.</span>
                                    <span ng-show="fieldsForm.plan_id.$error.number" style="color:red;">This is not a number.</span>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="plan_amount">Charge This Amount (eg. 10.00)</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="plan_amount" id="plan_amount" name="plan_amount" class="form-control" step='0.01' value='0.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+\.[0-9]{2}?$/" required />
                                </div>
                                <div ng-show="fieldsForm.plan_amount.$dirty && (fieldsForm.plan_amount.$error.required || fieldsForm.plan_amount.$error.pattern)">
                                    <span ng-show="fieldsForm.plan_amount.$error.required" style="color:red;">This is not a valid Plan Amount.</span>
                                    <span ng-show="fieldsForm.plan_amount.$error.pattern" style="color:red;">This is not a valid Plan Amount.</span>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label chargeANumberOfTimes" for="plan_payments_1">Charge This Many Times</label>
                                <div class="controls">
                                    <input type="number" data-ng-model="plan_payments_1" min="0" ng-pattern="/^\d+$/" id="plan_payments_1" name="plan_payments_1" class="form-control chargeANumberOfTimes" placeholder="" required/>
                                </div>
                                <div ng-if="!plan_payments_0" ng-show="fieldsForm.plan_payments_1.$dirty && fieldsForm.plan_payments_1.$invalid" class="chargeANumberOfTimes">
                                    <span ng-show="fieldsForm.plan_payments_1.$error.required" style="color:red;">This is not a valid number of times.</span>
                                    <span ng-show="fieldsForm.plan_payments_1.$error.pattern" style="color:red;">This is not a valid number of times.</span>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label chargeUntilCancelled" for="plan_payments_0" ng-style="{opacity: checkCreate() ? 0.5 : 1};">Charge Until Canceled</label>
                                <div class="controls pull-left">
                                    <input type="checkbox" data-ng-model="plan_payments_0" id="plan_payments_0" name="plan_payments_0" class="" ng-change="changeNumberOfTimes()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="radio" name="frequency" value="everySoManyDays" ng-model="frequency" ng-change="changeFrequency()" class="" />
                           </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label everySoManyDays" for="day_frequency">Charge the Customer Every</label>
                           </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="number" data-ng-model="day_frequency" min="1" ng-pattern="/^\d+$/" id="day_frequency" name="day_frequency" class="form-control everySoManyDays" placeholder="" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label everySoManyDays" for="day_frequency">Days</label>
                           </div>
                        </div>
                    </div>
                    <div ng-if="frequency == 'everySoManyDays'" ng-show="fieldsForm.day_frequency.$dirty && fieldsForm.day_frequency.$invalid" class="chargeANumberOfTimes">
                        <span ng-show="fieldsForm.day_frequency.$error.required" style="color:red;">This is not a valid number of days.</span>
                        <span ng-show="fieldsForm.day_frequency.$error.pattern" style="color:red;">This is not a valid number of days.</span>
                    </div>                                
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="radio" name="frequency" ng-model="frequency" value="onDayOfMonth" ng-change="changeFrequency()" class="" />
                           </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label onDayOfMonth" ng-style="{opacity: checkCreate() ? 0.5 : 1};" for="day_of_month">Charge the Customer On Day</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="controls">
                                    <select id="day_of_month" name="day_of_month" ng-style="{opacity: checkCreate() ? 0.5 : 1};" ng-model="day_of_month" ng-options="day_of_month for day_of_month in recurrdays track by day_of_month" class="form-control onDayOfMonth" ng-disabled="checkCreate()" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label onDayOfMonth" ng-style="{opacity: checkCreate() ? 0.5 : 1};" for="month_frequency">of every</label>
                           </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="controls">
                                    <select id="month_frequency" name="month_frequency" ng-model="month_frequency" ng-options="month_frequency.desc for month_frequency in frequencies track by month_frequency.value" class="form-control onDayOfMonth" ng-style="{opacity: checkCreate() ? 0.5 : 1};" ng-disabled="checkCreate()" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label onDayOfMonth" ng-style="{opacity: checkCreate() ? 0.5 : 1};" for="day_frequency">Month(s)</label>
                           </div>
                        </div>
                    </div>
                    <div ng-if="frequency == 'onDayOfMonth'" ng-show="fieldsForm.day_of_month.$dirty && fieldsForm.day_of_month.$invalid" class="chargeANumberOfTimes">
                        <span ng-show="fieldsForm.day_of_month.$error.required" style="color:red;">This is not a valid day.</span>
                        <span ng-show="fieldsForm.day_of_month.$error.pattern" style="color:red;">This is not a valid day.</span>
                    </div>                                
                    <div ng-if="frequency == 'onDayOfMonth'"  ng-show="fieldsForm.month_frequency.$dirty && fieldsForm.month_frequency.$invalid" class="chargeANumberOfTimes">
                        <span ng-show="fieldsForm.month_frequency.$error.required" style="color:red;">This is not a valid number of months1.</span>
                        <span ng-show="fieldsForm.month_frequency.$error.pattern" style="color:red;">This is not a valid number of months2.</span>
                    </div>                                
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                         <input ng-show="checkCreate();" id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Create" />
                         <input ng-hide="checkCreate();" id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Update" />
                         <!-- input  ng-click="cleanUser()" id="resetButton"  type="reset" class="btn btn-primary btn-lg" value="Reset" /-->
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
