<section  data-ng-controller="SaleController" data-ng-init="config();setTitle('Advanced Reports');">
    <div class="container1 col-md-12">
        <form class="form-horizontal" data-ng-submit="reportTransaction()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <br />
                    <ul>
                      <li><strong><a href="#!/reports/merchant_activity">Merchant Activity Report</a></strong></li>
                      <!-- 
					  <li><strong><a href="#!/reports/settlement_details">Settlement Details Report</a></strong></li>
                      <li><strong><a href="#!/reports/account_summary">Account Summary</a></strong></li>
                      <li><strong><a href="#!/reports/transaction_detail_by_date">Transaction Detail by Date</a></strong></li>
                      -->


                      <!--
                      <li><strong>Discount Analysis Fee</strong></li>
                      <ul>
                        <li ng-repeat="merchant in merchants">
                          <a href="#!/reports/discount_fees/{{merchant.merchantId}}/">{{merchant.merchantId}}</a>
                        </li>
                      </ul>

                      <li><strong>Transaction Analysis Fee</strong></li>
                      <ul>
                        <li ng-repeat="merchant in merchants">
                          <a href="#!/reports/transaction_fees/{{merchant.merchantId}}/">{{merchant.merchantId}}</a>
                        </li>
                      </ul>
                      -->
                      <li><strong><a href="#!/reports/account_balance_report">Account Balance Report</a></strong></li>



                      <li ng-show="isAdmin"><strong><a href="#!/reports/ach_report">ACH Detail Report</a><strong></li>
                      <!--
                      <li><a href="#">Discount Fees Report</a></li>
                      <li><a href="#">Transaction Fees Report</a></li>
                      <li><a href="#">Failed Transactions Report</a></li>
                      <li><a href="#">Chargeback Report</a></li>
                      <li><a href="#">Recurring Billing Expiry Report</a></li>
                      <li><a href="#">Merchant Payments</a></li>
                      <li><a href="#">Merchant Wire Info</a></li>
                      <li><a href="#">Account Balance Report</a></li>
                      <li><a href="#">Payment Rejection – Account on Hold Report</a></li>
                      -->
                        <li><strong><a href="#!/reports/recurring_plan_audit_report">Recurring Plan Changes Audit Report</a></strong></li>

                    </ul>
                    <br />

                </div>
            </fieldset>
        </form>
    </div>
</section>