<section data-ng-controller="SaleController" data-ng-init="initialize();setTitle('Sale');">
    <div class="container1 col-md-12">
        <div id="transactionCompleted" style="display:none;">
            <div class="slide-animate" ng-include="'modules/creditcard/views/transactioncompleted.client.view.html'"></div>
        </div>
        <form id="fieldsForm" name="inputForm" class="form-horizontal" data-ng-submit="doSale()" validate>
            <fieldset>
            <div ng-include="'modules/creditcard/views/formfields.client.view.html'"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                    <input id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Sale">
                    <input  ng-click="cleanForm()" id="resetButton"  type="reset" class="btn btn-primary btn-lg" value="Reset">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </div>
            </fieldset>
        </form>
    </div>
</section>