<section  data-ng-controller="SaleController" data-ng-init="config();setTitle('Advanced Reports');SettlementTransactionDetails()">
    <div class="col-md-12">
         <div class="form-group">
            <h1>Settlement Details Report</h1>
        </div>
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-striped" ng-show="items.length > 0">
            <thead>
              <tr ng-show="items.length>0">
                <th ng-show="isAdmin">Account ID</th>
                <th>Product</th>
                <th>Transaction Type</th>
                <th>Transaction ID</th>
                <th>Full Name</th>
                <th style="text-align:right">Card Number</th>
                <th>Card Type</th>
                <th>Date</th>
                <th>Currency</th>
                <th style="text-align:right">Amount</th>
              </tr>
            </thead>
            <tbody>                              
                <tr ng-repeat="item in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage | orderObjectBy : criteria : direction : items : currentPage" style="height:30px;">

                    <!-- Account ID -->
                    <td ng-show="isAdmin">
                        {{item.Merchant_ID}}
                    </td>

                    <!-- Product -->
                    <td>{{item.Description}}</td>

                    <!-- Description -->
                    <td>
                        {{item.Type | capitalize}}
                    </td>

                    <!-- Merchant Transaction ID -->
                    <td>
                        <!-- {{item.transaction_id}} -->
                        <a href="#!/tdetails/{{item.Transaction_ID}}/{{item.Product_ID}}/{{item.Boarding_ID}}">{{item.Transaction_ID}}</a></td>
                    </td>

                    <!-- Full Name -->
                    <td>
                        {{item.last_name}} {{item.first_name}}
                    </td>

                    <!-- Card Number -->
                    <td style="text-align:right">                        
                        {{ item.cc_number }}
                    </td>

                    <!-- Card Type -->
                    <td >                        
                        {{ item.cc_bin | ccardType : item.cc_number.length }}
                    </td>

                    <!-- Postdate -->
                    <td>
                        {{item.Original_Date | dateForHuman}}
                    </td>

                    <!-- Currency -->
                    <td>
                        {{item.currency}}
                    </td>

                    <!-- Amount -->
                    <td style="text-align:right">
                        {{item.Original_Amount | currency}}
                    </td>

                </tr>
            </tbody>
            <tbody>
                <tr style="height:30px;">
                    <td ng-show="isAdmin"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- Amount -->
                    <td style="text-align:right">
                        <strong>{{sumAmountSettleReport | currency}}</strong>
                    </td>

                </tr>
            </tbody>
            <tfoot>
              <td style="text-align:center" colspan="12">
                <div class="pagination" ng-show="items.length > itemsPerPage">
                  <ul>
                    <li>
                        <a>{{firstItem}} - {{lastItem}} of {{items.length}}</a>
                    </li>
                    <li ng-class="startPageDisabled()">
                      <a href ng-click="startPage()">«« Start</a>
                    </li>
                    <li ng-class="prevPageDisabled()">
                      <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range()"
                      ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                      <a href="#">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()">
                      <a href ng-click="nextPage()">Next »</a>
                    </li>
                    <li ng-class="endPageDisabled()">
                      <a href ng-click="endPage()">End »»</a>
                    </li>
                    <li>
                        <a>
                        <form>
                            <select data-ng-model="pageSelected" ng-change="goToPage()">
                                <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                            </select>
                        </form>
                        </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="items.length > 0">

            <!-- Export button -->
            <a download="settlement_details_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="settlement_details_report.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="settlement_details_report.tsv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->

            <br /><br />

            <div id="exportable" ng-show="false">
                <h1>Settlement Details Report</h1>
                  <table class="table table-striped" id="datatable">
                    <thead>
                      <tr ng-show="items.length>0">
                        <th ng-show="!isAdmin">Product</th>
                        <th ng-show="isAdmin">Account ID</th>
                        <th>Transaction Type</th>
                        <th>Transaction ID</th>
                        <th>Full Name</th>
                        <th style="text-align:right">Card Number</th>
                        <th>Card Type</th>
                        <th>Date</th>
                        <th>Currency</th>
                        <th style="text-align:right">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items" style="height:30px;">

                            <td ng-show="!isAdmin">{{item.Description}}</td>

                            <!-- Account ID -->
                            <td ng-show="isAdmin">
                                {{item.Merchant_ID}}
                            </td>
        
                            <!-- Description -->
                            <td>
                                {{item.Type | capitalize}}
                            </td>

                            <!-- Merchant Transaction ID -->
                            <td>
                                <a href="#!/tdetails/{{item.Transaction_ID}}/{{item.Product_ID}}/{{item.Boarding_ID}}">{{item.Transaction_ID}}</a></td>
                            </td>

                            <!-- Full Name -->
                            <td>
                                {{item.last_name}} {{item.first_name}}
                            </td>

                            <!-- Card Number -->
                            <td style="text-align:right">                        
                                {{ item.cc_number }}
                            </td>
        
                            <!-- Card Type -->
                            <td >                        
                                {{ item.cc_bin | ccardType : item.cc_number.length }}
                            </td>
                            
                            <!-- Postdate -->
                            <td>
                                {{item.Original_Date | dateForHuman}}
                            </td>

                            <!-- Currency -->
                            <td>
                                {{item.currency}}
                            </td>

                            <!-- Amount -->
                            <td style="text-align:right">
                                {{item.Original_Amount | currency}}
                            </td>

                        </tr>
                    </tbody>
                  </table>
                </table>
            </div>      
        </div>        
    </div>
</section>
