<div class="row">
   <div class="col-md-1">
    <label class="control-label" for="processing">Recur every </label>
  </div>
  <div class="col-md-1">
    <input type="text" data-ng-model="$parent.$parent.schedule.recurweekly" id="recurweekly" class="form-control" placeholder="" >
  </div>
  <div class="col-md-1">
    <label class="control-label" for="processing">week(s) on:</label>
  </div>
   <div class="col-md-2">
    <div class="checkbox">
          <label  class="control-label normalletter">
          <input data-ng-model="$parent.$parent.schedule.Monday" id="monday" type="checkbox" ng-checked="$parent.$parent.schedule.Monday | isTrue"> Monday 
        </label>
     </div>
    </div>
    <div class="col-md-2">
     <div class="checkbox">
          <label class="control-label normalletter">
          <input data-ng-model="$parent.$parent.schedule.Tuesday" id="tuesday" type="checkbox" ng-checked="$parent.$parent.schedule.Tuesday| isTrue"> Tuesday
        </label>
     </div>
    </div>
    <div class="col-md-2">
     <div class="checkbox">
          <label class="control-label normalletter">
          <input data-ng-model="$parent.$parent.schedule.Wednesday" id="wednesday" type="checkbox" ng-checked="$parent.$parent.schedule.Wednesday | isTrue"> Wednesday
        </label>
     </div>
    </div>
    <div class="col-md-2">
    <div class="checkbox">
          <label  class="control-label normalletter">
          <input data-ng-model="$parent.$parent.schedule.Thursday" id="thursday" type="checkbox" ng-checked="$parent.$parent.schedule.Thursday| isTrue"> Thursday 
        </label>
     </div>
    </div>
    <div class="col-md-1">
     <div class="checkbox">
          <label class="control-label normalletter">
          <input data-ng-model="$parent.$parent.schedule.Friday" id="friday" type="checkbox" ng-checked="$parent.$parent.schedule.Friday | isTrue"> Friday
        </label>
     </div>
    </div>
</div>