<div class="row" style="margin-bottom:1em;">
  <div class="col-md-1">
    <label class="control-label normal normalletter">
       <input type="radio" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.$parent.schedule.daymonth" name="day" value="0" checked>&nbsp;Day
     </label>
  </div>
  <div class="col-md-1">
    <input type="text" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.$parent.schedule.datemonth" id="datemonth" class="form-control" placeholder="" >
  </div>
  <div class="col-md-1">
    <label class="control-label" for="processing">of every</label>
  </div>
  <div class="col-md-1">
    <input type="text" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.$parent.schedule.everydate" id="everydate" class="form-control" placeholder="" >
  </div>
  <div class="col-md-1">
    <label class="control-label" for="processing">month(s)</label>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label class="control-label normal normalletter">
       <input type="radio" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.$parent.schedule.daymonth" name="the" value="1" checked>&nbsp;The
     </label>
  </div>
  <div class="col-md-3">
    <div class="controls">
        <select  class="form-control" id="dayorder" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.$parent.schedule.dayorder">
          <option value="0">fist</option>
          <option value="1">second</option>
          <option value="2">third</option>
          <option value="3">forth</option>
          <option value="4">last</option>
        </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="controls">
        <select  class="form-control" id="dayname" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.$parent.schedule.dayname">
          <option value="0">Monday</option>
          <option value="1">Tuesday</option>
          <option value="2">Wednesday</option>
          <option value="3">Thursday</option>
          <option value="4">Friday</option>
        </select>
    </div>
  </div>
  <div class="col-md-1">
    <label class="control-label" for="processing">of every</label>
  </div>
  <div class="col-md-1">
    <input type="text" ng-disabled="$parent.$parent.disableSchedule" data-ng-model="$parent.$parent.schedule.everymonth" id="everymonth" class="form-control" placeholder="" >
  </div>
  <div class="col-md-1">
    <label class="control-label" for="processing">month(s)</label>
  </div>
</div>
