<fieldset>
      <div class="form-group">
              <h4>MojoPay Pricing</h4>
      </div>
      <div class="row">
            

            
            
           <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Discount_Rate">Discount Rate</label>
                 <div class="controls">
                    <input type="text" id="Discount_Rate" name="Discount_Rate" class="form-control" data-ng-model="$parent.$parent.rates.Discount_Rate" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Sale_Fee">Sale</label>
                 <div class="controls">
                    <input type="text" id="Sale_Fee" name="Sale_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Sale_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label normal" for="Monthly_Fee">Monthly Fee</label>
                      <div class="controls">
                       <input type="text" id="Monthly_Fee" name="Monthly_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Monthly_Fee" placeholder="Required" required>
                     </div>
                </div>
           </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Authorization_Fee">Authorization</label>
                 <div class="controls">
                    <input type="text" id="Authorization_Fee" name="Authorization_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Authorization_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
           <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Setup_Fee">Set-Up Fee</label>
                 <div class="controls">
                    <input type="text" id="Setup_Fee" name="Setup_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Setup_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Capture_Fee">Capture</label>
                 <div class="controls">
                    <input type="text" id="Capture_Fee" name="Capture_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Capture_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Chargeback_Fee">Chargeback Fee</label>
                 <div class="controls">
                    <input type="text" id="Chargeback_Fee" name="Chargeback_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Chargeback_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
                 <div class="form-group">
                    <label class="control-label normal" for="Void_Fee">Void</label>
                     <div class="controls">
                        <input type="text" id="Void_Fee" name="Void_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Void_Fee" placeholder="Required" required>
                     </div>
                  </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Chargeback_Reversal_Fee">Chargeback Reversal Fee</label>
                 <div class="controls">
                    <input type="text" id="Chargeback_Reversal_Fee" name="Chargeback_Reversal_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Chargeback_Reversal_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
             <div class="col-md-6">
               <div class="form-group">
                <label class="control-label normal" for="Refund_Fee">Refund</label>
                 <div class="controls">
                    <input type="text" id="Refund_Fee" name="Refund_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Refund_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Retrieval_Fee">Retrieval Fee</label>
                 <div class="controls">
                    <input type="text" id="Retrieval_Fee" name="Retrieval_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Retrieval_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Credit_Fee">Credit</label>
                 <div class="controls">
                    <input type="text" id="Credit_Fee" name="Credit_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Credit_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Declined_Fee">Failed/Declined</label>
                 <div class="controls">
                    <input type="text" id="Declined_Fee" name="Declined_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Declined_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
                <label class="control-label normal" for="Ach_Reject_Fee">ACH Reject</label>
                 <div class="controls">
                    <input type="text" id="Ach_Reject_Fee" name="Ach_Reject_Fee" class="form-control" data-ng-model="$parent.$parent.rates.Ach_Reject_Fee" placeholder="Required" required>
                 </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group">
                       <label class="control-label normal" for="Processor_ID">Processor ID <span ng-show="processorError" class="text-danger">This Processor ID is already taken!</span></label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.$parent.rates.Processor_ID" name="Processor_ID" id="Processor_ID" class="form-control" placeholder="Optional" ng-blur="onBlur($event)">
 							<span ng-show="processorPending"class="text-warning">Checking if this processor ID is in use...</span>
                        </div>
                    </div>
                </div>
           </div>
             <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label normal" for="Username">Username  <span ng-show="nmiUsernameError" class="text-danger">This Username is already taken!</span></label>
                   <div class="controls">
                      <input type="text" id="Username" name="Username" class="form-control" data-ng-model="$parent.$parent.rates.Username" placeholder="Optional" ng-blur="onBlurNMIUsername($event)">
              <span ng-show="nmiUsernamePending"class="text-warning">Checking if this Username is in use...</span>
                   </div>
                </div>
              </div>

             <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label normal" for="Password">Password</label>
                        <div class="controls">
                         <input type="password" id="Password" name="Password" class="form-control" data-ng-model="$parent.$parent.rates.Password" placeholder="Optional">
                       </div>
                  </div>
             </div>
      </div>
</fieldset> 
