<section data-ng-controller="SaleController" data-ng-init="subscriptionInitialize();setTitle('Subscriptions');">
    <div class="container1 col-md-12">
        <div id="transactionCompleted" style="display:none;">
            <div class="slide-animate" ng-include="'modules/creditcard/views/transactioncompleted.client.view.html'"></div>
        </div>
        <form id="fieldsForm" name="fieldsForm" class="form-horizontal" data-ng-submit="submitSubscription()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="row">
                        <div ng-show="subCheckCreate()" class="form-group">
                            <h4>Add New Subscription</h4>
                        </div>
                        <div ng-hide="subCheckCreate()" class="form-group">
                            <h4>Edit Subscription</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="customer">Customer (required)</label>
                                <div class="controls">
                                    <select size="5" id="customer" multiple ng-multiple="true" name="customer" ng-model="customer" ng-options="customer as customer.value for customer in customers track by customer.id" class="form-control" ng-disabled="!subCheckCreate()" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="recurring_plan">Plan (required)</label>
                                <div class="controls">
                                    <select id="recurring_plan" name="recurring_plan" ng-model="recurring_plan" ng-options="recurring_plan as recurring_plan.value for recurring_plan in recurring_plans track by recurring_plan.id" class="form-control" ng-disabled="!subCheckCreate()" required></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label">Start Charging the Customer on This Date (required)</label>
                                <div class="col-md-3">
                                    <select data-ng-model="startMonth" id="startMonth" name="startMonth" class="form-control"
                                        ng-options="month for month in startMonths" ng-change="subCheckDate()">
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select data-ng-model="startDay" id="startDay" name="startDay" class="form-control" ng-options="day for day in startDays" ng-change="subCheckDate()">
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select data-ng-model="startYear" id="startYear" name="startYear" class="form-control"
                                        ng-options="year for year in startYears" ng-change="subCheckDate()">
                                    </select>
                                </div>
                            </div>
                                <div ng-show="dateError != '' ">
                                    <span ng-show="dateError != '' " style="color:red;">{{dateError}}</span>
                                </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="order_id">Order ID</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="order_id" id="order_id" name="order_id" class="form-control" placeholder="Optional" />
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="order_description">Order Description</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="order_description" id="order_description" name="order_description" class="form-control" placeholder="Optional" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="po_number">P.O. Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="po_number" id="po_number" name="po_number" class="form-control" placeholder="Optional" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="shipping">Shipping Amount (optional)</label>
                                <div class="controls">
                                    <input type="number" data-ng-model="shipping" id="shipping" name="shipping" class="form-control"  step='0.01' value='0.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+\.[0-9]{2}?$/" placeholder="Optional" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="tax">Tax Amount (optional)</label>
                                <div class="controls">
                                    <input type="number" data-ng-model="tax" id="tax" name="tax" class="form-control"  step='0.01' value='0.00' placeholder='0.00' min="0" ng-pattern="/^[0-9]+\.[0-9]{2}?$/" placeholder="Optional" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                               <label class="control-label" for="tax_exempt">Tax Exempt (optional) &nbsp; <input type="checkbox" data-ng-model="tax_exempt" id="tax_exempt" name="tax_exempt" /></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                         <input ng-show="subCheckCreate();" id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Create" />
                         <input ng-hide="subCheckCreate();" id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Update" />
                         <!-- input  ng-click="cleanUser()" id="resetButton"  type="reset" class="btn btn-primary btn-lg" value="Reset" /-->
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
