<section data-ng-controller="SaleController" data-ng-init="subscriptionQueryInitialize(); setTitle('Subscriptions'); setView('Transaction Report');">
	<div class="container1 col-md-12">
                <form class="form-horizontal" data-ng-submit="subscriptionWrap()" novalidate name="searchform">
                    <fieldset>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h3>Search Subscriptions</h3>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div style="margin-bottom: 8px;">
                                            <label class="control-label">Product Name</label>
                                            <select
                                                    ng-model="Product_NameSearchTransactions"
                                                    ng-options="c.name for c in sampleProductCategories[0].products"
                                                    ng-change="Product_NameChangeSearchTransactions()"
                                                    class="form-control product-dropdown">
                                            </select>
                                        </div>
                                    </div>
                                </div>                           
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div style="margin-bottom: 8px;">
                                            <label class="control-label" for="plan">Plan Name</label>
                                            <select
                                                    ng-model="Plan_NameSearchTransactions"
                                                    ng-options="p.value for p in samplePlans track by p.id"
                                                    ng-change="Plan_NameChangeSearchTransactions()"
                                                    class="form-control product-dropdown">
                                            </select>
                                        </div>
                                    </div>
                                </div>
        
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="firstName">Customer First Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="Customer First Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="lastName">Customer Last Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="Customer Last Name" />
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Customer E-mail</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="email" id="email" class="form-control" placeholder="Customer E-mail" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="last4ofCC">Last 4 of CC</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="last4ofCC" name="last4ofCC" ng-pattern="/^[0-9]{4}$/" ng-minlength="4" ng-maxlength="4" class="form-control" placeholder="Last 4 of CC" />
                                            <p ng-show="searchform.last4ofCC.$error.pattern" style="color:red;">Field requires 4 digits only</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-12">
                            <br />
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                        </div>
        
                        <div class="col-md-12">
                            <div class="form-group">
                                <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                                <input id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Search">
                            </div>
                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
        
                    </fieldset>
                </form>
            
            <div ng-show="noResults" class="col-md-12">
                <h2>No Results</h2>
            </div>
            
            <div class="col-md-12 table-responsive" ng-show="showSearchSubscriptions" id="report-body">
				<table class="table table-striped" ng-show="sItems.length > 0" width="100%">
					<thead>
						<tr>
							<th>Plan Name</th>
							<th>Customer</th>
							<th>Order ID</th>
							<th>Details</th>
							<th>Entry Time</th>
							<th>Payments</th>
                            <th>Next Payment Date</th>
                            <th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in sItems" style="height:30px;">
                            <td><span data-ng-bind="item.Plan_Name"></span></td>
							<td><span data-ng-bind="item.First_Name"></span> <span data-ng-bind="item.Last_Name"></span> </td>
							<td><span data-ng-bind="item.Order_ID"></span></td>
							<td><span data-ng-bind="item.CC_Number"></span></td>
							<td><span data-ng-bind="item.Created | date:'medium'"></span></td>
							<td><span data-ng-bind="item.Payments" style="white-space:pre-wrap;"></span></td>
                            <!-- td><a href='#!/recurringplanmodify/{{item.id}}'><span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit"></span></a></td -->
							<td><span data-ng-bind="item.Next_Charge_Date | date:'mediumDate'"></span></td>
                            <td><a href='' ng-click="verifySubDelete({{item.id}})"><span class="icon-trash-black" aria-hidden="true" data-toggle="tooltip" title="Delete"></span></a></td>
						</tr>
					</tbody>
                    <tfoot>
                        <td style="text-align:center" colspan="7"></td>
                    </tfoot>
				</table>
                <div ng-show="sItems.length == 0" class="col-md-12">
                    <h2>No Results</h2>
                </div>
	        </div>
            <div ng-show="sItems.length > 0">
                <a download="transaction_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportableWithLinks', 'Export using actions links');">
                    <button class="btn btn-primary btn-lg">
                        <span class="icon-download-white" aria-hidden="true"></span>
                        Export
                    </button>
                </a>
            </div>
            <br /><br />
	    </div>
    </div>
	<div ng-show="false" class="container1">
	    <div class="col-md-12">
	        <div class="form-group">
	            <h1>Customer Export</h1>
				<table id="exportableWithLinks" class="table table-striped" ng-show="sItems.length > 0" width="100%">
					<thead>
						<tr>
							<th>Plan Name</th>
							<th>Customer</th>
							<th>Order ID</th>
							<th>Details</th>
							<th>Entry Time</th>
							<th>Payments</th>
                            <th>Next Payment Date</th>
                             <th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in sItems" style="height:30px;">
							<td><span data-ng-bind="item.Plan_Name"></span></td>
							<td><span data-ng-bind="item.First_Name"></span> <span data-ng-bind="item.Last_Name"></span> </td>
							<td><span data-ng-bind="item.Order_ID"></span></td>
							<td><span data-ng-bind="item.CC_Number"></span></td>
							<td><span data-ng-bind="item.Created | date:'medium'"></span></td>
							<td><span data-ng-bind="item.Payments"></span></td>
							<td><span data-ng-bind="item.Next_Charge_Date | date:'mediumDate'"></span></td>
						</tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
				</table>
	        </div>
	    </div>
    </div>
    
</section>
