<section data-ng-controller="SaleController" data-ng-init="detailsTransaction();setTitle('Transaction Details');">
    <div class="container1 col-md-12">
        <div ng-repeat="item in transaction track by $index">
            <div id="exportable"> <!-- ng-show="$index == 0" -->

				<div class="row" ng-show="$index == 0">
					<div class="col-md-6">
		                <h3 style="float:left">
		               		<!-- Capture button -->
		                    <!-- 
							<a ng-show="item.canCapture" class="btn btn-primary" href='#!/capture/{{item.transaction_id.$t}}'>Capture</a>
		                    <span ng-hide="item.canCapture" class="btn btn-primary active">Capture</span>
		                    -->
							<!-- Refund button -->
		                    <!-- 
							<a ng-show="item.canRefund" class="btn btn-primary" href='#!/refund/{{item.transaction_id.$t}}'>Refund</a>
		                    <span ng-hide="item.canRefund" class="btn btn-primary active">Refund</span>
		                    -->
							<!-- Void button -->
		                    <!-- 
							<a ng-show="item.canVoid" href='#!/void/{{item.transaction_id.$t}}' class="btn btn-primary">Void</a>
		                    <span ng-hide="item.canVoid" class="btn btn-primary active">Void</span>
							-->
						</h3>
					</div>
                    <div class="col-md-6">
                        <div class="float:right">
                             <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Transaction ID:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="controls" dateForHuman>
                                               {{item.transaction_id.$t}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                              <label class="control-label">Product:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="controls">
                                                <span>{{item.productId}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>         
                        </div>
                    </div>
				</div>


                <!--
                Billing 
                -->

                <div class="col-md-12" ng-show="$index == 0">
                    <div class="form-group">
                            <h3>Payment Information</h3>
                    </div>
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <div class="controls">
                                    <span data-ng-bind="item.action.date.$t | ccardToHumanDate"</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">AVS Status</label>
                                <div class="controls">
                                    <span data-ng-bind="item.avs_response.$t | avs_status"></span>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Card Type</label>
                                <div class="controls">
                                    <span data-ng-bind="item.cc_bin.$t | ccardType : item.cc_number.$t.length"</span>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6">
                             <div class="form-group">
                                <label class="control-label">CVV Status</label>
                                <div class="controls">
                                    <span data-ng-bind="item.csc_response.$t | cvv_status"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Credit Card Number</label>
                                <div class="controls">
                                    <span data-ng-bind="item.cc_number.$t | ccardExpanded : item.cc_bin.$t"</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group">
                                <label class="control-label">Currency</label>
                                <div class="controls">
                                    <span data-ng-bind="item.currency.$t"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Expiration Date</label>
                                <div class="controls">
                                    <span data-ng-bind="item.cc_exp.$t"></span>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Transaction Type</label>
                                <div class="controls">
                                    <span data-ng-bind="item.action.action_type.$t | capitalize"</span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                       <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Authorization Code</label>
                                <div class="controls">
                                    <span data-ng-bind="item.authorization_code.$t"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <div class="controls">
                                    <span data-ng-bind="item.condition.$t | status_capitalize"></span>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
               <!--
               Card Billing
               -->
                <div class="row" ng-show="$index == 0">
                    <div class="col-md-6">
                         <div class="form-group">
                             <h3>Billing Information</h3>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <span data-ng-bind="item.first_name.$t"></span>&nbsp;<span data-ng-bind="item.last_name.$t"></span>
                            </div>
                        </div>
                         </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Company</label>
                            <div class="controls">
                                <span data-ng-bind="item.company.$t"></span>
                            </div>
                        </div>
                         </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Address 1</label>
                            <div class="controls">
                                <span data-ng-bind="item.address_1.$t"></span>
                            </div>
                        </div>
                         </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Address 2</label>
                            <div class="controls">
                                <span data-ng-bind="item.address_2.$t"></span>
                            </div>
                        </div>
                        </div>
						<div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <div class="controls">
                                <span data-ng-bind="item.city.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">State</label>
                            <div class="controls">
                                <span data-ng-bind="item.state.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Zip</label>
                            <div class="controls">
                                <span data-ng-bind="item.postal_code.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <div class="controls">
                                <span data-ng-bind="item.country.$t"></span>
                            </div>
                        </div>
                         </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <div class="controls">
                                <span data-ng-bind="item.phone.$t"></span>
                            </div>
                        </div>
                         </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Fax Number</label>
                            <div class="controls">
                                <span data-ng-bind="item.fax.$t"></span>
                            </div>
                        </div>
                         </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Email Address</label>
                            <div class="controls">
                                <span data-ng-bind="item.email.$t"></span>
                            </div>
                        </div>
                         </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <h3>Shipping Information</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_first_name.$t"></span>&nbsp; <span data-ng-bind="item.shipping_last_name.$t"></span>
                            </div>
                        </div>
                         </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Company</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_company.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Address 1</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_address_1.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Address 2</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_address_2.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_city.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">State</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_state.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Zip</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_postal_code.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_country.$t"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping_phone.$t"></span>
                            </div>
                        </div>
                        </div>
                        						 <div class="col-md-12">
                         <div class="form-group">
                                <label class="control-label">Email Address</label>
                                <div class="controls">
                                    <span data-ng-bind="item.shipping_email.$t"></span>
                                </div>
                        </div>  
                        </div>
                    </div>
                </div>
            </div>
                <!--
                Order
                -->

                <div class="row" ng-show="$index == 0">
                    <div class="form-group">
                        <h3>Order Information</h3>
                    </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Order ID</label>
                            <div class="controls">
                                <span data-ng-bind="item.order_id.$t"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Order Description</label>
                            <div class="controls">
                                <span data-ng-bind="item.order_description.$t"></span>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label">PO Numbers</label>
                            <div class="controls">
                                <span data-ng-bind="item.ponumber.$t"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Customer Vault ID</label>
                            <div class="controls">
                                <span data-ng-bind="item.customerid.$t | vaultDisplay"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Shipping</label>
                            <div class="controls">
                                <span data-ng-bind="item.shipping.$t"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tax</label>
                            <div class="controls">
                                <span data-ng-bind="item.tax.$t"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

	                <div class="form-group" ng-show="$index == 0">
	                        <h3>Transaction History</h3>
	                </div> 
	                <!-- Have historical -->
	                <div data-ng-repeat="history in item.history" ng-show="item.history.length>0">
	                    <div class="col-md-12" style='background-color:#ddd; margin-bottom:10px;'>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Transaction ID</label>
                                    <div class="controls" dateForHuman>
                                        {{history.transaction_id.$t}}
                                    </div>
                                </div>
                            </div>                        
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Type</label>
                                    <div class="controls" dateForHuman>
                                        {{history.action_type.$t | capitalize}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Status</label>
                                    <div class="controls" dateForHuman>
                                        {{history.response_text.$t}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Transaction Time</label>
                                    <div class="controls" dateForHuman>
                                        {{history.date.$t | dateForHuman}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Amount</label>
                                    <div class="controls" dateForHuman>
                                        ${{history.amount.$t}}
                                    </div>
                                </div>
                            </div>                        
	                   	</div>
	            	</div>
	                <!-- Have not historical --> 
	                <div ng-hide="item.action.length">
	                    <div class="col-md-12" style='background-color:#ddd; margin-bottom:10px;'>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Transaction ID</label>
                                    <div class="controls" dateForHuman>
                                        {{item.transaction_id.$t}}
                                    </div>
                                </div>
                            </div>                        
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Type</label>
                                    <div class="controls" dateForHuman>
                                        {{item.action.action_type.$t | capitalize}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Status</label>
                                    <div class="controls" dateForHuman>
                                        {{item.action.response_text.$t}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Transaction Time</label>
                                    <div class="controls" dateForHuman>
                                        {{item.action.date.$t | dateForHuman}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label" ng-show="$index == 0">Amount</label>
                                    <div class="controls" dateForHuman>
                                        ${{item.action.amount.$t}}
                                    </div>
                                </div>
                            </div>
	                   	</div>
	            	</div>
	            </div>

                <!-- 
                Products
                -->
                
                <div ng-show="{{products.quantity.$t}}" class="col-md-12" ng-show="$index == 0">
                    <div class="form-group">
                            <h3>Products</h3>
                    </div>        
                    <div data-ng-repeat="products in item.product" ng-show="item.product.length>0">
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">SKU</label>
                                    <div class="controls" dateForHuman>
                                        {{products.sku.$t}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                 <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <div class="controls">
                                        {{products.description.$t}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <div class="controls" dateForHuman>
                                        {{products.quantity.$t}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <div class="controls">
                                        {{products.amount.$t | currency}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="true" ng-repeat="item in transaction track by $index">
            <table class="table table-striped" id="datatable">
                <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>AVS</th>
                    <th>Card Type</th>
                    <th>CVV Status</th>
                    <th>Credit Card Number</th>
                    <th>Currency</th>
                    <th>Expiration Date</th>
                    <th>Transaction Type</th>
                    <th>Authorization</th>
                    <th>Status</th>
                <!--</tr>
                    <tr>-->
                    <th>Billing Name</th>
                    <th>Billing Company</th>
                    <th>Billing Address 1</th>
                    <th>Billing Address 2</th>
                    <th>Billing City</th>
                    <th>Billing State</th>
                    <th>Billing Zip</th>
                    <th>Billing Country</th>
                    <th>Billing Phone Number</th>
                    <th>Billing Fax Number</th>
                    <th>Billing Email Address</th>
                <!--</tr>
                    <tr>-->
                    <th>Shipping Name</th>
                    <th>Shipping Company</th>
                    <th>Shipping Address 1</th>
                    <th>Shipping Address 2</th>
                    <th>Shipping City</th>
                    <th>Shipping State</th>
                    <th>Shipping Zip</th>
                    <th>Shipping Country</th>
                    <th>Shipping Phone Number</th>
                    <th>Shipping Email Address</th>
                <!--</tr>
                    <tr>-->
                    <th>Order Id</th>
                    <th>Order Description</th>
                    <th>PO Numbers</th>
                    <th>Customer Vault ID</th>
                    <th>Shipping</th>
                    <th>Tax</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{item.transaction_id.$t}}</td>
                    <td>{{item.productId}}</td>
                    <td>{{item.action.date.$t | ccardToHumanDate}}</td>
                    <td>{{item.avs_response.$t | avs_status}}</td>
                    <td>{{item.cc_bin.$t | ccardType : item.cc_number.$t.length }}</td>
                    <td>{{item.csc_response.$t | avs_status}}</td>
                    <td>{{item.cc_number.$t | ccardExpanded : item.cc_bin.$t}}</td>
                    <td>{{item.currency.$t}}</td>
                    <td>{{item.cc_exp.$t}}</td>
                    <td>{{item.action.action_type.$t | capitalize}}</td>
                    <td>{{item.authorization_code.$t}}</td>
                    <td>{{item.condition.$t | status_capitalize}}</td>
                <!--</tr>
                    <tr>-->
                    <td>{{item.first_name.$t}}&nbsp;{{item.last_name.$t}}</td>
                    <td>{{item.company.$t}}</td>
                    <td>{{item.address_1.$t}}</td>
                    <td>{{item.address_2.$t}}</td>
                    <td>{{item.city.$t}}</td>
                    <td>{{item.state.$t}}</td>
                    <td>{{item.postal_code.$t}}</td>
                    <td>{{item.country.$t}}</td>
                    <td>{{item.phone.$t}}</td>
                    <td>{{item.fax.$t}}</td>
                    <td>{{item.email.$t}}</td>
                <!--</tr>
                    <tr>-->
                    <td>{{item.shipping_first_name.$t}}&nbsp;{{item.shipping_last_name.$t}}</td>
                    <td>{{item.shipping_company.$t}}</td>
                    <td>{{item.shipping_address_1.$t}}</td>
                    <td>{{item.shipping_address_2.$t}}</td>
                    <td>{{item.shipping_city.$t}}</td>
                    <td>{{item.shipping_state.$t}}</td>
                    <td>{{item.shipping_postal_code.$t}}</td>
                    <td>{{item.shipping_country.$t}}</td>
                    <td>{{item.shipping_phone.$t}}</td>
                    <td>{{item.shipping_email.$t}}</td>
                <!--</tr>
                     <tr>-->
                    <td>{{item.order_id.$t}}</td>
                    <td>{{item.order_description.$t}}</td>
                    <td>{{item.ponumber.$t}}</td>
                    <td>{{item.customerid.$t | vaultDisplay}}</td>
                    <td>{{item.shipping.$t}}</td>
                    <td>{{item.tax.$t}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a download="transaction_detail.xls" href="" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>
        </div>
        <div class="row">
            <div class="pull-right">
                <a href="" ng-click="emailReceipt(item);">
                    <button class="btn btn-primary">
                        <span class="icon-envelope-white" aria-hidden="true"></span>
                        Email Receipt
                    </button>
                </a>
                <a href="" ng-click="printReceipt();">
                    <button class="btn btn-primary">
                        <span class="icon-print-white" aria-hidden="true"></span>
                        Print Receipt
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
        &nbsp;
        </div>
    </div>
</section>
