<section  data-ng-controller="SaleController" data-ng-init="config();setTitle('Advanced Reports');TransactionFees()">
    <div class="col-md-12">
         <div class="form-group">
            <h1>Transaction Fee Analysis</h1>
        </div>
        
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-striped" ng-show="items.length > 0">
            <thead>
              <tr ng-show="items.length>0">
                <th ng-show="isAdmin">Merchant Id</th>
                <th ng-show="isAdmin">Merchant Name</th>              
                <th>Brand</th>
                <th>Transaction Fee Type</th>
                <th>Count</th>
                <th style="text-align:right">Amount</th>
              </tr>
            </thead>
            <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr ng-repeat="item in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;">

                    <td ng-show="isAdmin">
                        {{item.Merchant_ID}}
                    </td>

                    <td ng-show="isAdmin">
                        {{item.Merchant_Name}}
                    </td>

                    <td>
                        {{item.brand}}
                    </td>

                    <td>
                        {{item.type}}
                    </td>

                    <td>
                        {{item.count}}
                    </td>

                    <td style="text-align:right">
                       {{item.amount | displaynullcurrency}}
                    </td>

                </tr>
            </tbody>
            <tbody>
                <tr style="height:30px;">
                    <th ng-show="isAdmin"></th>
                    <th ng-show="isAdmin"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right">
                        {{sumAmountTransactionFeeReport | currency}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
              <td style="text-align:center" colspan="12">
                <div class="pagination" ng-show="items.length > itemsPerPage">
                  <ul>
                    <li>
                        <a>{{firstItem}} - {{lastItem}} of {{items.length}}</a>
                    </li>
                    <li ng-class="startPageDisabled()">
                      <a href ng-click="startPage()">«« Start</a>
                    </li>
                    <li ng-class="prevPageDisabled()">
                      <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range()"
                      ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                      <a href="#">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()">
                      <a href ng-click="nextPage()">Next »</a>
                    </li>
                    <li ng-class="endPageDisabled()">
                      <a href ng-click="endPage()">End »»</a>
                    </li>
                    <li>
                        <a>
                        <form>
                            <select data-ng-model="pageSelected" ng-change="goToPage()">
                                <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                            </select>
                        </form>
                        </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive"  ng-show="reportProcessed">

            <!-- Export button -->
            <a download="transaction_fee_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="transaction_fee_report.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="transaction_fee_report.tsv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->

            <br /><br />
            
            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Merchant Activity Report</h1>
                  <table class="table table-striped" id="datatable">
                    <thead>                    
                      <tr ng-show="items.length>0">
                        <th ng-show="isAdmin">Merchant Id</th>
                        <th ng-show="isAdmin">Merchant Name</th>              
                        <th>Brand</th>
                        <th>Transaction Fee Type</th>
                        <th>Count</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items" style="height:30px;">

                            <td>
                                {{item.Merchant_ID}}
                            </td>

                            <td>
                                {{item.Merchant_Name}}
                            </td>

                            <td>
                                {{item.brand}}
                            </td>

                            <td>
                                {{item.type}}
                            </td>

                            <td>
                                {{item.count}}
                            </td>

                            <td>
                                {{item.amount | displaynullcurrency}}
                            </td>


                        </tr>
                    </tbody>
                  </table>
                </table>
            </div>      
        </div>        
    </div>
</section>
