<section  data-ng-controller="SaleController" data-ng-init="setView('transaction_detail_by_date_mysql');config();setTitle('Advanced Reports');">
    <div class="container1 col-md-12">
         <div class="form-group">
            <h1>Transaction Detail by Date FROM MYSQL</h1>
        </div>
        <form class="form-horizontal" data-ng-submit="TransactionDetailByDateMysql()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                            <h3>Search Transactions</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="startDate">Start Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="endDate">End Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="endDate" id="endDate" class="form-control" placeholder="End Date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="productId">Product Name</label>
                                    <div class="controls">
                                        <select data-ng-model="productId" name="productId" id="productId" class="form-control">
                                            <option value="1" selected="selected" title="MojoCore">MojoCore</option>
                                            <option value="2" title="Twt2pay">Twt2pay</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-12">
                        <div class="form-group">
                            <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                            <input type="submit" class="btn btn-primary btn-lg" value="Search">
                        </div>
        				<div data-ng-show="error" class="text-danger">
        					<strong data-ng-bind="error"></strong>
        				</div>
                </div>
            </fieldset>
        </form>

        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-striped" ng-show="itemsTransactionDetailByDateMysql.length > 0">
            <thead>
              <tr ng-show="itemsTransactionDetailByDateMysql.length>0">
                <th>Postdate</th>
                <th>Transaction Type</th>
                <th>Transaction ID</th>
                <th style="text-align:right">Amount</th>
                <th>Processor</th>
                <th>Name</th>
                <th>Currency</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemsTransactionDetailByDateMysql | offset: currentPage*itemsPerPage | limitTo: itemsPerPage | orderObjectBy : criteria : direction : itemsTransactionDetailByDate : currentPage" style="height:30px;">

                    <!-- Postdate -->
                    <td>
                        {{item.createdAt | dateForHuman}}
                    </td>

                    <!-- Description -->
                    <td>
                        {{item.type}}
                    </td>

                    <!-- Transaction ID -->
                    <td>
                        {{item.transaction_id}}
                    </td>

                    <!-- Amount -->
                    <td style="text-align:right">
                        {{item.amount}}
                    </td>

                    <!-- Confirm Number -->
                    <td>
                        {{item.Processor_ID}}
                    </td>

                    <!-- Name -->
                    <td>
                        {{item.last_name}} {{item.first_name}}
                    </td>

                    <!-- Currency -->
                    <td>
                        {{item.currency}}
                    </td>

                </tr>
            </tbody>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="itemsTransactionDetailByDateMysql.length > 0">

            <!-- Export button -->
            <a download="transaction_detail_by_date_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="transaction_detail_by_date_report.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="transaction_detail_by_date_report.tsv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->

            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Transaction Detail By Date</h1>
                  <table class="table table-striped" id="datatable">
                    <thead>
                      <tr ng-show="itemsTransactionDetailByDateMysql.length>0">
                        <th ng-show="isAdmin">Account ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th>Postdate</th>
                        <th>Description</th>
                        <th>Transaction ID</th>
                        <th style="text-align:right">Amount</th>
                        <th style="text-align:right">Settle</th>
                        <th>Confirmation Number</th>
                        <th>Name</th>
                        <th>Currency</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemsTransactionDetailByDateMysql" style="height:30px;">

                            <!-- Account ID -->
                            <td ng-show="isAdmin">
                                {{item.merchant_id}}
                            </td>

                            <!-- Merchant Name -->
                            <td ng-show="isAdmin">
                                {{item.merchant_name}}
                            </td>

                            <!-- Postdate -->
                            <td>
                                {{item.time | dateForHuman}}
                            </td>

                            <!-- Description -->
                            <td>
                                {{item.description}}
                            </td>

                            <!-- Transaction ID -->
                            <td>
                                {{item.transaction_id}}
                            </td>

                            <!-- Amount -->
                            <td style="text-align:right">
                                {{item.amount}}
                            </td>

                            <!-- Settle -->
                            <td style="text-align:right">
                                {{item.settle}}
                            </td>

                            <!-- Confirm Number -->
                            <td>
                                {{item.tracking_number}}
                            </td>

                            <!-- Name -->
                            <td>
                                {{item.last_name}} {{item.first_name}}
                            </td>

                            <!-- Currency -->
                            <td>
                                {{item.currency}}
                            </td>

                        </tr>
                    </tbody>
                  </table>
                </table>
            </div>      
        </div>        
    </div>
</section>
