<section  data-ng-controller="SaleController" data-ng-init="setView('transaction_detail_by_date');config();setTitle('Advanced Reports');">
    <div class="container1 col-md-12">
         <div class="form-group">
            <h1>Transaction Detail by Date..</h1>
        </div>
        <form class="form-horizontal" data-ng-submit="TransactionDetailByDateWrap()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                            <h3>Search Transactions</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="startDate">Start Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="endDate">End Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="endDate" id="endDate" class="form-control" placeholder="End Date" ng-change="checkDateRange()">
                            </div>
                        </div>
                    </div>


                    <div ng-show="!isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" >Product Filter</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown"><span style="float: left;">{{productId.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproductid">
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProductId(c)" ng-repeat='c in sampleProductCategories[1].products| filter:queryproductid'> <a href=""> {{c.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label>Merchant Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown"><span style="float: left;">{{merchantId.Name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="query">
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setMerchantId(c)" ng-repeat='c in sampleProductCategories| filter:query'> <a href=""> {{c.Name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div  ng-show="isAdmin" class="col-md-5">
                        <div class="form-group">
                            <label>Product Name</label>
                            <div class="dropdown dropdown-scroll">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu3" data-toggle="dropdown"><span style="float: left;">{{products.name}}</span><span style="float:right;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                                    <li role="presentation">
                                        <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                    <span class="icon-search-black"></span>
                                                     </span>
                                            <input type="text" class="form-control" placeholder="Query" ng-model="queryproduct">
                                        </div>
                                    </li>
                                    <li role="presentation" ng-click="setProducts(p)" ng-repeat='p in merchantId.products| filter:queryproduct'> <a href=""> {{p.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>

                <div class="col-md-12">
                        <div class="form-group">
                            <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                            <input type="submit" class="btn btn-primary btn-lg" value="Search">
                        </div>
        				<div data-ng-show="error" class="text-danger">
        					<strong data-ng-bind="error"></strong>
        				</div>
                </div>
            </fieldset>
        </form>
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>
        <div ng-hide="reportProcesed">
            Processing {{reportProcessorCounter}} of {{reportProcessorTotal}} processor(s), Now processing: {{reportProcessorName}}
            <br />
            {{reportProcessorMessage}}
        </div>
        <div ng-show="noAdmin" class="col-md-12">
            <h2>We are working on Admin Account Reports - Admin Reports Coming soon..</h2>
        </div>        
        <div class="col-md-12 table-responsive">
          <table class="table table-striped" ng-show="itemsTransactionDetailByDate.length > 0">
            <thead>
              <tr ng-show="itemsTransactionDetailByDate.length>0">
                <th ng-show="!isAdmin">Product</th>
                <th ng-show="isAdmin">Account ID</th>
                <th ng-show="isAdmin">Merchant Name</th>
                <th>Postdate</th>
                <th>Description</th>
                <th>Transaction ID</th>
                <th style="text-align:right">Amount</th>
                <th ng-show="false">Confirmation Number</th>
                <th>Name</th>
                <th>Currency</th>
              </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="item in itemsTransactionDetailByDate | offset: currentPage*itemsPerPage | limitTo: itemsPerPage | orderObjectBy : criteria : direction : itemsTransactionDetailByDate : currentPage" style="height:30px;">-->

                <tr ng-repeat="item in itemsTransactionDetailByDate | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;">    


                    <td ng-show="!isAdmin">{{item.processor_id}}</td>

                    <!-- Account ID -->
                    <td ng-show="isAdmin">
                        {{item.id}}
                    </td>

                    <!-- Merchant Name -->
                    <td ng-show="isAdmin">
                        {{item.merchant_name}}
                    </td>

                    <!-- Postdate -->
                    <td>
                        {{item.time | dateForHuman}}
                    </td>

                    <!-- Description -->
                    <td>
                        {{item.description}}
                    </td>

                    <!-- Transaction ID -->
                    <td>
                        {{item.transaction_id}}
                    </td>

                    <!-- Amount -->
                    <td style="text-align:right">
                        {{item.amount}}
                    </td>

                    <!-- Confirm Number -->
                    <td ng-show="false">
                        {{item.tracking_number}}
                    </td>

                    <!-- Name -->
                    <td>
                        {{item.last_name}} {{item.first_name}}
                    </td>

                    <!-- Currency -->
                    <td>
                        {{item.currency}}
                    </td>

                </tr>
            </tbody>
            <tfoot>
              <td style="text-align:center" colspan="12">
                <div class="pagination" ng-show="itemsTransactionDetailByDate.length > itemsPerPage">
                  <ul>
                    <li>
                        <a>{{firstItem}} - {{lastItem}} of {{itemsTransactionDetailByDate.length}}</a>
                    </li>
                    <li ng-class="startPageDisabled()">
                      <a href ng-click="startPage()">«« Start</a>
                    </li>
                    <li ng-class="prevPageDisabled()">
                      <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range()"
                      ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                      <a href="">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()">
                      <a href ng-click="nextPage()">Next »</a>
                    </li>
                    <li ng-class="endPageDisabled()">
                      <a href ng-click="endPage()">End »»</a>
                    </li>
                    <li>
                        <a>
                        <form>
                            <select data-ng-model="pageSelected" ng-change="goToPage()">
                                <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                            </select>
                        </form>
                        </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="itemsTransactionDetailByDate.length > 0">

            <!-- Export button -->
            <a download="transaction_detail_by_date_report.xls" href="" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="transaction_detail_by_date_report.csv" href="" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="transaction_detail_by_date_report.tsv" href="" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->

            <a href="" ng-show="isAdmin">
                <button class="btn btn-primary" ng-click="openFeeModal()" type="submit">
                    <span class="icon-cog-white" aria-hidden="true"></span>
                    Add Line Item
                </button>
            </a>

            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Transaction Detail By Date</h1>
                  <table class="table table-striped" id="datatable">
                    <thead>
                      <tr ng-show="itemsTransactionDetailByDate.length>0">
                        <th ng-show="isAdmin">Account ID</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th>Postdate</th>
                        <th>Description</th>
                        <th>Transaction ID</th>
                        <th style="text-align:right">Amount</th>
                        <th ng-show="false">Confirmation Number</th>
                        <th>Name</th>
                        <th>Currency</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemsTransactionDetailByDate" style="height:30px;">

                            <td ng-show="isAdmin">
                                {{item.merchant_id}}
                            </td>

                            <td ng-show="isAdmin">
                                {{item.merchant_name}}
                            </td>

                            <td>
                                {{item.time | dateForHuman}}
                            </td>

                            <td>
                                {{item.description}}
                            </td>

                            <td>
                                {{item.transaction_id}}
                            </td>

                            <td style="text-align:right">
                                {{item.amount}}
                            </td>

                            <td ng-show="false">
                                {{item.tracking_number}}
                            </td>

                            <td>
                                {{item.last_name}} {{item.first_name}}
                            </td>

                            <td>
                                {{item.currency}}
                            </td>

                        </tr>
                    </tbody>
                  </table>
                </table>
            </div>      
        </div>        
    </div>
</section>
