<section data-ng-controller="TransactionsController" data-ng-init="">
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="closeMe()" novalidate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                            <h3 class="Header">Transaction Information</h3>
                    </div>
                    
                    <div class="col-md-5">
                         <div id="transactionIdContainer" class="form-group">
                            <label class="control-label" for="transactionId">Transaction ID</label>
                            <div class="controls">
                                <input type="text" data-ng-model="transactionId" id="transactionId" class="form-control" placeholder="transactionId" disabled>
                            </div>
                        </div>
                        <div id="responseCodeContainer" class="form-group">
                            <label class="control-label" for="responseCode">Response Code</label>
                            <div class="controls">
                                <input type="text" data-ng-model="responseCode" id="responseCode" class="form-control" placeholder="responseCode" disabled>
                            </div>
                        </div>
                        <div id="authorizationCodeContainer" class="form-group">
                            <label class="control-label" for="authorizationCode">Authorization Code</label>
                            <div class="controls">
                                <input type="text" data-ng-model="authorizationCode" id="authorizationCode" class="form-control" placeholder="authorizationCode" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5">
                        <div id="responseContainer" class="form-group">
                            <label class="control-label" for="response">Response</label>
                            <div class="controls">
                                <input type="text" data-ng-model="response" id="response" class="form-control" placeholder="response" disabled>
                            </div>
                        </div>
                        <div id="cvvResponseContainer" class="form-group">
                            <label class="control-label" for="cvvResponse">CVV Response</label>
                            <div class="controls">
                                <input type="text" data-ng-model="cvvResponse" id="cvvResponse" class="form-control" placeholder="cvvResponse" disabled>
                            </div>
                        </div>
                        <div id="avsResponseContainer" class="form-group">
                            <label class="control-label" for="avsResponse">AVS Response</label>
                            <div class="controls">
                                <input type="text" data-ng-model="avsResponse" id="avsResponse" class="form-control" placeholder="avsResponse" disabled>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" value="Ok">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
        </div>
            </fieldset>
        </form>
    </div>
</section>