<section  data-ng-controller="SaleController" data-ng-init="config();setTitle('Transaction Report');setView('Transaction Report');">
    <div class="container1 col-md-12">
        <form class="form-horizontal" data-ng-submit="reportTransaction()" novalidate name="searchform">
            <fieldset>

                <div class="col-md-12">

                    <div class="form-group">
                        <h3>Search Transactions</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="transactionId">Transaction ID</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="transactionId" id="transactionId" class="form-control" placeholder="Transaction ID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="actionType">Action Type</label>
                                <div class="controls">
                                    <select data-ng-model="actionType" name="actionType" id="actionType" class="form-control">
                                        <option value="" selected="selected" title="Any">Any</option>
                                        <option value="sale" title="Sale">Sale</option>
                                        <option value="refund" title="Refund">Refund</option>
                                        <option value="credit" title="Credit">Credit</option>
                                        <option value="auth" title="Authorize">Authorize</option>
                                        <option value="capture" title="Capture">Capture</option>
                                        <option value="void" title="Void">Void</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="orderId">Order ID</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="orderId" id="orderId" class="form-control" placeholder="Order ID" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="condition">Status</label>
                                <div class="controls">
                                    <select data-ng-model="condition" name="condition" id="condition" class="form-control">
                                        <option value="" selected="selected" title="Any">Any</option>
                                        <option value="pending" title="pending">Pending</option>
                                        <option value="pendingsettlement" title="pendingsettlement">Pending Settlement</option>
                                        <option value="settle" title="Settlement">Settlement</option>
                                        <option value="failed" title="failed">Failed</option>
                                        <option value="canceled" title="canceled">Canceled</option>
                                        <option value="complete" title="complete">Complete</option>
                                        <option value="unknown" title="unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="firstName">Customer First Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="Customer First Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="lastName">Customer Last Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="Customer Last Name" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="customerVaultId">Customer Vault ID</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="customerVaultId" id="customerVaultId" class="form-control" placeholder="Customer Vault ID" />
                                </div>
                            </div>
                        </div>

                        <!-- last 4 of CC -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="last4ofCC">Last 4 of CC</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="last4ofCC" name="last4ofCC" ng-pattern="/^[0-9]{4}$/" ng-minlength="4" ng-maxlength="4" class="form-control" placeholder="Last 4 of CC" />
                                    <p ng-show="searchform.last4ofCC.$error.pattern" style="color:red;">Field requires 4 digits only</p>
                                </div>
                            </div>
                        </div>

                        <!-- amount range -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="amountFrom">Amount From</label>
                                <div class="controls">
                                    <input type="number" ng-model="amountFrom" name="amountFrom" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" placeholder="Amount From" />
                                    <p ng-show="searchform.amountFrom.$error.pattern" style="color:red;">A valid amount is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="amountTo">Amount To</label>
                                <div class="controls">
                                    <input type="number" ng-model="amountTo" name="amountTo" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" placeholder="Amount To" />
                                    <p ng-show="searchform.amountTo.$error.pattern" style="color:red;">A valid amount is required</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="isAdmin" class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="merchantIdent">Merchant Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="merchantIdent" id="merchantIdent" class="form-control" placeholder="Merchant ID" />
                                </div>
                            </div>
                        </div>
                        <!--Merchant Name Drop-down-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Merchant Name</label>
                                <div class="dropdown dropdown-scroll">
                                    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span style="float: left;">{{merchantId.name}}</span><span style="float:right;" class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <div class="input-group input-group-sm search-control">
												<span class="input-group-addon">
													<span class="icon-search-black"></span>
												</span>
                                                <input type="text" class="form-control" placeholder="Query" ng-model="query" />
                                            </div>
                                        </li>
                                        <li id="Merchant_ID" role="presentation"
                                            ng-click="setMerchantId(c)"
                                            ng-repeat='c in sampleProductCategories|filter:query'> <a href=""> {{c.name}} </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Austin - new dropdown for more than one product, simpler, more responsive with clicking in and out -->
                        <div ng-show=" merchantId.products.length > 2" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <select
                                        ng-model="Product_NameMAR"
                                        ng-options="p.name for p in merchantId.products"
                                        ng-change="Product_NameChangeMAR()"
                                        class="form-control product-dropdown">
                                </select>
                            </div>
                        </div>

                        <!-- Austin - new div only shows when the Merchant just has one product -->
                        <div ng-show="merchantId.products.length == 2" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <div class="form-control">
                                    {{ merchantId.products[1].name }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="!isAdmin" class="row">
                        <!-- multiple products -->
                        <div ng-show="sampleProductCategories[0].products.length > 2" class="col-md-4">
                            <div class="form-group">
                                <div style="margin-bottom: 8px;">
                                    <label class="control-label">Product Name</label>
                                    <select
                                            ng-model="Product_NameSearchTransactions"
                                            ng-options="c.name for c in sampleProductCategories[0].products"
                                            ng-change="Product_NameChangeSearchTransactions()"
                                            class="form-control product-dropdown">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- multiple products -->
                        <div ng-show="sampleProductCategories[0].products.length == 2" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <div class="form-control">
                                    {{ sampleProductCategories[0].products[1].name }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 container1">
                            <div style="margin-top:1em;text-align:center;" class="row">
                                <button type="button" ng-click="lastYear()" class="btn btn-primary">This Year</button>
                                <button type="button" ng-click="config()" class="btn btn-primary">This Month</button>
                                <button type="button" ng-click="lastMonth()" class="btn btn-primary">Last Month</button>
                                <button type="button" ng-click="thisWeek()" class="btn btn-primary">This Week</button>
                                <button type="button" ng-click="today()" class="btn btn-primary">Today</button>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="startDate">Start Date</label>
                                    <div class="controls">
                                        <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date" ng-change="checkDateRange()" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="endDate">End Date</label>
                                    <div class="controls">
                                        <input type="date" data-ng-model="endDate" id="endDate" class="form-control" placeholder="End Date" ng-change="checkDateRange()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                        <input type="submit" class="btn btn-primary btn-lg" value="Search">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>

            </fieldset>
        </form>

        <!--beginning of report-->

        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>

        <div ng-hide="reportProcesed">
            <!--<div ng-show="productId.productName=='all'">-->
            <div ng-show="productName == 'all'">
                Processing All processor(s)
            </div>
            <!--<div ng-hide="productId.productName=='all'">-->
            <div ng-hide="productName == 'all'">
                Processing {{reportProcessorCounter}} of {{reportProcessorTotal}} processor(s), Now processing: {{reportProcessorName}}
                <br />
                {{reportProcessorMessage}}
            </div>
        </div>

        <br /><br />

        <!--<div class="col-md-12 table-responsive" ng-show="reportProcesed && showReport" id="report-body">
          <table class="table table-striped" ng-show="items.length > 0">-->
        <div class="col-md-12 table-responsive" ng-show="showSeachTransactionsReport" id="report-body">
            <table class="table table-striped">
                <thead>
                <tr ng-show="items.length>1">
                    <th><a href="" ng-click="setCriteria('orderTime')">Date</a></th>
                    <th ng-show="isAdmin"><a href="" ng-click="setCriteria('orderMerchantName')">Merchant Name</a></th>
                    <th ng-show="isAdmin"><a href="" ng-click="setCriteria('orderMerchantId')">Merchant ID</a></th>
                    <th><a href="" ng-click="setCriteria('productDescription')">Product</a></th>
                    <th><a href="" ng-click="setCriteria('orderType')">Type</a></th>
                    <th><a href="" ng-click="setCriteria('orderStatus')">Status</a></th>
                    <th><a href="" ng-click="setCriteria('orderTransactionId')">Transaction ID</a></th>
                    <th><a href="" ng-click="setCriteria('orderCustomer')">Customer</a></th>
                    <th><a href="" ng-click="setCriteria('orderCCNumber')">Credit Card</a></th>
                    <th style="text-align:right"><a href="" ng-click="setCriteria('orderAmount')">Amount</a></th>
                </tr>
                <tr ng-hide="items.length>1">
                    <th>Date</th>
                    <th ng-show="isAdmin">Merchant Name</th>
                    <th ng-show="isAdmin">Merchant ID</th>
                    <th>Product</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Transaction ID</th>
                    <th>Customer</th>
                    <th>Credit Card</th>
                    <th style="text-align:right">Amount</th>
                </tr>
                </thead>
                <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                <tr ng-repeat="item in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;">

                    <!-- Date -->
                    <td ng-if="item.action.length>0">
                        <div ng-repeat="action in item.action" >
                            {{action.date.$t | dateForHuman}}
                        </div>
                    </td>
                    <td ng-hide="item.action.length>0">
                        {{item.action.date.$t | dateForHuman}}
                    </td>

                    <!-- Merchant Name -->
                    <td ng-show="isAdmin">
                        {{item.merchant_name.$t}}
                    </td>

                    <!-- Merchant ID -->
                    <td ng-show="isAdmin">
                        {{item.merchant_id.$t}}
                    </td>

                    <!-- Product -->
                    <td>
                        {{item.productDescription}}
                    </td>

                    <!-- Type -->
                    <td ng-if="item.action.length>0">
                        <span ng-repeat="action in item.action">
                            {{action.action_type.$t | capitalize}}<br />
                        </span>
                    </td>
                    <td ng-hide="item.action.length>0">
                        {{item.action.action_type.$t | capitalize}}<br />
                    </td>

                    <!-- Status -->
                    <td>
                        {{item.orderStatus}}
                    </td>

                    <!-- ID -->
                    <!--                    <td ng-hide="productId.productName=='all'"><a href="#!/tdetails/{{item.transaction_id.$t}}/{{item.Product_ID}}/{{item.Boarding_ID}}">{{item.transaction_id.$t}}</a></td>
                                        <td ng-show="productId.productName=='all'"><a href="#!/tdetails/{{item.transaction_id.$t}}/{{item.Product_ID}}/{{item.Boarding_ID}}">{{item.transaction_id.$t}}</a></td> -->
                    <td><a href="#!/tdetails/{{item.transaction_id.$t}}/{{item.Product_ID}}/{{item.Boarding_ID}}">{{item.transaction_id.$t}}</a></td>

                    <!-- Customer -->
                    <td>{{item.first_name.$t}} {{item.last_name.$t}}</td>

                    <!-- Detail / CreditCard -->
                    <td>{{item.cc_number.$t}}</td>

                    <!-- Amount -->
                    <td ng-if="item.action.length>0" style="text-align:right">
                        <div ng-repeat="action in item.action">
                            ${{action.amount.$t}}
                        </div>
                    </td>
                    <td ng-hide="item.action.length>0" style="text-align:right">
                        ${{item.action.amount.$t}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <td style="text-align:center" colspan="12">
                    <div class="pagination" ng-show="items.length > itemsPerPage">
                        <ul>
                            <li>
                                <a>{{firstItem}} - {{lastItem}} of {{items.length}}</a>
                            </li>
                            <li ng-class="startPageDisabled()">
                                <a href ng-click="startPage()">«« Start</a>
                            </li>
                            <li ng-class="prevPageDisabled()">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range()"
                                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                <a href="#">{{n+1}}</a>
                            </li>
                            <li ng-class="nextPageDisabled()">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                            <li ng-class="endPageDisabled()">
                                <a href ng-click="endPage()">End »»</a>
                            </li>
                            <li>
                                <a>
                                    <form>
                                        <select data-ng-model="pageSelected" ng-change="goToPage()">
                                            <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                                        </select>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="showSeachTransactionsReport" id="export-buttons">

            <!-- Export button -->
            <a download="transaction_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <a download="transaction_report.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <!-- Removed "Export to TSV" from all reports 2015-13-16 MC-607 PJF
            <a download="transaction_report.tsv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a>
            -->

            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Transaction Report</h1>
                <table class="table table-striped" id="datatable">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th ng-if="isAdmin">Merchant Name</th>
                        <th ng-if="isAdmin">Merchant ID</th>
                        <th>Product</th>
                        <th>Transaction ID</th>
                        <th>Reference Transaction ID</th>
                        <th>Transaction Type</th>
                        <th>Card Type</th>
                        <th>Credit Card Number</th>
                        <th>Expiration Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>AVS Status</th>
                        <th>CVV Status</th>
                        <th>Authorization Code</th>
                        <th>Billing First Name</th>
                        <th>Billing Last Name</th>
                        <th>Billing Company</th>
                        <th>Billing Address 1</th>
                        <th>Billing Address 2</th>
                        <th>Billing City</th>
                        <th>Billing State</th>
                        <th>Billing Zip Code</th>
                        <th>Billing Country</th>
                        <th>Billing Phone Number</th>
                        <th>Billing Fax Number</th>
                        <th>Billing E-mail</th>
                        <th>Shipping First Name</th>
                        <th>Shipping Last Name</th>
                        <th>Shipping Company</th>
                        <th>Shipping Address 1</th>
                        <th>Shipping Address 2</th>
                        <th>Shipping City</th>
                        <th>Shipping State</th>
                        <th>Shipping Zip Code</th>
                        <th>Shipping Country</th>
                        <th>Shipping Phone Number</th>
                        <th>Shipping Email</th>
                        <th>Order ID</th>
                        <th>Order Description</th>
                        <th>P.O. Number</th>
                        <th>Customer Vault ID</th>
                        <th>Shipping Amount</th>
                        <th>Tax Amount</th>
                        <th ng-if="MDF1_label">{{MDF1_label}}</th>
                        <th ng-if="MDF2_label">{{MDF2_label}}</th>
                        <th ng-if="MDF3_label">{{MDF3_label}}</th>
                        <th ng-if="MDF4_label">{{MDF4_label}}</th>
                        <th ng-if="MDF5_label">{{MDF5_label}}</th>
                        <th ng-if="MDF6_label">{{MDF6_label}}</th>
                        <th ng-if="MDF7_label">{{MDF7_label}}</th>
                        <th ng-if="MDF8_label">{{MDF8_label}}</th>
                        <th ng-if="MDF9_label">{{MDF9_label}}</th>
                        <th ng-if="MDF10_label">{{MDF10_label}}</th>
                        <th ng-if="MDF11_label">{{MDF11_label}}</th>
                        <th ng-if="MDF12_label">{{MDF12_label}}</th>
                        <th ng-if="MDF13_label">{{MDF13_label}}</th>
                        <th ng-if="MDF14_label">{{MDF14_label}}</th>
                        <th ng-if="MDF15_label">{{MDF15_label}}</th>
                        <th ng-if="MDF16_label">{{MDF16_label}}</th>
                        <th ng-if="MDF17_label">{{MDF17_label}}</th>
                        <th ng-if="MDF18_label">{{MDF18_label}}</th>
                        <th ng-if="MDF19_label">{{MDF19_label}}</th>
                        <th ng-if="MDF20_label">{{MDF20_label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items" style="height:30px;">

                        <!-- Time -->
                        <td>{{item.orderTime | dateForHuman}}</td>

                        <!-- Merchant Name -->
                        <td ng-if="isAdmin">{{item.merchant_name.$t}}</td>

                        <!-- Merchant ID -->
                        <td ng-if="isAdmin">{{item.merchant_id.$t}}</td>

                        <!-- Product -->
                        <td>{{item.productDescription}}</td>

                        <!-- ID -->
                        <td>{{item.transaction_id.$t}}</td>

                        <!-- Reference Transaction ID -->
                        <td>{{item.original_transaction_id.$t}}</td>

                        <!-- Type -->
                        <td>{{item.orderType | capitalize}}<br /></td>

                        <!-- Card Type -->
                        <td>{{ item.cc_bin.$t | ccardType : item.cc_number.$t.length }}</td>

                        <!-- Detail / CreditCard -->
                        <td>{{item.cc_number.$t}}</td>

                        <td>{{item.cc_exp.$t}}</td>

                        <!-- Total Amount -->
                        <td>{{item.orderAmount}}</td>

                        <!-- Status -->
                        <td>{{item.orderStatus}}</td>

                        <!-- AVS Status -->
                        <td>{{item.avs_response.$t}}</td>

                        <!-- CVV Status -->
                        <td>{{item.csc_response.$t}}</td>

                        <!-- Authorization Code -->
                        <td>{{item.authorization_code.$t}}</td>

                        <!-- Billing First Name -->
                        <td>{{item.first_name.$t}}</td>

                        <!-- Billing Last Name -->
                        <td>{{item.last_name.$t}}</td>

                        <!-- Billing Company -->
                        <td>{{item.company.$t}}</td>

                        <!-- Billing Address 1 -->
                        <td>{{item.address_1.$t}}</td>

                        <!-- Billing Address 2 -->
                        <td>{{item.address_2.$t}}</td>

                        <!-- Billing City -->
                        <td>{{item.city.$t}}</td>

                        <!-- Billing State -->
                        <td>{{item.state.$t}}</td>

                        <!-- Billing Zip Code -->
                        <td>{{item.postal_code.$t}}</td>

                        <!-- Billing Country -->
                        <td>{{item.country.$t}}</td>

                        <!-- Billing Phone Number -->
                        <td>{{item.phone.$t}}</td>

                        <!-- Billing Fax Number -->
                        <td>{{item.fax.$t}}</td>

                        <!-- Billing Email -->
                        <td>{{item.email.$t}}</td>

                        <!-- Shipping First Name -->
                        <td>{{item.shipping_first_name.$t}}</td>

                        <!-- Shipping Last Name -->
                        <td>{{item.shipping_last_name.$t}}</td>

                        <!-- Shipping Company -->
                        <td>{{item.shipping_company.$t}}</td>

                        <!-- Shipping Address 1 -->
                        <td>{{item.shipping_address_1.$t}}</td>

                        <!-- Shipping Address 2 -->
                        <td>{{item.shipping_address_2.$t}}</td>

                        <!-- Shipping City -->
                        <td>{{item.shipping_city.$t}}</td>

                        <!-- Shipping State -->
                        <td>{{item.shipping_state.$t}}</td>

                        <!-- Shipping Postal Code -->
                        <td>{{item.shipping_postal_code.$t}}</td>

                        <!-- Shipping Country -->
                        <td>{{item.shipping_country.$t}}</td>

                        <!-- Shipping Phone -->
                        <td>{{item.shipping_phone.$t}}</td>

                        <!-- Shipping Email -->
                        <td>{{item.shipping_email.$t}}</td>

                        <!-- Order ID -->
                        <td>{{item.order_id.$t}}</td>

                        <!-- Order Description -->
                        <td>{{item.order_description.$t}}</td>

                        <!-- PO Number -->
                        <td>{{item.ponumber.$t}}</td>

                        <!-- Customer Vault ID -->
                        <td>{{item.customerid.$t}}</td>

                        <!-- Shipping Amoount-->
                        <td>{{item.shipping}}</td>

                        <!-- Tax -->
                        <td >{{item.tax}}</td>
                        
                        <!-- MDFs -->
                        <td ng-if="item.MDF1">{{item.MDF1}}</td>
                        <td ng-if="item.MDF2">{{item.MDF2}}</td>
                        <td ng-if="item.MDF3">{{item.MDF3}}</td>
                        <td ng-if="item.MDF4">{{item.MDF4}}</td>
                        <td ng-if="item.MDF5">{{item.MDF5}}</td>
                        <td ng-if="item.MDF6">{{item.MDF6}}</td>
                        <td ng-if="item.MDF7">{{item.MDF7}}</td>
                        <td ng-if="item.MDF8">{{item.MDF8}}</td>
                        <td ng-if="item.MDF9">{{item.MDF9}}</td>
                        <td ng-if="item.MDF10">{{item.MDF10}}</td>
                        <td ng-if="item.MDF11">{{item.MDF11}}</td>
                        <td ng-if="item.MDF12">{{item.MDF12}}</td>
                        <td ng-if="item.MDF13">{{item.MDF13}}</td>
                        <td ng-if="item.MDF14">{{item.MDF14}}</td>
                        <td ng-if="item.MDF15">{{item.MDF15}}</td>
                        <td ng-if="item.MDF16">{{item.MDF16}}</td>
                        <td ng-if="item.MDF17">{{item.MDF17}}</td>
                        <td ng-if="item.MDF18">{{item.MDF18}}</td>
                        <td ng-if="item.MDF19">{{item.MDF19}}</td>
                        <td ng-if="item.MDF20">{{item.MDF20}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>