<section data-ng-controller="SaleController" data-ng-init="detailsTSnapshot();setTitle('Transaction Details');">
    <div class="container1 col-md-12">
        <div class="col-md-12">
            <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
        </div>
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>

        <div class="col-md-12 table-responsive" ng-show="showSeachTransactionsReport" id="report-body">

            <table class="table table-striped">              
                <thead>
                    <tr ng-show="items.length>1">
                        <th><a href="" ng-click="setCriteria('orderTime')">Date</a></th>
                        <th ng-show="isAdmin"><a href="" ng-click="setCriteria('orderMerchantName')">Merchant Name</a></th>
                        <th ng-show="isAdmin"><a href="" ng-click="setCriteria('orderMerchantId')">Merchant ID</a></th>
                        <th><a href="" ng-click="setCriteria('productDescription')">Product</a></th>
                        <th><a href="" ng-click="setCriteria('orderType')">Type</a></th>
                        <th><a href="" ng-click="setCriteria('orderStatus')">Status</a></th>
                        <th><a href="" ng-click="setCriteria('orderTransactionId')">Transaction ID</a></th>
                        <th><a href="" ng-click="setCriteria('orderCustomer')">Customer</a></th>
                        <th><a href="" ng-click="setCriteria('orderCCNumber')">Credit Card</a></th>
                        <th style="text-align:right"><a href="" ng-click="setCriteria('orderAmount')">Amount</a></th>
                    </tr>
                    <tr ng-hide="items.length>1">
                        <th>Date</th>
                        <th ng-show="isAdmin">Merchant Name</th>
                        <th ng-show="isAdmin">Merchant ID</th>
                        <th>Product</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                        <th>Customer</th>
                        <th>Credit Card</th>
                        <th style="text-align:right">Amount</th>
                    </tr>
                </thead>
                <tbody><!--  | orderObjectBy : criteria : direction : items : currentPage -->
                    <tr ng-repeat="item in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;">
                
                        <!-- Date -->
                        <td ng-show="item.action.length>0">
                            <div ng-repeat="action in item.action" >
                                {{action.date.$t | dateForHuman}}
                            </div>
                        </td>
                        <td ng-hide="item.action.length>0">
                            {{item.action.date.$t | dateForHuman}}
                        </td>
                
                        <!-- Merchant Name -->
                        <td ng-show="isAdmin">
                            {{item.merchant_name.$t}}
                        </td>
                
                        <!-- Merchant ID -->
                        <td ng-show="isAdmin">
                            {{item.merchant_id.$t}}
                        </td>
                
                        <!-- Product -->
                        <td>
                            {{item.productDescription}}
                        </td>
                
                        <!-- Type -->
                        <td ng-show="item.action.length>0">
                            <span ng-repeat="action in item.action">
                                {{action.action_type.$t | capitalize}}<br />
                            </span>
                        </td>
                        <td ng-hide="item.action.length>0">
                            {{item.action.action_type.$t | capitalize}}<br />
                        </td>
                
                        <!-- Status -->
                        <td>
                            {{item.orderStatus}}
                        </td>
                
                        <!-- ID -->
                        <td>
                            <a href="#!/tdetails/{{item.transaction_id.$t}}/{{item.Product_ID}}/{{item.boarding_id.$t}}">{{item.transaction_id.$t}}</a>
                        </td>
                
                        <!-- Customer -->
                        <td>
                            {{item.first_name.$t}} {{item.last_name.$t}}
                        </td>
                
                        <!-- Detail / CreditCard -->
                        <td>
                            {{item.cc_number.$t}}
                        </td>
                        
                        <!-- Amount -->
                        <td ng-show="item.action.length>0" style="text-align:right">
                            <div ng-repeat="action in item.action">
                                ${{action.amount.$t}}
                            </div>
                        </td>
                        <td ng-hide="item.action.length>0" style="text-align:right">
                            ${{item.action.amount.$t}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td style="text-align:center" colspan="12">
                            <div class="pagination" ng-show="items.length > itemsPerPage">
                                <ul>
                                    <li>
                                        <a>{{firstItem}} - {{lastItem}} of {{items.length}}</a>
                                    </li>
                                    <li ng-class="startPageDisabled()">
                                        <a href ng-click="startPage()">«« Start</a>
                                    </li>
                                    <li ng-class="prevPageDisabled()">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range()"
                                        ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                        <a href="#">{{n+1}}</a>
                                    </li>
                                    <li ng-class="nextPageDisabled()">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>
                                    <li ng-class="endPageDisabled()">
                                        <a href ng-click="endPage()">End »»</a>
                                    </li>
                                    <li>
                                        <a>
                                        <form>
                                            <select data-ng-model="pageSelected" ng-change="goToPage()">
                                                <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                                            </select>
                                        </form>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
