<section  data-ng-controller="SaleController" data-ng-init="config();setTitle('Transaction Snapshot');setView('Transaction Snapshot');">
    <div class="container1 col-md-12">
        <form class="form-horizontal" data-ng-submit="transactionSnapshotWrap()" novalidate name="searchform">
            <fieldset>
                
                <div class="col-md-12">
                    
                    <div class="form-group">
                       <h3>Search Transactions</h3>
                    </div>
                   <!-- MC-718 - appended all start date and end date variable names with "tsnap" - 2016-01-19 - pjf -->
                    <div class="row" container1>
                        <div class="col-md-12">
                            <label class="control-label">Start Date</label>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapStartMonth" id="tsnapStartMonth" name="tsnapStartMonth" class="form-control"
                                    ng-options="month for month in tsnapMonths" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input data-ng-model="tsnapStartDay" id="tsnapStartDay" name="tsnapStartDay" class="form-control" ng-change="tsnapCheckDateRange()">
                            </div>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapStartYear" id="tsnapStartYear" name="tsnapStartYear" class="form-control"
                                    ng-options="year for year in tsnapYears" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapStartHour" id="tsnapStartHour" class="form-control"
                                  ng-options="hour for hour in tsnapHours" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapStartMinute" id="tsnapStartMinute" class="form-control"
                                   ng-options="minute for minute in tsnapMinutes" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <label class="control-label">End Date</label>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapEndMonth" id="tsnapEndMonth" name="tsnapEndMonth" class="form-control"
                                    ng-options="month for month in tsnapMonths" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input data-ng-model="tsnapEndDay" id="tsnapEndDay" name="tsnapEndDay" class="form-control" ng-change="tsnapCheckDateRange()">
                            </div>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapEndYear" id="tsnapEndYear" name="tsnapEndYear" class="form-control"
                                    ng-options="year for year in tsnapYears" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapEndHour" id="tsnapEndHour" name="tsnapEndHour" class="form-control"
                                  ng-options="hour for hour in tsnapHours" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select data-ng-model="tsnapEndMinute" id="tsnapEndMinute" name="tsnapEndMinute" class="form-control"
                                   ng-options="minute for minute in tsnapMinutes" ng-change="tsnapCheckDateRange()">
                                </select>
                            </div>
                        </div>
                        <!-- Austin - new dropdown for more than one product, simpler, more responsive with clicking in and out -->
                        <div ng-show=" merchantId.products.length != 2" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <select
                                        ng-model="Product_NameMAR"
                                        ng-options="p.name for p in merchantId.products"
                                        ng-change="Product_NameChangeMAR()"
                                        class="form-control product-dropdown">
                                </select>
                            </div>
                        </div>

                        <!-- Austin - new div only shows when the Merchant just has one product -->
                        <div ng-show="merchantId.products.length == 2" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <div class="form-control">
                                    {{ merchantId.products[1].name }}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                </div>

                <div class="col-md-12">
                        <div class="form-group">
                            <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                            <input type="submit" class="btn btn-primary btn-lg" value="Search">
                        </div>
        				<div data-ng-show="error" class="text-danger">
        					<strong data-ng-bind="error"></strong>
        				</div>
                </div>
                
            </fieldset>
        </form>
        
        <!--beginning of report-->
        
        <div ng-show="noResults" class="col-md-12">
            <h2>No Results</h2>
        </div>

        <div ng-hide="reportProcesed">
            <div>
	            {{reportProcessorMessage}}
            </div>
        </div>
        
        <br /><br />
              
        <div class="col-md-12 table-responsive" ng-show="transSnapshotShow" id="report-body">
          <table class="table table-striped">              
            <thead>
              <tr>
                <th style="text-align:center;">&nbsp;</th>
                <th style="text-align:center;" colspan="2">Authorizations</th>
                <th style="text-align:center;" colspan="2">Sale</th>
                <th style="text-align:center;" colspan="2">Refunds</th>
                <th style="text-align:center;" colspan="2">Returns</th>
                <th style="text-align:center;" colspan="2">Voids</th>
                <th style="text-align:center;" colspan="3">Declines</th>
                <th style="text-align:center;" colspan="2">Totals</th>
              </tr>
              <tr>
                <th style="text-align:left;">Merchant DBA</th>
                <th style="text-align:right;">Count</th>
                <th style="text-align:right;">Amount</th>
                <th style="text-align:right;">Count</th>
                <th style="text-align:right;">Amount</th>
                <th style="text-align:right;">Count</th>
                <th style="text-align:right;">Amount</th>
                <th style="text-align:right;">Count</th>
                <th style="text-align:right;">Amount</th>
                <th style="text-align:right;">Count</th>
                <th style="text-align:right;">Amount</th>
                <th style="text-align:right;">Count</th>
                <th style="text-align:right;">Amount</th>
                <th style="text-align:right;">Percent</th>
                <th style="text-align:right;">Count</th>
                <th style="text-align:right;">Amount</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemsTransSnapshot | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="height:30px;text-align:right;">

					<!-- Merchant Name -->
                    <td style="text-align:left;">
						{{item.merchant_name}}
					</td>
                    
                    <!-- Authorizations Count -->
                    <td>
                        <!-- MC-719 - added _blank to open in new window - 2016-01-19 - pjf -->
					    <a href='#!/tsnapdetails/authorizations/{{item.boarding_id}}/{{tsnapStartDate}}/{{tsnapEndDate}}' target="_blank">{{item.authorizations_count}}</a>
                    </td>
					
                    <!-- Authorizations Amount -->
                    <td ng-class="{'redbalance':item.authorizations_amount < 0}">
					    {{item.authorizations_amount | currency}}
                    </td>
					
                    <!-- Sale Count -->
                    <td>
                        <!-- MC-719 - added _blank to open in new window - 2016-01-19 - pjf -->
					    <a href='#!/tsnapdetails/sales/{{item.boarding_id}}/{{tsnapStartDate}}/{{tsnapEndDate}}' target="_blank">{{item.sale_count}}</a>
                    </td>
					
                    <!-- Sale Amount -->
                    <td ng-class="{'redbalance':item.sale_amount < 0}">
					    {{item.sale_amount | displaynullcurrency}}
                    </td>
					
                    <!-- Refunds Count -->
                    <td>
                        <!-- MC-719 - added _blank to open in new window - 2016-01-19 - pjf -->
					    <a href='#!/tsnapdetails/refunds/{{item.boarding_id}}/{{tsnapStartDate}}/{{tsnapEndDate}}' target="_blank">{{item.refunds_count}}</a>
                    </td>
					
                    <!-- Refunds Amount -->
                    <td ng-class="{'redbalance':item.refunds_amount < 0}">
					    {{item.refunds_amount | currency}}
                    </td>
					
                    <!-- Returns Count -->
                    <td>
                        <!-- MC-719 - added _blank to open in new window - 2016-01-19 - pjf -->
					    <a href='#!/tsnapdetails/returns/{{item.boarding_id}}/{{tsnapStartDate}}/{{tsnapEndDate}}' target="_blank">{{item.returns_count}}</a>
                    </td>
					
                    <!-- Returns Amount -->
                    <td ng-class="{'redbalance':item.returns_amount < 0}">
					    {{item.returns_amount | currency}}
                    </td>
					
                    <!-- Voids Count -->
                    <td>
                        <!-- MC-719 - added _blank to open in new window - 2016-01-19 - pjf -->
					    <a href='#!/tsnapdetails/voids/{{item.boarding_id}}/{{tsnapStartDate}}/{{tsnapEndDate}}' target="_blank">{{item.voids_count}}</a>
                    </td>
					
                    <!-- Voids Amount -->
                    <td ng-class="{'redbalance':item.voids_amount < 0}">
					    {{item.voids_amount | currency}}
                    </td>
					
                    <!-- Declines Count -->
                    <td>
                        <!-- MC-719 - added _blank to open in new window - 2016-01-19 - pjf -->
					    <a href='#!/tsnapdetails/declines/{{item.boarding_id}}/{{tsnapStartDate}}/{{tsnapEndDate}}' target="_blank">{{item.declines_count}}</a>
                    </td>
					
                    <!-- Declines Amount -->
                    <td ng-class="{'redbalance':item.declines_amount < 0}">
					    {{item.declines_amount | currency}}
                    </td>
					
                     <!-- Declines Percent -->
                    <td>
					    {{(item.declines_count / (item.totals_count)) * 100 | number : 1}}%
                    </td>
					
                    <!-- Totals Count -->
                    <td>
					    {{item.totals_count}}
                    </td>
					
                    <!-- Totals Amount -->
                    <td ng-class="{'redbalance':item.totals_amount < 0}">
					    {{item.totals_amount | currency}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                
                <tr style="height:30px;text-align:right; border-top:double thin">
					<!-- Merchant Name -->
                    <th style="text-align:left;">
						{{totalsTransSnapshot.merchant_name}}
					</th>
                    
                    <!-- Authorizations Count -->
                    <th style="text-align:right;">
					    {{totalsTransSnapshot.authorizations_count}}
                    </th>
					
                    <!-- Authorizations Amount -->
                    <th style="text-align:right;" ng-class="{'redbalance':totalsTransSnapshot.authorizations_amount < 0}">
					    {{totalsTransSnapshot.authorizations_amount | currency}}
                    </th>
					
                    <!-- Sale Count -->
                    <th style="text-align:right;">
					    {{totalsTransSnapshot.sale_count}}
                    </th>
					
                    <!-- Sale Amount -->
                    <th style="text-align:right;" ng-class="{'redbalance':totalsTransSnapshot.sale_amount < 0}">
					    {{totalsTransSnapshot.sale_amount | currency}}
                    </th>
					
                    <!-- Refunds Count -->
                    <th style="text-align:right;">
					    {{totalsTransSnapshot.refunds_count}}
                    </th>
					
                    <!-- Refunds Amount -->
                    <th style="text-align:right;" ng-class="{'redbalance':totalsTransSnapshot.refunds_amount < 0}">
					    {{totalsTransSnapshot.refunds_amount | currency}}
                    </th>
					
                    <!-- Returns Count -->
                    <th style="text-align:right;">
					    {{totalsTransSnapshot.returns_count}}
                    </th>
					
                    <!-- Returns Amount -->
                    <th style="text-align:right;" ng-class="{'redbalance':totalsTransSnapshot.returns_amount < 0}">
					    {{totalsTransSnapshot.returns_amount | currency}}
                    </th>
					
                    <!-- Voids Count -->
                    <th style="text-align:right;">
					    {{totalsTransSnapshot.voids_count}}
                    </th>
					
                    <!-- Voids Amount -->
                    <th style="text-align:right;" ng-class="{'redbalance':totalsTransSnapshot.voids_amount < 0}">
					    {{totalsTransSnapshot.voids_amount | currency}}
                    </th>
					
                    <!-- Declines Count -->
                    <th style="text-align:right;">
					    {{totalsTransSnapshot.declines_count}}
                    </th>
					
                    <!-- Declines Amount -->
                    <th style="text-align:right;" ng-class="{'redbalance':totalsTransSnapshot.declines_amount < 0}">
					    {{totalsTransSnapshot.declines_amount | currency}}
                    </th>
					
                     <!-- Declines Percent -->
                    <td>
					    {{(totalsTransSnapshot.declines_count / (totalsTransSnapshot.totals_count)) * 100 | number : 1}}%
                    </td>
					
                     <!-- Totals Count -->
                    <th style="text-align:right;">
					    {{totalsTransSnapshot.totals_count}}
                    </th>
					
                    <!-- Totals Amount -->
                    <th style="text-align:right;" ng-class="{'redbalance':totalsTransSnapshot.totals_amount < 0}">
					    {{totalsTransSnapshot.totals_amount | currency}}
                    </th>
                </tr>
                <tr>
                  <td style="text-align:center" colspan="15">
                    <div class="pagination" ng-show="itemsTransSnapshot.length > itemsPerPage">
                      <ul>
                        <li>
                            <a>{{firstItem}} - {{lastItem}} of {{items.length}}</a>
                        </li>
                        <li ng-class="startPageDisabled()">
                          <a href ng-click="startPage()">«« Start</a>
                        </li>
                        <li ng-class="prevPageDisabled()">
                          <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range()"
                          ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                          <a href="#">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()">
                          <a href ng-click="nextPage()">Next »</a>
                        </li>
                        <li ng-class="endPageDisabled()">
                          <a href ng-click="endPage()">End »»</a>
                        </li>
                        <li>
                            <a>
                            <form>
                                <select data-ng-model="pageSelected" ng-change="goToPage()">
                                    <option ng-repeat="n in rangePages()" value="{{n}}">{{n+1}}</option>
                                </select>
                            </form>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- Export report -->
        <div class="col-md-12 table-responsive" ng-show="transSnapshotShow" id="export-buttons">

            <!-- Export button -->
            <a download="transaction_report.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Export to XLS *');">
                <button class="btn btn-primary">
                    <span class="icon-download-white" aria-hidden="true"></span>
                    Export to XLS
                </button>
            </a>

            <!-- a download="transaction_report.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', ',');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to CSV
                </button>
            </a>

            <a download="transaction_report.tsv" href="#" onclick="return ExcellentExport.csv(this, 'datatable', '\t');">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Export to TSV
                </button>
            </a -->

            <br /><br />
            <div id="exportable" ng-show="false">
                <h1>Transaction Report</h1>
                <table class="table table-striped" id="datatable">
                     <thead>
                      <tr>
                        <th>&nbsp;</th>
                        <th colspan="2">Authorizations</th>
                        <th colspan="2">Sale</th>
                        <th colspan="2">Refunds</th>
                        <th colspan="2">Returns</th>
                        <th colspan="2">Voids</th>
                        <th colspan="3">Declines</th>
                        <th colspan="2">Totals</th>
                      </tr>
                      <tr>
                        <th>Merchant DBA</th>
                        <th>Count</th>
                        <th>Amount</th>
                        <th>Count</th>
                        <th>Amount</th>
                        <th>Count</th>
                        <th>Amount</th>
                        <th>Count</th>
                        <th>Amount</th>
                        <th>Count</th>
                        <th>Amount</th>
                        <th>Count</th>
                        <th>Amount</th>
                        <th>Percent</th>
                        <th>Count</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemsTransSnapshot">
        
                            <!-- Merchant Name -->
                            <td>
                                {{item.merchant_name}}
                            </td>
                            
                            <!-- Authorizations Count -->
                            <td>
                                {{item.authorizations_count}}
                            </td>
                            
                            <!-- Authorizations Amount -->
                            <td>
                                {{item.authorizations_amount | currency}}
                            </td>
                            
                            <!-- Sale Count -->
                            <td>
                                {{item.sale_count}}
                            </td>
                            
                            <!-- Sale Amount -->
                            <td>
                                {{item.sale_amount | displaynullcurrency}}
                            </td>
                            
                            <!-- Refunds Count -->
                            <td>
                                {{item.refunds_count}}
                            </td>
                            
                            <!-- Refunds Amount -->
                            <td>
                                {{item.refunds_amount | currency}}
                            </td>
                            
                            <!-- Returns Count -->
                            <td>
                                {{item.returns_count}}
                            </td>
                            
                            <!-- Returns Amount -->
                            <td>
                                {{item.returns_amount | currency}}
                            </td>
                            
                            <!-- Voids Count -->
                            <td>
                                {{item.voids_count}}
                            </td>
                            
                            <!-- Voids Amount -->
                            <td>
                                {{item.voids_amount | currency}}
                            </td>
                            
                            <!-- Declines Count -->
                            <td>
                                {{item.declines_count}}
                            </td>
                            
                            <!-- Declines Amount -->
                            <td>
                                {{item.declines_amount | currency}}
                            </td>
                            
                             <!-- Declines Percent -->
                            <td>
                                {{(item.declines_count / (item.totals_count)) * 100 | number : 1}}%
                            </td>
                            
                            <!-- Totals Count -->
                            <td>
                                {{item.totals_count}}
                            </td>
                            
                            <!-- Totals Amount -->
                            <td>
                                {{item.totals_amount | currency}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <!-- Merchant Name -->
                            <td>
                                {{totalsTransSnapshot.merchant_name}}
                            </td>
                            
                            <!-- Authorizations Count -->
                            <td>
                                {{totalsTransSnapshot.authorizations_count}}
                            </td>
                            
                            <!-- Authorizations Amount -->
                            <td>
                                {{totalsTransSnapshot.authorizations_amount | currency}}
                            </td>
                            
                            <!-- Sale Count -->
                            <td>
                                {{totalsTransSnapshot.sale_count}}
                            </td>
                            
                            <!-- Sale Amount -->
                            <td>
                                {{totalsTransSnapshot.sale_amount | currency}}
                            </td>
                            
                            <!-- Refunds Count -->
                            <td>
                                {{totalsTransSnapshot.refunds_count}}
                            </td>
                            
                            <!-- Refunds Amount -->
                            <td>
                                {{totalsTransSnapshot.refunds_amount | currency}}
                            </td>
                            
                            <!-- Returns Count -->
                            <td>
                                {{totalsTransSnapshot.returns_count}}
                            </td>
                            
                            <!-- Returns Amount -->
                            <td>
                                {{totalsTransSnapshot.returns_amount | currency}}
                            </td>
                            
                            <!-- Voids Count -->
                            <td>
                                {{totalsTransSnapshot.voids_count}}
                            </td>
                            
                            <!-- Voids Amount -->
                            <td>
                                {{totalsTransSnapshot.voids_amount | currency}}
                            </td>
                            
                            <!-- Declines Count -->
                            <td>
                                {{totalsTransSnapshot.declines_count}}
                            </td>
                            
                            <!-- Declines Amount -->
                            <td>
                                {{totalsTransSnapshot.declines_amount | currency}}
                            </td>
                            
                             <!-- Declines Percent -->
                            <td>
                                {{(totalsTransSnapshot.declines_count / (totalsTransSnapshot.totals_count)) * 100 | number : 1}}%
                            </td>
        
                            
                             <!-- Totals Count -->
                            <td>
                                {{totalsTransSnapshot.totals_count}}
                            </td>
                            
                            <!-- Totals Amount -->
                            <td>
                                {{totalsTransSnapshot.totals_amount | currency}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>      
        </div>        
    </div>
</section>
