<section data-ng-controller="SaleController" data-ng-init="initialize();setTitle('Void');">
    <div class="container1 col-md-12">
         <div id="transactionCompleted" style="display:none;">
            <div class="slide-animate" ng-include="'modules/creditcard/views/transactioncompleted.client.view.html'"></div>
        </div>
        <form id="fieldsForm" class="form-horizontal" data-ng-submit="doVoid()" validate>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                            <h3>Transaction Information</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="transactionsId">Transaction ID</label>
                            <div class="controls">
                                <input type="text" data-ng-model="transactionsId" id="transactionsId" class="form-control" placeholder="Required" required>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-12">
                <div class="form-group">
                    <img id="loadingImg" style="height:40px;display:none;" class="img-responsive text-center" src="modules/creditcard/img/loader.gif" />
                    <input id="submitButton" type="submit" class="btn btn-primary btn-lg" value="Void">
                    <input  ng-click="cleanSmallForm()" id="resetButton"  type="reset" class="btn btn-primary btn-lg" value="Reset">
                </div>
				<div data-ng-show="TransError" class="text-danger">
					<strong data-ng-bind="TransError"></strong>
				</div>
        </div>
            </fieldset>
        </form>
    </div>
</section>