<section class="row" data-ng-controller="SettingsController" data-ng-init="setTitle('');">
	<h3 class="col-md-12 text-center">Edit your profile</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="First_Name">First Name</label>
					<input type="text" id="First_Name" name="First_Name" class="form-control" data-ng-model="user.First_Name" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="Last_Name">Last Name</label>
					<input type="text" id="Last_Name" name="Last_Name" class="form-control" data-ng-model="user.Last_Name" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="Email">Email</label>
					<input type="email" id="Email" name="Email" class="form-control" data-ng-model="user.Email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="Username">Username</label>
					<input type="text" id="Username" name="Username" class="form-control" data-ng-model="user.Username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>	
				</div>
				
				<!--original validation, now using bootstarp modal as confirmation, can come back to this.-->
				
				<!--<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>-->
				
			</fieldset>
		</form>	
	
	</div>
</section>

<div>
    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header">
            <h3 class="modal-title">Edit Profile</h3>
        </div>

        <div class="modal-body">
            <h4 class="modal-title">Your profile has been updated</h4>
        </div>

        <div class="modal-footer">	                
            <button class="btn btn-primary" ng-click="cancel()">OK</button>
        </div>

    </script>
</div>  