<section class="row" data-ng-controller="NationBuilderIntegrationController" data-ng-init="initialize();setTitle('NationBuilder Integration');">
 <div class="col-md-12 container1">
         <div class="form-group">
            <h2>Integrate your Account with NationBuilder</h2>
            <p>
                Integrate your account in 3 easy steps:<br />
                <ul>
                    <li>First, select a product to integrate.</li>
                
                    <li>Second, submit your Nation slug in order to receive an authorization code. (will open in new page)</li>
                    <li>Third, use that authorization code to fully integrate the selected product with your Nation.</li>
                </ul>
            </p>
            <hr>
        </div>
        <form class="form-horizontal" data-ng-submit="integrate();" novalidate>
            <fieldset>
                <!--div class="col-md-12" -->

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Currently integrated:</label>
                            <div ng-show="noIntegrations === true">None</div>
                            <div ng-repeat="c in sampleProductCategories[0].products" id="{{c.processor}}Button" ng-show="c.nationBuilderId">
                                <div class="col-md-12 btn-group"><button class="btn nationBuilderButton" type="button" ng-show="c.nationActive === true">{{c.Name}}</button>
                                <button ng-click="inactivateNationBuilder(c);" class="btn nationBuilderButton" type="button" ng-show="c.nationActive === true"><sup>x</sup></span></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Step 1: Select a product to integrate:</label>
                                <div class="dropdown dropdown-scroll">
                                    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown"><span style="float: left;">{{productId.Name}}</span><span style="float:right;" class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                        <li role="presentation">
                                            <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                        <span class="icon-search-black"></span>
                                                         </span>
                                                <input type="text" class="form-control" placeholder="Query" ng-model="queryproductid"></input>
                                            </div>
                                        </li>
                                        <li role="presentation" ng-click="setProductId(c)" ng-repeat='c in sampleProductCategories[0].products| filter:queryproductid'> <a href=""> {{c.Name}} </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- /div -->

                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label" for="nationBuilderURL">Step 2: Enter your Nation slug:</label>
                        <div class="controls">
                            <input type="text" id="nationBuilderSlug" name="nationBuilderSlug" class="form-control" value="{{productId.nationURL}}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group pull-right">
                            <input type="button" class="btn btn-primary btn-md center-block" ng-click="getCode()" value="Get Code" style="font-size: 0.9em;">
                        </div>
                    </div>
                </div>
                
               <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label" for="nationBuilderURL">Step 3: Enter your authorization code (obtained after you pressed <em>Get Code</em>):</label>
                        <div class="controls">
                            <input type="text" id="AuthorizationCode" name="AuthorizationCode" class="form-control" value="{{productId.oAuthCode}}">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group pull-right">
                            <input type="submit" class="btn btn-primary  btn-md center-block" value="Integrate">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

     
    </div>
</section>