<section class="row" data-ng-controller="NationBuilderOAuthController" data-ng-init="initialize();setTitle('NationBuilder Authorization Code');">
 <div class="col-md-12 container1">
         <div class="form-group">
            <h3>Your Authorization Code</h3>
            <p>Thank you for connecting with NationBuilder.  The final step is to copy the below authorization code and integrate the product in Step 2 of the <em>NationBuilder Integration</em> page.</p>
            <p>Your code: <strong>{{code}}</strong></p>
        </div>
        
     
    </div>
</section>